[Desktop Entry]
Name=Jiggle and Wiggle
Comment=Jiggle and Wiggle that Shape!
X-KDE-PluginInfo-Name=kpr_shapeanimation_example
X-KDE-ServiceTypes=CalligraStage/ShapeAnimation
Type=Service
X-KDE-Library=kpr_shapeanimation_example
X-KPresenter-Version=28
