[Desktop Entry]
Name=Calligra Project Management Component
X-KDE-Library=planworkpart
MimeType=application/x-vnd.kde.plan.work;application/x-vnd.kde.kplato.work;
Type=Service
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
Icon=calligraplanwork
