[Desktop Entry]
Name=Ground
Name[bg]=Заземяване
Name[bs]=Tlo
Name[ca]=Terra
Name[ca@valencia]=Terra
Name[cs]=Zem
Name[de]=Masse
Name[el]=Γείωση
Name[es]=Tierra
Name[et]=Maaühendus
Name[fi]=Maa
Name[fr]=terrain
Name[gl]=Toma de terra
Name[hu]=Föld
Name[it]=Terra
Name[kk]=Жерге қосуы
Name[lt]=Žemės paviršius
Name[nb]=Jord
Name[nds]=Mass
Name[nl]=Aarde
Name[pl]=Uziemienie
Name[pt]=Terra
Name[pt_BR]=Terreno
Name[ru]=Земля
Name[sk]=Zem
Name[sv]=Jord
Name[uk]=Земля
Name[x-test]=xxGroundxx
Name[zh_CN]=地
Name[zh_TW]=接地
