[Desktop Entry]
Name=Horizontal Fuse (European)
Name[bg]=Хоризонтален предпазител (европейски)
Name[ca]=Fusible horitzontal (europeu)
Name[ca@valencia]=Fusible horitzontal (europeu)
Name[de]=Waagerechte Sicherung (europäisch)
Name[el]=Οριζόντια ασφάλεια (Ευρώπη)
Name[es]=Fusible horizontal (europeo)
Name[et]=Horisontaalne kaitse (Euroopa)
Name[it]=Fusibile orizzontale (europeo)
Name[kk]=Жатық сақтандырғышы (Еуропалық)
Name[nb]=Vannrett sikring (DIN)
Name[nds]=Kimmrecht Sekern (europääsch)
Name[nl]=Horizontale zekering (Europees)
Name[pl]=Poziomy bezpiecznik (Europejski)
Name[pt]=Fusível Horizontal (Europeu)
Name[pt_BR]=Fusível horizontal (Europeu)
Name[ru]=Горизонтальный предохранитель (Европейский)
Name[sk]=Vodorovná poistka (európska)
Name[sv]=Horisontell säkring (europeisk)
Name[uk]=Плавкий запобіжник (горизонтально)
Name[x-test]=xxHorizontal Fuse (European)xx
Name[zh_TW]=水平保險絲（歐洲）
