[Desktop Entry]
Name=Horizontal Powersource (European)
Name[en_GB]=Horizontal Powersource (European)
Name[fi]=Vaaka virtalähde (eurooppalainen)
Name[fr]=Horizontal Powersource (European)
Name[nl]=Horizontale stroombron (Europees)
Name[x-test]=xxHorizontal Powersource (European)xx
