[Desktop Entry]
Name=Horizontal Powersource (European)
Name[bg]=Хоризонтален източник на енергия (европейски)
Name[ca]=Font d'alimentació horitzontal (europea)
Name[ca@valencia]=Font d'alimentació horitzonal (europea)
Name[de]=Waagerechte Stromquelle (europäisch)
Name[el]=Οριζόντια πηγή ισχύος (Ευρώπη)
Name[es]=Fuente de energía horizontal (europeo)
Name[et]=Horisontaalne vooluallikas (Euroopa)
Name[it]=Sorgente di alimentazione orizzontale (europea)
Name[kk]=Жатық қуат көзі (Еуопалық)
Name[nb]=Vannrett kraftkilde (DIN)
Name[nds]=Kimmrecht Stroomborn (europääsch)
Name[nl]=Horizontale stroombron (Europees)
Name[pl]=Poziome źródło mocy (Europejskie)
Name[pt]=Fonte Alimentação Horizontal (Europeu)
Name[pt_BR]=Fonte de alimentação horizontal (Europeia)
Name[ru]=Горизонтальный источник питания (Европейский)
Name[sk]=Vodorovný zdroj napäria (európsky)
Name[sv]=Horisontell kraftkälla (europeisk)
Name[uk]=Джерело струму (горизонтально, Європа)
Name[x-test]=xxHorizontal Powersource (European)xx
Name[zh_TW]=水平電源（歐洲）
