[Desktop Entry]
Name=Horizontal Zener Diode
Name[pt]=Díodo de Zener Horizontal
Name[uk]=Стабілітрон (горизонтально)
Name[x-test]=xxHorizontal Zener Diodexx
