[Desktop Entry]
Name=Lamp (European)
Name[pt]=Lâmpada (Europeu)
Name[pt_BR]=Lâmpada (Européia)
Name[uk]=Лампа (Європа)
Name[x-test]=xxLamp (European)xx
