[Desktop Entry]
Name=NPN Transistor
Name[en_GB]=NPN Transistor
Name[fi]=NPN-transistori
Name[fr]=NPN Transistor
Name[nl]=NPN transistor
Name[x-test]=xxNPN Transistorxx
