[Desktop Entry]
Name=Vertical Inductor (European)
Name[en_GB]=Vertical Inductor (European)
Name[fr]=Vertical Inductor (European)
Name[nl]=Verticale spoel (Europees)
Name[x-test]=xxVertical Inductor (European)xx
