[Desktop Entry]
Name=Vertical Resistor (European)
Name[pt]=Resistência Vertical (Europeu)
Name[pt_BR]=Resistor vertical (Europeu)
Name[x-test]=xxVertical Resistor (European)xx
