[Desktop Entry]
Name=Vertical Resistor (European)
Name[bg]=Вертикално съпротивление (европейски)
Name[ca]=Resistor vertical (europeu)
Name[ca@valencia]=Resistor vertical (europeu)
Name[de]=Senkrechter Widerstand (europäisch)
Name[el]=Κάθετος αντιστάτης (Ευρώπη)
Name[es]=Resistencia vertical (europea)
Name[et]=Vertikaalne takisti (Euroopa)
Name[it]=Resistore verticale (europeo)
Name[kk]=Тік резистор (Еуропалық)
Name[nb]=Loddrett motstand (DIN)
Name[nds]=Pielrecht Wedderstand (europääsch)
Name[nl]=Verticale weerstand (Europees)
Name[pl]=Pionowa rezystancja (Europejska)
Name[pt]=Resistência Vertical (Europeu)
Name[pt_BR]=Resistor vertical (Europeu)
Name[ru]=Вертикальный резистор (Европейский)
Name[sk]=Zvislý rezistor (európsky)
Name[sv]=Vertikalt motstånd (europeiskt)
Name[uk]=Резистор (вертикально, Європа)
Name[x-test]=xxVertical Resistor (European)xx
Name[zh_TW]=垂直電阻（歐洲）
