[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KWord's OpenOffice.org Writer Export Filter
Name[bg]=Филтър за експорт от KWord в OpenOffice.org Writer
Name[ca]=Filtre d'exportació OpenOffice.org Writer per a KWord
Name[cs]=Exportní filtr formátu OpenOffice.org Writer pro KWord
Name[cy]=Hidlenen Allforio OpenOffice.org Writer KWord
Name[da]=KWords OpenOffice.org Writer-eksportfilter
Name[de]=OpenOffice.org-Writer-Exportfilter für KWord
Name[el]=Φίλτρο εξαγωγής OpenOffice.org Writer του KWord
Name[es]=Filtro de importación de OpenOffice.org Writer para Kword
Name[et]=KWordi OpenOffice.org Writeri ekspordifilter
Name[fi]=KWord OpenOffice.org Writer -vientisuodin
Name[fr]=Filtre d'exportation OpenOffice.org Writer de KWord
Name[he]=מסנן ייצוא מ-KWord לכתבן של OpenOffice.org
Name[hu]=OpenOffice.org Writer exportszűrő a KWordhöz
Name[it]=Filtro di esportazione OpenOffice.org Writer per KWord
Name[nb]=OpenOffice.org Writer-eksportfilter for KWord
Name[nl]=KWord's OpenOffice.org Writer Exportfilter
Name[nn]=OpenOffice.org Writer-eksportfilter for KWord
Name[pl]=Filtr eksportu do formatu OpenOffice.org Writer z KWord
Name[pt]=Filtro de Exportação de OpenOffice.org Writer para o KWord
Name[pt_BR]=Filtro de Exportação OpenOffice.org do KWord
Name[ru]=Фильтр экспорта KWord в OpenOffice.org
Name[se]=KWord:a OpenOffice.org Writer-olggosfievrridansilli
Name[sk]=OpenOffice.org Writer filter pre export z KWord
Name[sl]=Izvozni filter OpenOffice.org Writer za KWord
Name[sr]=KWord-ов филтер за извоз у OpenOffice.org Writer
Name[sv]=Kword-exportfilter för OpenOffice.org Writer
Name[tg]=Филтри Содироти KWord's OpenOffice.org Writer
Name[tr]=KWord için Microsoft Write Alma Filtresi
Name[uz]=KWord OpenOffice.org Writer экспорт филтери
Name[zh_CN]=KWord 的 OpenOffice.org Writer 导出过滤器
X-KDE-Export=application/vnd.sun.xml.writer
X-KDE-Import=application/x-kword
X-KDE-Weight=1
X-KDE-Library=liboowriterexport
ServiceTypes=KOfficeFilter
