[Desktop Entry]
Name=Renewable Energy
Name[et]=Taaskasutatav energia
Name[pt]=Energia Renovável
Name[uk]=Відновлювальні джерела енергії
Name[x-test]=xxRenewable Energyxx
X-KDE-DirType=odg-collection
