[Desktop Entry]
Name=Cup Anemometer
Name[pt]=Anemómetro Chave
Name[pt_BR]=Anemômetro chave
Name[uk]=Чашковий анемометр
Name[x-test]=xxCup Anemometerxx
