[Desktop Entry]
Name=Wind Measurement Tower
Name[pt]=Torre Medida Vento
Name[pt_BR]=Torre de medida de vento
Name[sv]=Vindmätningstorn
Name[uk]=Башта вимірювання сили вітру
Name[x-test]=xxWind Measurement Towerxx
