[Desktop Entry]
Name=displa
Name[el]=displa
Name[es]=displa
Name[nb]=skjerm
Name[pl]=displa
Name[pt]=displa
Name[pt_BR]=displa
Name[sv]=fördelare
Name[uk]=Обертальний насос або компресор з додатним зміщенням
Name[x-test]=xxdisplaxx
Name[zh_TW]=displa
