[Desktop Entry]
Name=floatingroof
Name[el]=floatingroof
Name[nb]=flytetak
Name[pl]=pływający dach
Name[pt]=tecto-flutuante
Name[pt_BR]=teto flutuante
Name[sv]=rörligt tak
Name[uk]=Резервуар з рухомою кришкою
Name[x-test]=xxfloatingroofxx
Name[zh_TW]=floatingroof
