[Desktop Entry]
Name=gasholder
Name[ca]=sortidor
Name[es]=bombona de gas
Name[nb]=gassholder
Name[nl]=gashouder
Name[pl]=zbiornik na gaz
Name[pt]=cisterna
Name[pt_BR]=cisterna
Name[ru]=Ёмкость для газа
Name[sv]=gasbehållare
Name[uk]=Газосховище
Name[x-test]=xxgasholderxx
Name[zh_TW]=gasholder
