[Desktop Entry]
Name=measure
Name[el]=μέτρηση
Name[nb]=mål
Name[nl]=maat
Name[pl]=miara
Name[pt]=medida
Name[pt_BR]=medida
Name[sv]=mått
Name[uk]=Вимірювання
Name[x-test]=xxmeasurexx
Name[zh_TW]=measure
