[Desktop Entry]
Name=pnuemv
Name[ca]=pnuemv
Name[el]=pnuemv
Name[es]=neumático v
Name[et]=Vertikaalne pneumojuhe
Name[it]=pneumv
Name[nb]=pnuemv
Name[pl]=pnuemv
Name[pt]=pnuem-v
Name[pt_BR]=pnuem-v
Name[sv]=pnuem vertikal
Name[uk]=Пневматична вертикальна лінія
Name[x-test]=xxpnuemvxx
Name[zh_TW]=pnuemv
