[Desktop Entry]
Name=spray
Name[bg]=спрей
Name[ca]=esprai
Name[ca@valencia]=esprai
Name[cs]=sprej
Name[el]=spray
Name[et]=Segisti
Name[it]=spray
Name[nb]=dusj
Name[nl]=spray
Name[pl]=spray
Name[pt]=spray
Name[pt_BR]=spray
Name[ru]=Распылитель
Name[sv]=sprej
Name[uk]=Розпилювач
Name[x-test]=xxsprayxx
Name[zh_TW]=spray
