[Desktop Entry]
Name=traycol
Name[ca]=escombraries
Name[ca@valencia]=escombraries
Name[el]=traycol
Name[es]=columna de bandejas
Name[et]=Destillatsioonikolonn
Name[gl]=traycol
Name[it]=traycol
Name[kk]=Ректификатор
Name[nb]=kolonne bunner
Name[nl]=schotelkolom
Name[pl]=traycol
Name[pt]=bandeja
Name[pt_BR]=bandeja
Name[ru]=Лоток
Name[sk]=traycol
Name[sv]=kolonn bottnar
Name[uk]=Спрощена тарільчата колона
Name[x-test]=xxtraycolxx
Name[zh_TW]=traycol
