[Desktop Entry]
Name=val
Name[ca]=val
Name[el]=val
Name[es]=válvula
Name[et]=Ventiil
Name[it]=val
Name[kk]=Шұра
Name[nb]=ventil
Name[nl]=val
Name[pl]=val
Name[pt]=val
Name[pt_BR]=val
Name[sv]=ventil
Name[uk]=Клапан
Name[x-test]=xxvalxx
Name[zh_TW]=val
