[Desktop Entry]
Name=wcoolv
Name[bs]=wcoolv
Name[ca]=wcoolv
Name[ca@valencia]=wcoolv
Name[da]=wcoolv
Name[el]=wcoolv
Name[es]=refrigerador de agua vertical
Name[et]=Vertikaalne veejahuti
Name[fr]=wcoolv
Name[gl]=Intercambiador de calor vertical
Name[it]=wcoolv
Name[kk]=Тік су салқындатқышы
Name[nb]=vannkjøler loddrett
Name[nl]=wkoelerv
Name[pl]=wcoolv
Name[pt]=arrefecimento-água-v
Name[pt_BR]=arrefecimento à água em v
Name[sk]=wcoolv
Name[sv]=vattenkylare vertikal
Name[uk]=Вертикальний водяний охолоджувач
Name[x-test]=xxwcoolvxx
Name[zh_TW]=wcoolv
