[Desktop Entry]
Name=DigitalMixer
Name[ca@valencia]=DigitalMixer
Comment=DigitalMixer
Comment[ca@valencia]=DigitalMixer
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritadigitalmixer
X-Krita-Version=5
