[Desktop Entry]
Name=Alternative External Entity
Name[bs]=Alternativni vanjski entitet
Name[ca]=Entitat externa alternativa
Name[ca@valencia]=Entitat externa alternativa
Name[da]=Alternative External Entity
Name[de]=Externe Entität wechseln
Name[el]=Εναλλακτική εξωτερική οντότητα
Name[es]=Entidad externa alternativa
Name[et]=Alternatiivne väline olem
Name[fr]=Unité externe alternative
Name[gl]=Entidade externa alternativa
Name[it]=Entità esterna alternativa
Name[kk]=Басқа сыртқы нәрсе
Name[nb]=Alternativ ekstern enhet
Name[nl]=Alternatieve externe entiteit
Name[pl]=Alternatywny zewnętrzny podmiot
Name[pt]=Entidade Externa Alternativa
Name[pt_BR]=Entidade externa alternativa
Name[ru]=Другая внешняя сущность
Name[sk]=Alternatívna externá entita
Name[sv]=Alternativ extern enhet
Name[uk]=Інший зовнішній об’єкт
Name[x-test]=xxAlternative External Entityxx
Name[zh_TW]=替代外部實體
