[Desktop Entry]
Name=Alternative External Entity
Name[pt]=Entidade Externa Alternativa
Name[uk]=Інший зовнішній об’єкт
Name[x-test]=xxAlternative External Entityxx
