[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=CalligraPart
X-KDE-Derived=KParts/ReadWritePart
Comment=Calligra Component
Comment[bg]=Компонент на Calligra
Comment[cs]=Komponenta Calligra
Comment[da]=Calligra-komponent
Comment[de]=Calligra-Komponente
Comment[et]=Calligra komponent
Comment[it]=Componente di Calligra
Comment[nb]=Calligra-komponent
Comment[nds]=Calligra-Komponent
Comment[pl]=Składnik Calligry
Comment[pt]=Componente do Calligra
Comment[pt_BR]=Componente do Calligra
Comment[sv]=Calligra-komponent
Comment[uk]=Компонент Calligra
Comment[x-test]=xxCalligra Componentxx
Comment[zh_TW]=Calligra 組件

# Name of the native mimetype (mandatory) - currently still the Calligra-1.3 one, e.g. application/x-words
[PropertyDef::X-KDE-NativeMimeType]
Type=QString

# Name of the OASIS native mimetype (temporary, and optional)
[PropertyDef::X-KDE-NativeOasisMimeType]
Type=QString

# Name of the additional mimetypes that the application can load/save natively
[PropertyDef::X-KDE-ExtraNativeMimeTypes]
Type=QStringList

[PropertyDef::X-KDE-NOTKoDocumentEmbeddable]
Type=bool
