[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KOfficeFilter
Comment=KOffice Filter
Comment[ca]=Filtre KOffice
Comment[cs]=Filtr KOffice
Comment[da]=Koffice filter
Comment[de]=KOffice-Filter
Comment[el]=Φίλτρο του KOffice
Comment[eo]=KOficejo-filtrilo
Comment[es]=Filtro KOffice
Comment[et]=KOffice'i filter
Comment[fi]=KOffice-suodin
Comment[fr]=Filtre KOffice
Comment[gl]=Filtro de KOffice
Comment[he]=KOffice ןנסמ
Comment[hr]=KOffice filter
Comment[hu]=KOffice szűrő
Comment[is]=Sía f. K-vöndulinn
Comment[it]=Filtro per KOffice
Comment[ja]=KOfficeフィルター
Comment[lt]=KOffice Filtras
Comment[mk]=KOffice филтер
Comment[no]=KOffice-filter
Comment[no_NY]=KOffice-filter
Comment[pl]=Filtr KOffice
Comment[pt]=Filtro do KOffice
Comment[pt_BR]=Filtro do KOffice
Comment[ro]=Filtru KOffice
Comment[ru]=Фильтр KOffice
Comment[sk]=Filter Koffice
Comment[sl]=Filter za KOffice
Comment[sr]=Filter za KOffice
Comment[sv]=KOffice-filter
Comment[ta]=KOffice ÅÊ¸ðÊ
Comment[tr]=KOffice Süzgeci
Comment[uk]=Фільтр KOffice
Comment[zh_CN.GB2312]=KOffice 过滤程序
Comment[zh_TW.Big5]=KOffice 過濾器

[PropertyDef::Import]
Type=QStringList

[PropertyDef::ImportDescription]
Type=QStringList

[PropertyDef::Export]
Type=QStringList

[PropertyDef::ExportDescription]
Type=QStringList

[PropertyDef::Implemented]
Type=QString

