[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KOfficePlugin
Comment=KOffice Plugin
Comment[af]=koffice inplak
Comment[ar]=ملحق لKOffice
Comment[az]=KOffice Əlavəsi
Comment[bg]=Plugin за KOffice
Comment[br]=Lugant KOffice
Comment[bs]=KOffice dodatak
Comment[ca]=Endollat de KOffice
Comment[cs]=KOffice plugin
Comment[da]=KOffice-indstik
Comment[de]=KOffice-Plugin
Comment[el]=Πρόσθετο του KOffice
Comment[eo]=instalebla komponento por KOficejo
Comment[es]=Plugin de KOffice
Comment[et]=KOffice plugin
Comment[fi]=KOffice-sovelma
Comment[fo]=KSkrivstovu-ístingur
Comment[fr]=Module externe de KOffice
Comment[he]=תוסף של KOffice
Comment[hr]=KOffice dodatak
Comment[hu]=KOffice bővítőmodul
Comment[id]=Plugin KOffice
Comment[is]=Viðbót f. KDE-vöndulinn
Comment[it]=Plugin di KOffice
Comment[ja]=KOfficeプラグイン
Comment[lt]=KOffice Priedas
Comment[lv]=KOffice Iespraudnis
Comment[mk]=KOffice плагин
Comment[mt]=Plagin KOffice
Comment[nb]=KOffice programtillegg
Comment[nn]=KOffice-modul
Comment[pl]=Wtyczka KOffice
Comment[pt]=Módulo para o KOffice
Comment[pt_BR]=Plug-in do KOffice
Comment[ro]=Modul KOffice
Comment[ru]=Дополнение KOffice
Comment[sk]=Zásuvný modul Koffice
Comment[sl]=Vstavek za KOffice
Comment[sr]=Dodatak za KOffice
Comment[sv]=Insticksprogram till Koffice
Comment[ta]=KOffice ¦ºÕ¸ø
Comment[th]=ปลั๊กอินของโปรแกรมชุดสำนักงาน K
Comment[uk]=Додаток KOffice
Comment[ven]=Plugin ya ofisi ya K
Comment[xh]=Iplagi efakiweyo ye KOffice
Comment[xx]=xx
Comment[zh_CN]=KOffice 插件
Comment[zh_TW]=KOffice 外掛程式
Comment[zu]=Iplagi efakiweyo ye KOffice

[PropertyDef::MenuEntries]
Type=QStringList

[PropertyDef::ToolBarEntries]
Type=QStringList

