[Desktop Entry]
Name=Calendar Tool
Name[bg]=Инструмент календар
Name[ca]=Eina de calendari
Name[ca@valencia]=Eina de calendari
Name[cs]=Nástroj kalendáře
Name[da]=Kalenderværktøj
Name[de]=Kalender-Werkzeug
Name[el]=Εργαλείο ημερολογίου
Name[en_GB]=Calendar Tool
Name[es]=Herramienta de calendario
Name[et]=Kalendritööriist
Name[ga]=Uirlis Fhéilire
Name[gl]=Ferramenta de Calendario
Name[he]=כלי לוח־שנה
Name[hne]=कलेन्डर औजार
Name[it]=Strumento calendario
Name[ja]=カレンダーツール
Name[kk]=Күнтізбе құралы
Name[lv]=Kalendāra rīks
Name[nb]=Kalenderverktøy
Name[nds]=Kalennerwarktüüch
Name[nl]=Kalenderhulpmiddel
Name[pt]=Ferramenta de Calendário
Name[pt_BR]=Ferramenta de Calendário
Name[sl]=Koledarsko orodje
Name[sv]=Kalenderverktyg
Name[tr]=Takvim Aracı
Name[uk]=Інструмент календаря
Name[wa]=Usteye calindrî
Name[x-test]=xxCalendar Toolxx
Name[zh_CN]=日历工具
Name[zh_TW]=行事曆工具
Comment=Inserts a calendar into a cell range.
Comment[bg]=Вмъкване на календар в набор от клетки
Comment[ca]=Insereix un calendari a un interval de cel·la.
Comment[ca@valencia]=Insereix un calendari a un interval de cel·la.
Comment[da]=Indsætter en kalender i et celleområde.
Comment[de]=Fügt einen Kalender in einen Zellbereich ein.
Comment[el]=Εισαγωγή ενός ημερολογίου σε ένα εύρος κελιών.
Comment[en_GB]=Inserts a calendar into a cell range.
Comment[es]=Inserta un calendario en un intervalo de celdas.
Comment[et]=Kalendri lisamine lahtrivahemikku.
Comment[gl]=Insire un calendario nun rango de celas.
Comment[it]=Inserisce un calendario in un intervallo di celle.
Comment[ja]=セルの範囲にカレンダーを挿入します
Comment[kk]=Ұяшықтар аумағына күнтізбені ендіреді.
Comment[lv]=Ievieto kalendāru šūnu diapazonā
Comment[nb]=Setter inn en kalender i et celleområde.
Comment[nds]=Föögt en Kalenner na en Zellrebeet in.
Comment[nl]=Voeg een kalender in in een celreeks.
Comment[pt]=Insere um calendário num intervalo de células.
Comment[pt_BR]=Insere um calendário em um intervalo de células.
Comment[sv]=Infogar en kalender i ett cellintervall
Comment[tr]=Hücre genişliğine takvim ekle
Comment[uk]=Вставляє календар у діапазон комірок.
Comment[wa]=Sititche on calindrî dins one fortchete di boesses
Comment[x-test]=xxInserts a calendar into a cell range.xx
Comment[zh_CN]=在单元格范围中插入日历。
Comment[zh_TW]=將行事曆插入一塊儲存格範圍。
Icon=office-calendar
Type=Service
X-KDE-Library=kspread_plugin_tool_calendar
X-KDE-ServiceTypes=KSpread/Plugin,KOfficePlugin,KPluginInfo
X-KSpread-Version=2
MenuEntries=
ToolBarEntries=
X-KDE-PluginInfo-Author=Raphael Langerhorst
X-KDE-PluginInfo-Email=raphael.langerhorst@kdemail.net
X-KDE-PluginInfo-Name=CalendarTool
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.koffice.org/
X-KDE-PluginInfo-Category=Tool
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
