[Desktop Entry]
Name=Presentation Document...
Comment=New Stage presentation document:
Type=Link
URL=.source/Presentation.odp
Icon=application-vnd.oasis.opendocument.presentation
