[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.stardivision.writer-global
Patterns=*.sgl;*.SGL;
Icon=wordprocessing
Comment=StarOffice Writer Master Document
Comment[bg]=Главен документ на StarOffice Writer
Comment[cy]=Dogfen Feistr StarOffice Writer
Comment[da]=StarOffice Writer Masterdokument
Comment[de]=StarOffice Writer Master-Dokument
Comment[el]=Κύριο έγγραφο του StarOffice Writer
Comment[es]=Documento maestro de StarOffice Writer
Comment[et]=StarOffice Writeri peadokument
Comment[fi]=StarOffice Writer -pääasiakirja
Comment[fr]=Document maître StarOffice Writer
Comment[he]=מסמך־אב של StarOffice Writer
Comment[hu]=StarOffice Writer fődokumentum
Comment[it]=Documento principale di StarOffice Writer
Comment[lt]=StarOffice Writer „master“ dokumentas
Comment[nb]=StarOffice Writer-hoveddokument
Comment[nl]=StarOffice Writer-hoofddocument
Comment[nn]=StarOffice Writer-hovuddokument
Comment[pt]=Documento Mestre do Writer do StarOffice
Comment[pt_BR]=Documento Mestre do StarOffice Writer
Comment[ru]=Основной документ StarOffice Writer
Comment[sl]=Dokument za StarOffice Writer Master
Comment[sr]=StarOffice Writer-ов главни документ
Comment[sr@Latn]=StarOffice Writer-ov glavni dokument
Comment[sv]=StarOffice Writer-huvuddokument
Comment[tg]=Ҳуҷҷати асосии StarOffice Writer
Comment[tr]=StarOffice Writer Ana Belge
Comment[uk]=Головний документ StarOffice Writer
Comment[wa]=Mwaisse documint d' tecse StarOffice
Comment[xx]=xxStarOffice Writer Master Documentxx
[Property::X-KDE-NativeExtension]
Type=QString
Value=.sgl
