[Desktop Entry]
Name=Client Application
Name[bg]=Клиентско приложение
Name[ca]=Aplicació client
Name[ca@valencia]=Aplicació client
Name[de]=Client-Anwendung
Name[el]=Εφαρμογή χρήστη
Name[es]=Aplicación cliente
Name[et]=Klientrakendus
Name[hu]=Kliens alkalmazás
Name[it]=Applicazione client
Name[kk]=Клиент қолданбасы
Name[nb]=Klientprogram
Name[nds]=Client-Programm
Name[nl]=Client-toepassing
Name[pl]=Program kliencki
Name[pt]=Aplicação do Cliente
Name[pt_BR]=Aplicação cliente
Name[ru]=Клиентское приложение
Name[sk]=Klientska aplikácia
Name[sv]=Klientprogram
Name[uk]=Програма-клієнт
Name[x-test]=xxClient Applicationxx
Name[zh_TW]=客戶端應用程式
