[Desktop Entry]
Name=Replication Server
Name[el]=Εξυπηρετητής αντιγράφων
Name[es]=Servidor de replicación
Name[et]=Replikatsiooniserver
Name[nb]=Replikeringstjener
Name[pt]=Servidor Replicação
Name[pt_BR]=Servidor de replicação
Name[sv]=Replikeringsserver
Name[uk]=Сервер реплікації
Name[x-test]=xxReplication Serverxx
