[Desktop Entry]
Name=Replication Server Manager
Name[el]=Διαχειριστής εξυπηρετητή αντιγράφων
Name[es]=Gestor de servidor de replicación
Name[et]=Replikatsiooniserveri haldur
Name[nb]=Replikeringsstyrer
Name[pt]=Gestor do Servidor Replicação
Name[pt_BR]=Gerenciador de servidor de replicação
Name[sv]=Replikeringsserverhantering
Name[uk]=Менеджер сервера реплікації
Name[x-test]=xxReplication Server Managerxx
