[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.presentation-template
Patterns=*.otp;*.OTP
Icon=presentation
Comment=OASIS OpenDocument Presentation Template
Comment[bg]=Шаблон за презентация на OASIS OpenDocument
Comment[br]=Patrom un emginnig OASIS OpenDocument
Comment[ca]=Plantilla de presentació OASIS OpenDocument
Comment[cy]=Patrymlun Cyflwyniad OASIS OpenDocument
Comment[da]=OASIS OpenDocument præsentationsskabelon
Comment[de]=OASIS OpenDocument-Präsentation (Vorlage)
Comment[el]=Πρότυπο παρουσίασης του OASIS OpenDocument
Comment[es]=Plantilla de presentación de OASIS OpenDocument
Comment[et]=OASIS OpenDocument esitlusemall
Comment[eu]=OASIS OpenDocument aurkezpen-txantiloia
Comment[fi]=OASIS OpenDocument esityspohja
Comment[fr]=Modèle de présentation OASIS OpenDocument
Comment[he]=תבנית מצגת של OASIS OpenDocument
Comment[hi]=ओएसिस ओपनडाकुमेंट प्रेजेंटेशन टैम्प्लेट
Comment[hu]=OASIS OpenDocument bemutatósablon
Comment[is]=OASIS OpenDocument kynningarsnið
Comment[it]=Modello di presentazione OpenDocument OASIS
Comment[ja]=OASIS OpenDocument プレゼンテーション テンプレート
Comment[lt]=OASIS OpenDocument pateikčių šablonas
Comment[ms]=Templat Persembahan Dokumen Terbuka OASIS
Comment[nb]=OASIS OpenDocument-presentasjonsmal
Comment[nl]=OASIS OpenDocument Presentatiesjabloon
Comment[nn]=OASIS OpenDocument-presentasjonsmal
Comment[pl]=Szablon prezentacji w formacie OASIS OpenDocument
Comment[pt_BR]=Modelo de Apresentação OpenDocument OASIS
Comment[ru]=Шаблон презентации OASIS OpenDocument
Comment[sl]=Predloga predstavitve OASIS OpenDocument
Comment[sr]=OASIS-ов OpenDocument шаблон за презентације
Comment[sr@Latn]=OASIS-ov OpenDocument šablon za prezentacije
Comment[sv]=OASIS OpenDocument presentationsmall
Comment[uk]=Шаблон презентації OASIS OpenDocument
Comment[zh_CN]=OASIS OpenDocument 演示文稿模板
[Property::X-KDE-NativeExtension]
Type=QString
Value=.otp
