[Desktop Entry]
Encoding=UTF-8
Name=Form Designer KDevelop Plugin
Name[fr]=Module externe KDevelop de composition d'interfaces graphiques
Name[ja]=フォームデザイナー Kdevelop プラグイン
Name[x-test]=xxForm Designer KDevelop Pluginxx
MimeType=application/x-designer;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkformdesigner_kdev_part
Type=Service
InitialPreference=0
