[Desktop Entry]
Name=Decode Subsystem
Name[bs]=Dekodni podsistem
Name[ca]=Subsistema descodificador
Name[ca@valencia]=Subsistema descodificador
Name[da]=Decode Subsystem
Name[de]=Dekodierungs-Untersystem
Name[el]=Αποκωδικοποίηση υποσυστήματος
Name[en_GB]=Decode Subsystem
Name[eo]=Malkodi Subsistemon
Name[es]=Subsistema de decodificación
Name[et]=Allsüsteemi dekodeerimine
Name[eu]=Deskodetze-azpisistema
Name[fr]=Sous-système de décodage
Name[gl]=Subsistema de descodificación
Name[it]=Sottosistema di decodifica
Name[ka]=დეკოდერის ქვესისტემა
Name[kk]=Ішкі декодер жүйесі
Name[ko]=디코드 서브시스템
Name[lv]=Dekodēšanas apakšsistēma
Name[nb]=Avkodingsdelsystem
Name[nl]=Decodeer-subsysteem
Name[pl]=Podsystem dekodujący
Name[pt]=Sub-sistema Descodificação
Name[pt_BR]=Subsistema de decodificação
Name[ru]=Подсистема декодирования
Name[sk]=Dekódovať sybsystém
Name[sl]=Dekodirni podsistem
Name[sv]=Avkodningsdelsystem
Name[tr]=KodÇözme Altsistemi
Name[uk]=Підсистема декодування
Name[x-test]=xxDecode Subsystemxx
Name[zh_CN]=解码子系统
Name[zh_TW]=解碼子系統
