[Desktop Entry]
Name=Ingestor
Name[bs]=Ingestor
Name[ca]=Ingestor
Name[ca@valencia]=Ingestor
Name[da]=Ingestor
Name[de]=Aufnehmer
Name[el]=Ingestor
Name[en_GB]=Ingestor
Name[eo]=Ingestor
Name[es]=Ingestor
Name[et]=Sissetooja
Name[eu]=Ingestorea
Name[fr]=Ingestor
Name[gl]=Inxestor
Name[it]=Ingestor
Name[ka]=მიმღები
Name[kk]=Жұтқыш
Name[lv]=Uzņēmējs
Name[nb]=Inntak
Name[nl]=Ingestor
Name[pl]=Trawienie
Name[pt]=Ingestão
Name[pt_BR]=Ingestão
Name[ru]=Приёмник
Name[sk]=Ingestor
Name[sl]=Nalagalnik
Name[sv]=Intag
Name[tr]=Pikap
Name[uk]=Підсистема харчування
Name[x-test]=xxIngestorxx
Name[zh_TW]=吸收器
