[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KPresenter/ShapeAnimation
Comment=Shape animation plugin for KPresenter
Comment[el]=Πρόσθετο κίνησης σχήματος για το KPresenter
Comment[fi]=Hahmojen animointiliitännäinen KPresenter-ohjelmaa varten
Comment[it]=Plugin per l'animazione delle forme per KPresenter
Comment[pt]='Plugin' de animação de formas para o KPresenter
Comment[pt_BR]='Plugin' de animação de formas para o KPresenter
Comment[sv]=Insticksprogram med animeringsåtgärderför KPresenter
Comment[uk]=Втулка анімації форм для KPresenter
Comment[zh_TW]=KPresenter 元件動畫外掛程式
[PropertyDef::X-KPresenter-Version]
Type=int
