[Desktop Entry]
Type=Service
Name=ODT to Mobi Export Filter
Name[cs]=Exportní filtr ODT do Mobi
Name[da]=ODT til Mobi-eksportfilter
Name[de]=Exportfilter ODT zu Mobi
Name[el]=Φίλτρο εξαγωγής ODT σε Mobi
Name[es]=Filtro de exportación de ODT a Mobi
Name[et]=ODT->Mobi ekspordifilter
Name[fr]=Filtre d'exportation ODT vers Mobi
Name[gl]=Filtro de exportacións de ODT a Mobi
Name[hu]=ODT -> Mobi exportszűrő
Name[it]=Filtro di esportazione da ODT a Mobi
Name[kk]=Krita -> Mobi экспорт сүзгісі
Name[lt]=ODT į Mobi eksporto filtras
Name[nl]=ODT naar Mobi exportfilter
Name[pl]=Filtr eksportu ODT do Mobi
Name[pt]=Filtro de Exportação de ODT para Mobi
Name[pt_BR]=Filtro de exportação de ODT para Mobi
Name[sk]=Exportný filter ODT do Mobi
Name[sl]=Izvozni filter ODT v Mobi
Name[sv]=ODT-till-Mobi-exportfilter
Name[uk]=Фільтр експорту ODT до Mobi
Name[x-test]=xxODT to Mobi Export Filterxx
Name[zh_CN]=ODT 到 Mobi 导出过滤器

X-KDE-Export=application/x-mobipocket-ebook
X-KDE-Import=application/vnd.oasis.opendocument.text
X-KDE-Weight=1
X-KDE-Library=exportMobi
X-KDE-ServiceTypes=CalligraFilter

