[Desktop Entry]
Name=Internal Storage
Name[bg]=Вътрешно хранилище
Name[bs]=Unutrašnje skladište
Name[ca]=Emmagatzematge intern
Name[ca@valencia]=Emmagatzematge intern
Name[cs]=Interní úložiště
Name[da]=Intern opbevaring
Name[de]=Interner Speicher
Name[el]=Εσωτερική αποθήκη
Name[en_GB]=Internal Storage
Name[eo]=Interna memoro
Name[es]=Almacenamiento interno
Name[et]=Sisemine salvesti
Name[eu]=Barne-memoria
Name[fi]=Sisäinen tietovarasto
Name[fr]=Stockage interne
Name[gl]=Almacenamento interno
Name[he]=אחסון פנימי
Name[hu]=Belső tároló
Name[it]=Memorizzazione interna
Name[ja]=内部ストレージ
Name[ka]=შიდა საცავი
Name[kk]=Ішкі жинақтауыш
Name[ko]=내부 저장소
Name[lt]=Vidinė saugykla
Name[lv]=Iekšējā krātuve
Name[nb]=Indre lager
Name[nds]=Intern Spieker
Name[nl]=Interne opslag
Name[pl]=Wewnętrzny magazyn
Name[pt]=Armazenamento Interno
Name[pt_BR]=Armazenamento interno
Name[ru]=Внутреннее хранилище
Name[sk]=Interné úložisko
Name[sl]=Notranja shramba
Name[sv]=Intern lagring
Name[tr]=İç Depolama
Name[uk]=Внутрішня пам'ять
Name[x-test]=xxInternal Storagexx
Name[zh_CN]=内部存储
Name[zh_TW]=內部儲存器
