[Desktop Entry]
Name=Paper Tape
Name[bs]=Papirna traka
Name[ca]=Cinta de paper
Name[ca@valencia]=Cinta de paper
Name[da]=Hulstrimmel
Name[de]=Lochstreifen
Name[el]=Χάρτινη ταινία
Name[en_GB]=Paper Tape
Name[eo]=Papera Bendo
Name[es]=Cinta de papel
Name[et]=Paberlint
Name[eu]=Paper-zinta
Name[fi]=Paperinauha
Name[fr]=Bande de papier
Name[gl]=Cinta de papel
Name[hu]=Papírszalag
Name[it]=Nastro di carta
Name[ja]=紙テープ
Name[ka]=ფურცლის ლენტი
Name[kk]=Қағаз таспасы
Name[ko]=종이 테이프
Name[lv]=Papīra lente
Name[nb]=Hullbånd
Name[nl]=Ponsband
Name[pl]=Taśma papierowa
Name[pt]=Fita Perfurada
Name[pt_BR]=Fita de papel
Name[ru]=Бумажная лента
Name[sk]=Papierová páska
Name[sl]=Papirni trak
Name[sv]=Papperstejp
Name[tr]=Kağıt Bant
Name[uk]=Паперова стрічка
Name[x-test]=xxPaper Tapexx
Name[zh_CN]=纸带
