[Desktop Entry]
Name=isolator
Name[bg]=изолатор
Name[ca]=isolador
Name[ca@valencia]=isolador
Name[de]=Isolator
Name[el]=απομονωτής
Name[es]=aislante
Name[et]=Isolaator
Name[it]=isolatore
Name[kk]=оқшаулағыш
Name[nb]=isolator
Name[nl]=isolator
Name[pl]=izolator
Name[pt]=isolador
Name[pt_BR]=isolador
Name[ru]=изолятор
Name[sk]=izolant
Name[sv]=isolator
Name[uk]=Ізолятор
Name[x-test]=xxisolatorxx
Name[zh_TW]=隔離器
