[Desktop Entry]
Name=Karbon Flatten Path plugin
Name[bs]=Karbon dodatak za poravnati put
Name[ca]=Connector d'aplanament de camins del Karbon
Name[ca@valencia]=Connector d'aplanament de camins del Karbon
Name[da]=Plugin til Karbon til at fladgøre sti
Name[de]=Karbon Pfadglättungs-Modul
Name[el]=Πρόσθετο εξομάλυνσης διαδρομής του Karbon
Name[en_GB]=Karbon Flatten Path plugin
Name[es]=Complemento de aplanamiento de rutas de Karbon
Name[et]=Karboni kõvera lamendamise plugin
Name[fi]=Karbonin tasoita polku -liitännäinen
Name[fr]=Module externe pour Karbon de mise à plat de tracé
Name[gl]=Complemento para Karbon de camiño aplanado
Name[it]=Estensione Appiattimento percorsi di Karbon
Name[ja]=Karbon パスを平坦化プラグイン
Name[kk]=Karbon-ның қисықты түзеу плагині
Name[nb]=Flat ut sti-tillegg for Karbon
Name[nl]=Plug-in voor pad van Karbon Flatten
Name[pl]=Wtyczka spłaszczania ścieżki dla Karbon
Name[pt]='Plugin' de Achatamento de Caminhos do Karbon
Name[pt_BR]=Plugin de redução de caminhos do Karbon
Name[sk]=Plugin vyrovnanie cesty pre Karbon
Name[sv]=Karbon-insticksprogram för platta ut kontur
Name[uk]=Додаток спрощення контурів для Karbon
Name[x-test]=xxKarbon Flatten Path pluginxx
X-KDE-ServiceTypes=Karbon/ViewPlugin
Type=Service
X-KDE-Library=karbon_flattenpathplugin
X-Karbon-Version=28
