[Desktop Entry]
Encoding=UTF-8
Name=Unavailable KOffice Document
Name[x-test]=xxUnavailable KOffice Documentxx
X-KDE-Library=libkounavailpart
Type=Service
ServiceTypes=KOfficePart
