[Desktop Entry]
Type=Link
URL=.source/basicflow.kft
Icon=template_basicflow
Name=Basic Flowcharting
Name[ca@valencia]=Diagrama de flux bàsic
Comment=Creates a document with the basic stencils for flowcharting loaded.
Comment[ca@valencia]=Crea un document amb les plantilles bàsiques carregades per a diagrama de flux.
