[Desktop Entry]
Name=Alternative External Entity
Name[bs]=Alternativni vanjski entitet
Name[ca]=Entitat externa alternativa
Name[ca@valencia]=Entitat externa alternativa
Name[da]=Alternative External Entity
Name[de]=Externe Entität wechseln
Name[el]=Εναλλακτική εξωτερική οντότητα
Name[en_GB]=Alternative External Entity
Name[eo]=Alternativa Ekstera Ento
Name[es]=Entidad externa alternativa
Name[et]=Alternatiivne väline olem
Name[eu]=Kanpoko entitate alternatiboa
Name[fi]=Vaihtoehtoinen ulkoinen olio
Name[fr]=Unité externe alternative
Name[gl]=Entidade externa alternativa
Name[he]=ישות חיצונית חלופית
Name[it]=Entità esterna alternativa
Name[ka]=სხვა გარე არსება
Name[kk]=Басқа сыртқы нәрсе
Name[lv]=Alternatīva ārēja vienība
Name[nb]=Alternativ ekstern enhet
Name[nl]=Alternatieve externe entiteit
Name[pl]=Alternatywny zewnętrzny podmiot
Name[pt]=Entidade Externa Alternativa
Name[pt_BR]=Entidade externa alternativa
Name[ru]=Другая внешняя сущность
Name[sk]=Alternatívna externá entita
Name[sl]=Alternativni zunanji subjekt
Name[sv]=Alternativ extern enhet
Name[tr]=Alternatif Harici Öge
Name[uk]=Інший зовнішній об’єкт
Name[x-test]=xxAlternative External Entityxx
Name[zh_CN]=备选外部实体
Name[zh_TW]=替代外部實體
