[Desktop Entry]
Icon=skyline_night
Name=Skyline Night
Name[da]=Skyline Night
Name[et]=Horisont öösel
Name[it]=Profilo notturno
Name[pt]=Linha Celeste Nocturna
Name[pt_BR]=Linha celeste noturna
Name[sv]=Nattsiluett
Name[uk]=Нічний горизонт
Name[x-test]=xxSkyline Nightxx
Name[zh_TW]=Skyline Night
Comment=Skyline Night
Comment[da]=Skyline Night
Comment[et]=Horisont öösel
Comment[it]=Profilo notturno
Comment[pt]=Linha Celeste Nocturna
Comment[pt_BR]=Linha celeste noturna
Comment[sv]=Nattsiluett
Comment[uk]=Нічний горизонт
Comment[x-test]=xxSkyline Nightxx
Comment[zh_TW]=Skyline Night
Type=Link
URL=.source/skyline_night.otp
X-KDE-Hidden=false
