[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Karbon14 Illustrator Import Filter
Name[af]=Karbon14 Illustreerder In voer Filter
Name[ar]=مِرْشَح استيراد Illustrator لـ Karbon14
Name[bg]=Филтър за импорт от Illustrator в Karbon14
Name[br]=Sil enporzh Illustrator evit Karbon14
Name[ca]=Filtre d'importació Illustrator per a Karbon14
Name[cs]=Importní filtr souborů aplikace Illustrator pro Karbon14
Name[cy]=Hidlen Fewnforio Illustrator Karbon14
Name[da]=Karbon14 Illustrator-importfilter
Name[de]=Karbon14 Illustrator-Importfilter
Name[el]=Φίλτρο εισαγωγής Illustrator του Karbon14
Name[eo]=Importfiltrilo de Karbon14-Ilustrator
Name[es]=Filtro de importación Karbon14 Illustrator
Name[et]=Karbon14 Illustrator'i impordifilter
Name[eu]=Karbon14 ilustratzailearen inportaziorako iragazkia
Name[fa]=صافی ورودی Karbon14 برای Illustrator
Name[fi]=Karbon14 Illustrator -tuontisuodin
Name[fr]=Filtre d'importation Illustrator vers Karbon 14
Name[ga]=Scagaire Iompórtála Karbon14 Illustrator
Name[gl]=Filtro de Importación de Illustrator para Karbon14
Name[he]=מסנן ייבוא מ־Illustrator ל־Karbon14
Name[hr]=Karbon14 Illustrator uvozni filter
Name[hu]=Karbon14 Illustrator importszűrő
Name[is]=Karbon14 Illustrator innflutningssía
Name[it]=Filtro di importazione Illustrator per Karbon14
Name[ja]=Karbon14 Illustrator インポートフィルタ
Name[lo]=ຕົວຕອງການນຳເຂົ້າ Illustrator 
Name[lv]=Karbon14 Ilustratora Importa Filtrs
Name[ms]=Penapis Import Karbon14 Illustrator
Name[mt]=Filtru għall-importazzjoni Illustrator għal Karbon14
Name[nb]=Illustrator-importfilter for Karbon14
Name[nl]=Illustrator-importfilter voor Karbon14
Name[nn]=Illustrator-importfilter for Karbon14
Name[pl]=Filtr importu formatu Illustrator do Karbon14
Name[pt]=Filtro de Importação de Illustrator para o Karbon14
Name[pt_BR]=Filtro de Importação Illustrator do Karbon14
Name[ru]=Фильтр импорта файлов Illustrator в Karbon14
Name[se]=Karbon14:a Illustrator-sisafievrridansilli
Name[sk]=Illustrator filter pre import do Karbon14
Name[sl]=Uvozni filter Illustrator za Karbon14
Name[sr]=Karbon14-ов филтер за увоз из Illustrator-а
Name[sr@Latn]=Karbon14-ov filter za uvoz iz Illustrator-a
Name[sv]=Karbon14 Illustrator-importfilter
Name[ta]=Karbon 14 Illustrator இறக்குமதி வடிகட்டி
Name[tg]=Karbon14 EPS Филтри Воридоти Иллюстратор
Name[th]=ตัวกรองการนำเข้า Illustrator ของคาร์บอน14
Name[tr]=Karbon14 Illustrator Alma Süzgeci
Name[uk]=Фільтр імпорту Illustrator для Karbon14
Name[uz]=Karbon14 Illustrator импорт филтери
Name[xh]=Isihluzi Sokurhweba Somzobi we Karbon 14
Name[xx]=xxKarbon14 Illustrator Import Filterxx
Name[zh_CN]=Karbon14 Illustrator 导入过滤器
Name[zh_TW]=Karbon14 Illustrator 匯入過濾程式
X-KDE-Export=application/x-karbon
X-KDE-Import=application/illustrator
X-KDE-Weight=1
X-KDE-Library=libkarbonaiimport
ServiceTypes=KOfficeFilter
