[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Kontour WMF Import Filter
Name[af]=kontoer wmf in voer filter
Name[ar]=استيراد من WMF الى Kontour
Name[az]=Kontour WMF Alma Süzgəci
Name[bg]=Филтър за импорт на файлове на WMF към Контур
Name[cs]=Importní filtr WMF pro Kontour
Name[da]=Kontour WMF-importfilter
Name[de]=Kontour-Import für WMF-Dateien
Name[el]=Φίλτρο Εισαγωγής WMF του Kontour
Name[eo]=WMF-importfiltrilo por Konturilo
Name[es]=Filtro de importación WMF de Kontour
Name[et]=Kontouri WMF importfilter
Name[fi]=Kontour WMF-tuontisuodin
Name[fr]=Filtre d'importation WMF de Kontour
Name[he]=מסנן ייבוא מ-WMF ל-Kontour
Name[hr]=Kontour WMF uvozni filter
Name[hu]=Kontour WMF importszűrő
Name[is]=WMF innflutningssía fyrir Kontour forritið
Name[it]=Filtro di importazione WMF per Kontour
Name[ja]=Kontour WMF インポートフィルター
Name[lt]=Kontour filtras importuoti WMF
Name[lv]=Kontour WMF Importa Filtrs
Name[mt]=Filtru għall-importazzjoni ta' WMF ġo Kontour
Name[nb]=Kontour WMF importfilter
Name[nl]=Kontour WMF Importfilter
Name[nn]=WMF-importfilter for Kontour
Name[pl]=Filtr importu formatu WMF do Kontour
Name[pt]=Filtro de Importação de WMF do Kontour
Name[pt_BR]=Filtro de importação WMF para o Kontour
Name[ro]=Filtru importare Kontour pentru WMF
Name[ru]=Фильтр импорта файлов WMF в Kontour
Name[sk]=WMF filter pre import pre Kontour
Name[sl]=Uvozni filter WMF za Kontour
Name[sv]=Kontour WMF-importfilter
Name[ta]=Kontour WMF ­ÈìÌÁ¾¢ ÅÊ¸ðÊ
Name[th]=ตัวกรองการนำเข้า WMF ของวาดภาพ K
Name[uk]=Фільтр імпорту WMF для Kontour
Name[ven]=Filithara yau dzhenisa ya Kontour WMF
Name[wa]=Passete WMF d' intrêye po Kontour
Name[xh]=Kontour WMF Icebo lokucoca lorhwebo langaphakathi
Name[xx]=xx
Name[zh_CN]=Kontour WMF 导入过滤程序
Name[zh_TW]=Kontour WMF 匯入過濾程式
X-KDE-Export=application/x-kontour
X-KDE-Import=image/x-wmf
X-KDE-Weight=1
X-KDE-Library=libwmfimport
ServiceTypes=KOfficeFilter
