[Desktop Entry]
Export=text/x-tex
ExportDescription=LATEX
Icon=
Implemented=file
Import=application/x-kword
ImportDescription=KWord
Name=KWord LATEX Export Filter
Name[af]=KWORD LATEX VOER UIT FILTER
Name[az]=KWord LATEX Vermə Süzgəci
Name[bg]=Филтър на KWord за експорт в LaTeX
Name[cs]=KWord LaTeX exportní filtr
Name[da]=KWord LATEX Eksport Filter
Name[de]=KWord-Exportfilter für LaTeX
Name[el]=Φίλτρο Εξαγωγής LATEX του KWord
Name[eo]=LaTeX-eksportfiltrilo por Verkilo
Name[es]=Filtro de exportación LaTeX de KWord
Name[et]=KWordi LATEX eksport filter
Name[fi]=KWord LATEX-vientisuodin
Name[fr]=Filtre d'exportation LaTeX de kWord
Name[he]=KWord לש LATEX אוציי ןנסמ
Name[hu]=KWord LaTeX exportszűrő
Name[is]=LaTeX-útflutningssía fyrir KWord ritvinnsluna
Name[it]=Filtro di esportazione LaTeX per KWord
Name[ja]=KWord LATEX エクスポートフィルター
Name[ko]=K위드에서 LATEX 파일로 내보낼 때 쓰는 거르개
Name[lt]=KWord LATEX eksporto filtras
Name[lv]=KWord LATEX Eksporta Filtrs
Name[mt]=Filtru għall-esportazzjoni ta' LATEX minn ġo KWord
Name[nl]=KWord's LATEX-exportfilter
Name[no]=KWord LATEX-exportfilter
Name[no_NY]=LaTeX-eksportfilter for KWord
Name[pl]=Filtr eksportujący do LaTeXa z KWorda
Name[pt_BR]=Filtro de exportação LATEX para o KWord
Name[pt]=Filtro de exportação de LATEX para o KWord
Name[ru]=фильтр KWord экспорта в LaTeX
Name[sk]=LATEX filter pre export z KWord-u
Name[sl]=Izvozni filter LaTeX za KWord
Name[sv]=Kword LATEX-exportfilter
Name[ta]=KWord LATEX ²üÚÁ¾¢ ÅÊ¸ðÊ
Name[tr]=KWord LATEX Verme Süzgeci
Name[uk]=Фільтр експорту LATEX для KWord
Name[vi]=Trình lọc xuất ra file KWord LATEX 
Name[zh_CN.GB2312]=KWord LATEX 导出过滤程序
Name[zh_TW.Big5]=KWord LaTeX 匯出過濾器
ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=liblatexexport
