[Desktop Entry]
Name=Striplight
Name[ca]=Striplight
Name[ca@valencia]=Striplight
Name[de]=Röhrenlampe
Name[el]=Προβολείς
Name[es]=Franja de luz
Name[et]=Valgustipaneel
Name[it]=Striscia di luce
Name[kk]=Жолақты шам
Name[nb]=Flomlys
Name[nl]=Stripverlichting
Name[pl]=Światło jarzeniowe
Name[pt]=Luz barra
Name[pt_BR]=Luz barra
Name[ru]=Узконаправленный свет
Name[sk]=Striplight
Name[sv]=Flodljus
Name[uk]=Вузькоспрямоване світло
Name[x-test]=xxStriplightxx
Name[zh_CN]=长条状灯
Name[zh_TW]=條狀照明燈
