[Desktop Entry]
Name=nmos v
Name[ca]=nmos v
Name[ca@valencia]=nmos v
Name[el]=nmos v
Name[es]=nmos v
Name[et]=Vertikaalne NMOS
Name[fi]=nmos v
Name[it]=nmos v
Name[ja]=nmos v
Name[kk]=nmos v
Name[nb]=nmos loddr
Name[nl]=nmos v
Name[pl]=nmos v
Name[pt]=nmos v
Name[pt_BR]=nmos v
Name[ru]=nmos v
Name[sk]=nmos v
Name[sv]=nmos v
Name[uk]=nmos v
Name[x-test]=xxnmos vxx
Name[zh_CN]=垂直 NMOS
Name[zh_TW]=nmos v
