[Desktop Entry]
Name=vdd h
Name[ca]=vdd h
Name[ca@valencia]=vdd h
Name[el]=vdd h
Name[es]=vdd h
Name[et]=Horisontaalne VDD
Name[fi]=vdd h
Name[it]=vdd h
Name[ja]=vdd h
Name[kk]=vdd h
Name[nb]=vdd vannr
Name[nl]=vdd h
Name[pl]=vdd h
Name[pt]=vdd h
Name[pt_BR]=vdd h
Name[ru]=vdd h
Name[sk]=vdd h
Name[sv]=vdd h
Name[uk]=vdd h
Name[x-test]=xxvdd hxx
Name[zh_TW]=vdd h
