[Desktop Entry]
Icon=
Name=Krita jp2 Export Filter
X-KDE-ServiceTypes=Krita/FileFilter
Type=Service
X-KDE-Export=image/jp2
X-KDE-Import=application/x-krita
X-KDE-Library=kritajp2export
X-KDE-Weight=1
