[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=CSV Import Filter for KSpread
Name[af]=Cvs In voer Filter vir Kspread
Name[bg]=Филтър за импортиране от CSV в KSpread
Name[br]=Sil enporzh CSV evit KSpread
Name[ca]=Filtre d'importació CSV per a KSpread
Name[cs]=CSV importní filtr pro KSpread
Name[cy]=Hidlen Fewnforio CSV i Kontour
Name[da]=CSV-importfilter for KSpread
Name[de]=KSpread CSV-Importfilter
Name[el]=Φίλτρο εισαγωγής CSV για το KSpread
Name[eo]=CSV-importfiltrilo por Tabelkalkulilo
Name[es]=Filtro de importación CSV para KSpread
Name[et]=KSpreadi CSV impordifilter
Name[eu]=KSpread-en CSV inportaziorako iragazkia
Name[fa]=پالایۀ واردات CSV برای KSpread
Name[fi]=CSV-tuontisuodin KSpeadiin
Name[fr]=Filtre d'importation CSV de KSpread
Name[ga]=Scagaire Iompórtála CSV le haghaidh KSpread
Name[gl]=Filtro de Importación de CSV para KSpread
Name[he]=מסנן ייבוא מ־CSV ל־KSpread
Name[hr]=CSV filtar uvoza za KSpread
Name[hu]=CSV importszűrő a KSpreadhez
Name[is]=CSV innflutningssía fyrir KSpread
Name[it]=Filtro di importazione CSV per KSpread
Name[ja]=KSpread CSV インポートフィルタ
Name[km]=តម្រង​នាំចូល CSV សម្រាប់ KSpread
Name[lt]=CSV importo filtras skirtas KSpread
Name[lv]=CSV importa filtrs priekš KSpread
Name[mk]=CSV увозен филтер за KSpread
Name[ms]=Penapis Import CSV bagi KSpread
Name[nb]=CSV-importfilter for KSpread
Name[nds]=CSV-Importfilter för KSpread
Name[ne]=केडीई स्प्रिडका लागि CSV आयात फिल्टर
Name[nl]=CSV-Importfilter voor KSpread
Name[nn]=CSV-importfilter for KSpread
Name[pl]=Filtr importu formatu CSV dla KSpread
Name[pt]=Filtro de Importação de CSV para o KSpread
Name[pt_BR]=Filtro de importação CSV para o KSpread
Name[ro]=Filtru de importare KSpread pentru CSV
Name[ru]=Фильтр импорта файлов CSV в KSpread
Name[se]=KSpread:a CSV-sisafievrridansilli
Name[sl]=Uvozni filter CSV za KSpread
Name[sr]=KSpread-ов филтер за увоз из CSV-а
Name[sr@Latn]=KSpread-ov filter za uvoz iz CSV-a
Name[sv]=CSV-importfilter för Kspread
Name[ta]=KSpread க்கான CSV இறக்குமதி வடிகட்டி
Name[tg]=CSV Филтри Воридот барои KSpread
Name[tr]=KSpread CSV Alma Filtresi
Name[uk]=Фільтр імпорту CSV для KSpread
Name[uz]=KSpread учун CSV импорт филтери
Name[x-test]=xxCSV Import Filter for KSpreadxx
Name[xh]=CSV Yesihluzi Sokurhweba se KSpread
Name[zh_TW]=KSpread 的 CSV 匯入過濾程式
X-KDE-Export=application/x-kspread
X-KDE-Import=text/x-csv,text/plain
X-KDE-Weight=50
X-KDE-Library=libcsvimport
ServiceTypes=KOfficeFilter
