[Desktop Entry]
Type=Service
Name=CSV Import Filter for KSpread
Name[af]=CVS IN VOER FILTER VIR KSPREAD
Name[az]=KSpread üçün CSV Alma Süzgəci
Name[bg]=Филтър за импорт от CSV в KSpread
Name[bs]=CSV Import Filter za KSpread
Name[ca]=Filtre d'importació CSV per a KSpread
Name[cs]=CSV importní filtr pro KSpread
Name[da]=CSV Importfilter for kspread
Name[de]=CSV-Import-Filter für KSpread
Name[el]=Φίλτρο εισαγωγής CSV για το KSpread
Name[eo]=CSV-importfiltrilo por Tabelkalkulilo
Name[es]=Filtro de importación CSV para KSpread
Name[et]=KSpreadi CSV import filter
Name[fi]=CSV tuontisuodin KSpeadiin
Name[fr]=Filtre d'importation CSV de kSpread
Name[gl]=Filtro de Importación de CSV para o KSpread
Name[he]=KSpread-ל CSV אוביי ןנסמ
Name[hr]=CSV Import Filter za KSpread
Name[hu]=CSV importszűrő a KSpread-hez
Name[is]=CSV innflutningssía fyrir KSpread töflureikninn
Name[it]=Filtro di importazione CSV per KSpread
Name[ja]=KSpread用 CSV インポートフィルター
Name[ko]=K스프레드에서 CSV로 가져올 때 쓰는 거르개
Name[lt]=KSpread importavimo filtras CSV
Name[lv]=CSV Importa Filtrs priekš KSpread
Name[mk]=CSV увозен филтер за KSpread
Name[mt]=Filtru għall-importazzzjoni ta' CSV ġo KSpread
Name[nl]= CSV-importfilter voor KSpread
Name[no]=CSV-importfilter for KSpread
Name[no_NY]=CSV-importfilter for KSpread
Name[oc]=Filtre d'importacion CSV per a KSpread
Name[pl]=Filtr importujący z plików CSV do KSpreada
Name[pt_BR]=Filtro de importação CSV para o KSpread
Name[pt]=Filtro de importação de CSV para o KSpread
Name[ru]=Фильтр импорта CSV в KSpread
Name[sk]=Filter pre import CVS pre KSpread
Name[sl]=Uvozni filter CSV za KSpread
Name[sr]=CSV import filter za KSpread
Name[sv]=CSV-importfilter för Kspread
Name[ta]=KSpread ì¸¡É CSV ­ÈìÌÁ¾¢ ÅÊ¸ðÊ
Name[tr]=KSpread için CSV Alma Süzgeci
Name[uk]=Фільтр імпорту CSV для KSpread
Name[vi]=Trình lọc nhập vào CSV cho KSpread 
Name[zh_CN.GB2312]=KSpread 的 CSV 导入过滤程序
Name[zh_TW.Big5]=KSpread 的 CSV 匯入過濾器
Export=application/x-kspread
Import=text/x-csv,text/plain
Implemented=kodocument
X-KDE-Library=libcsvimport
ServiceTypes=KOfficeFilter
