body {
    margin: 0; padding: 0;
    background: url(background.png) top left repeat-x;
    font-family: sans-serif;
    font-size: 12pt;
}

img { border: 0px; }

div#wrapper {
    margin: 0px auto 0px auto;
    width: 750px;
}

div#wrapper #logo {
    width: 155px;
    height: 157px;
    float: left;
    background: url(kexi.png) top left no-repeat;
}



div#wrapper #dbname {
    width: 595px;
    height: 155px;
    float: left;
}
div#wrapper #dbname h2 {
    color: #ffffff;
}


div#content {
    margin-top: 3em;
}
