[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Other Office Files
Name[af]=ander kantoor lêers
Name[bs]=Druge Office datoteke
Name[cs]=Ostatní kancelářské soubory
Name[da]=Andre office-filer
Name[de]=Sonstige Office-Dateien
Name[el]=Άλλα αρχεία γραφείου
Name[eo]=Aliaj Oficejo-dosieroj
Name[es]=Otros archivos de Office
Name[et]=Muude Office'te failid
Name[fi]=Muut toimistotiedostot
Name[fo]=Aðrar skrivstovufílir
Name[fr]=Autres documents de bureautique
Name[he]=קבצי Office אחרים
Name[hr]=Ostale Office datoteke
Name[hu]=Egyéb Office fájlok
Name[it]=File di altri programmi Office
Name[ja]=その他のオフィスファイル
Name[lt]=Kitos ofisų bylos
Name[lv]=Citi Ofisa Faili
Name[mt]=Fajls oħra tal-programmi KOffice
Name[nb]=Andre Office-filer
Name[nl]=Overige office-bestanden
Name[nn]=Andre Office-filer
Name[pl]=Inne pliki biurowe
Name[pt]=Outros Ficheiros do KOffice
Name[pt_BR]=Outros arquivos Office
Name[ro]=Alte fişiere KOffice
Name[ru]=Другие файлы Office
Name[sk]=Iné súbory Office
Name[sl]=Druge datoteke za pisarno
Name[sv]=Andra office-filer
Name[th]=แฟ้มโปรแกรมสำนักงานตัวอื่น
Name[uk]=Інші файли KOffice
Name[ven]=Dzifaela dza ofisi dzinwe-vho
Name[wa]=Ôtes fitchîs di buro
Name[xh]=Ezinye Ifayile Zeofisi
Name[zh_TW]=其他 Office 檔案
Name[zu]=Amanye Amafayela Ehhovisi
ServiceTypes=ThumbCreator
MimeTypes=application/illustrator,application/msexcel,application/mspowerpoint,application/msword,application/vnd.palm,application/wordperfect,application/x-abiword,application/x-amipro,application/x-applixgraphics,application/x-applixspread,application/x-applixword,application/x-gnumeric,application/x-quattropro,image/x-msod,text/rtf,text/vnd.wap.wml,text/x-csv
X-KDE-Library=kofficethumbnail
CacheThumbnail=true
