[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Other Office Files
Name[af]=Ander Kantoor Lêers
Name[ar]=مِلفات Office أخرى
Name[br]=Restroù burev all
Name[ca]=Altres fitxers d'oficina
Name[cs]=Ostatní kancelářské soubory
Name[cy]=Ffeiliau Eraill KOffice
Name[da]=Andre office-filer
Name[de]=Sonstige Office-Dateien
Name[el]=Άλλα αρχεία γραφείου
Name[eo]=Aliaj Oficejo-dosieroj
Name[es]=Otros archivos de Office
Name[et]=Muude Office'ite failid
Name[eu]=Beste bulego-fitxategiak
Name[fa]=‍‍‍‍‍‍دیگر پرونده‌های دفتری
Name[fi]=Muut toimistotiedostot
Name[fr]=Autres documents bureautiques
Name[gl]=Outros Ficheiros de KOffice
Name[he]=קבצי Office אחרים
Name[hr]=Ostale Office datoteke
Name[hu]=Egyéb Office-fájlok
Name[is]=Aðrar skrifstofuskrár
Name[it]=File di altri programmi Office
Name[ja]=その他の Office ファイル
Name[km]=ឯកសារ​ការិយាល័យ​ផ្សេង​ទៀត
Name[lt]=Kitos ofisų bylos
Name[lv]=Citi Office faili
Name[ms]=Fail Office Lain
Name[nb]=Andre Office-filer
Name[nds]=Anner Kontoor-Dateien
Name[ne]=अन्य कार्यालय फाइल
Name[nl]=Overige office-bestanden
Name[nn]=Andre Office-filer
Name[pa]=ਹੋਰ ਦਫਤਰੀ ਫਾਇਲਾਂ
Name[pl]=Inne pliki biurowe
Name[pt]=Outros Ficheiros de Escritório
Name[pt_BR]=Outros Arquivos Office
Name[ro]=Alte fişiere KOffice
Name[ru]=Другие файлы Office
Name[se]=Eará Office-fiillat
Name[sl]=Druge pisarniške datoteke
Name[sr]=Остали Office фајлови
Name[sr@Latn]=Ostali Office fajlovi
Name[sv]=Andra office-filer
Name[ta]=Other Office கோப்புகள்
Name[tg]=Дигар Office Файлҳо
Name[tr]=Diğer Ofis Dosyaları
Name[uk]=Інші файли KOffice
Name[uz]=Идора учун бошқа файллар
Name[x-test]=xxOther Office Filesxx
Name[xh]=Ezinye Iifayile ze Office
Name[zh_TW]=其他 Office 檔案
ServiceTypes=ThumbCreator
MimeTypes=application/illustrator,application/msexcel,application/mspowerpoint,application/msword,application/vnd.palm,application/wordperfect,application/x-abiword,application/x-amipro,application/x-applixgraphics,application/x-applixspread,application/x-applixword,application/x-gnumeric,application/x-quattropro,image/x-msod,text/rtf,text/vnd.wap.wml
X-KDE-Library=kofficethumbnail
CacheThumbnail=true
