[Desktop Entry]
Name=ampermeter
Name[el]=αμπερόμετρο
Name[et]=ampermeeter
Name[nb]=amperemeter
Name[pt]=amperímetro
Name[pt_BR]=amperímetro
Name[sv]=amperemätare
Name[uk]=Амперметр
Name[x-test]=xxampermeterxx
