[Desktop Entry]
Name=capacitor electrolytic
Name[bg]=електролитен кондензатор
Name[ca]=capacitador electrolític
Name[el]=ηλεκτρολυτικός πυκνωτής
Name[et]=Elektrolüütiline kondensaator
Name[it]=condensatore elettrolitico
Name[kk]=элетролитит-конденсатор
Name[nb]=elektrolyttkondensator
Name[nds]=Elko
Name[nl]=condensator elektrolytisch
Name[pl]=elektrolityczny kondensator
Name[pt]=condensador electrolítico
Name[pt_BR]=capacitor eletrolítico
Name[ru]=Электролитический конденсатор
Name[sv]=elektrolytkondensator
Name[uk]=Електролітичний конденсатор
Name[x-test]=xxcapacitor electrolyticxx
Name[zh_TW]=capacitor electrolytic
