[Desktop Entry]
Name=led display
Name[ca]=led display
Name[ca@valencia]=led display
Name[de]=LED-Anzeige
Name[el]=λαμπάκι led
Name[es]=pantalla LED
Name[et]=LED-näidik
Name[it]=display a led
Name[kk]=сәуледиодты дисплей
Name[nb]=led-skjerm
Name[nl]=led-display
Name[pl]=wyświetlacz led
Name[pt]=ecrã LED
Name[pt_BR]=tela de Led
Name[ru]=Светодиодное табло
Name[sk]=led displej
Name[sv]=lysdiodskärm
Name[uk]=Рідкокристалічний дисплей
Name[x-test]=xxled displayxx
Name[zh_CN]=LED 显示
Name[zh_TW]=LED 顯示
