[Desktop Entry]
Name=potenciometer
Name[es]=potenciómetro
Name[et]=potentsiomeeter
Name[pt]=potenciómetro
Name[pt_BR]=potenciômetro
Name[sv]=potentiometer
Name[uk]=Потенціометр
Name[x-test]=xxpotenciometerxx
