[Desktop Entry]
Name=transistor misfe c n
Name[ca]=transistor misfe c n
Name[ca@valencia]=transistor misfe c n
Name[el]=transistor misfe c n
Name[es]=transistor MISFE C N
Name[et]=Transistor misfe c n
Name[it]=transistore misfe c n
Name[kk]=n-кондук-метал-тотық-өріс транзистор
Name[nb]=transistor misfe c n
Name[nl]=transistor misfe c n
Name[pl]=tranzystor misfe c n
Name[pt]=transístor MISFE C N
Name[pt_BR]=transistor misfe c n
Name[ru]=Транзистор misfe c n
Name[sk]=tranzistor misfe c n
Name[sv]=transistor misfe c n
Name[uk]=Метал-оксидний (збіднення) N-канальний транзистор
Name[x-test]=xxtransistor misfe c nxx
Name[zh_TW]=transistor misfe c n
