[Desktop Entry]
Name=transistor jfe p
Name[pt]=transístor JFE P
Name[pt_BR]=transistor jfe p
Name[uk]=Польовий P-канальний транзистор
Name[x-test]=xxtransistor jfe pxx
