[Desktop Entry]
Name=transistor misfe c n
Name[pt]=transístor MISFE C N
Name[pt_BR]=transistor misfe c n
Name[uk]=Метал-оксидний (збіднення) N-канальний транзистор
Name[x-test]=xxtransistor misfe c nxx
