[Desktop Entry]
Name=voltmeter
Name[es]=voltímetro
Name[et]=voltmeeter
Name[pt]=voltímetro
Name[pt_BR]=voltímetro
Name[sv]=voltmätare
Name[uk]=Вольтметр
Name[x-test]=xxvoltmeterxx
