[Desktop Entry]
Type=Link
URL=.source/Manga-JpTemplate.kra
Icon=template_comics_empty
Name=Manga template
Name[ca@valencia]=Plantilla per a manga
Comment=template for Japanese Manga-style comics
Comment[ca@valencia]=plantilla per a còmics d'estil manga japonés
X-Krita-Version=5
