[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kexi/Handler

GenericName=Relationships
GenericName[be]=Сувязі
GenericName[bg]=Релации
GenericName[ca]=Relacions
GenericName[cs]=Vztahy
GenericName[cy]=Perthnasau
GenericName[de]=Beziehungen
GenericName[el]=Συσχετίσεις
GenericName[eo]=Rilatoj
GenericName[es]=Relaciones
GenericName[et]=Sõltuvused
GenericName[eu]=Erlazioak
GenericName[fa]=روابط
GenericName[fi]=Yhteyssuhteet
GenericName[fr]=Relations
GenericName[fy]=Relaasjes
GenericName[ga]=Gaolta
GenericName[gl]=Relacións
GenericName[he]=יחסים
GenericName[hi]=संबंधता
GenericName[hr]=Poveznice
GenericName[hu]=Kapcsolatok
GenericName[is]=Tengsl
GenericName[it]=Relazioni
GenericName[ja]=リレーションシップ
GenericName[lv]=Relācijas
GenericName[ms]=Hubungan
GenericName[nb]=Relasjoner
GenericName[nds]=Betöög
GenericName[ne]=सम्बन्ध
GenericName[nl]=Relaties
GenericName[pl]=Relacje
GenericName[pt]=Relações
GenericName[pt_BR]=Relações
GenericName[ru]=Связи
GenericName[se]=Relašuvnnat
GenericName[sk]=Vzťahy
GenericName[sl]=Razmerja
GenericName[sr]=Односи
GenericName[sr@latin]=Odnosi
GenericName[sv]=Förhållanden
GenericName[ta]=உறவுமுறைகள்
GenericName[tr]=İlişkiler
GenericName[uk]=Взаємозв’язки
GenericName[uz]=Aloqalar
GenericName[uz@cyrillic]=Алоқалар
GenericName[x-test]=xxRelationshipsxx
GenericName[zh_CN]=关系
GenericName[zh_TW]=關係
Name=Relationships
Name[be]=Узаемасувязі
Name[bg]=Релации
Name[ca]=Relacions
Name[cs]=Vztahy
Name[cy]=Perthnasau
Name[de]=Beziehungen
Name[el]=Συσχετίσεις
Name[eo]=Rilatoj
Name[es]=Relaciones
Name[et]=Sõltuvused
Name[eu]=Erlazioak
Name[fa]=روابط
Name[fi]=Yhteydet
Name[fr]=Relations
Name[fy]=Relaasjes
Name[ga]=Gaolta
Name[gl]=Relacións
Name[he]=יחסים
Name[hi]=संबंधता
Name[hr]=Poveznice
Name[hu]=Kapcsolatok
Name[is]=Tengsl
Name[it]=Relazioni
Name[ja]=リレーションシップ
Name[lv]=Relācijas
Name[ms]=Hubungan
Name[nb]=Relasjoner
Name[nds]=Betöög
Name[ne]=सम्बन्ध
Name[nl]=Relaties
Name[pl]=Relacje
Name[pt]=Relações
Name[pt_BR]=Relações
Name[ru]=Взаимосвязи
Name[se]=Relašuvnnat
Name[sk]=Vzťahy
Name[sl]=Razmerja
Name[sr]=Односи
Name[sr@latin]=Odnosi
Name[sv]=Förhållanden
Name[ta]=உறவுகள்
Name[tg]=Муносибатҳо
Name[tr]=İlişkiler
Name[uk]=Взаємозв’язки
Name[uz]=Aloqalar
Name[uz@cyrillic]=Алоқалар
Name[x-test]=xxRelationshipsxx
Name[zh_CN]=关系
Name[zh_TW]=關係
X-KDE-Library=kexihandler_relation
X-KDE-ParentApp=kexi
X-Kexi-PartVersion=2
X-Kexi-TypeName=relation
X-Kexi-TypeMime=kexi/relation
X-Kexi-ItemIcon=relations
X-Kexi-NoObject=true
