[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Abiword Info
Name[br]=Titouroù Abiword
Name[da]=Abiword-info
Name[es]=Info de Abiword
Name[et]=Abiwordi info
Name[ga]=Eolas faoi Abiword
Name[ru]=Информация Abiword
Name[sv]=Abiword-information
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_abiword
MimeType=application/x-abiword
PreferredGroups=DocumentInfo
PreferredItems=Author,Title,Abstract
