[Desktop Entry]
Name=Kugar
Exec=kugar
Icon=
MimeType=application/x-kugar;
Type=Application
DocPath=
Comment=Report Generator
Terminal=0
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkugarpart
