[Desktop Entry]
Encoding=UTF-8
Name=Kugar
Name[af]=kugar
Name[eo]=Raportilo
Name[th]=คูการ์
Name[xx]=xx
Exec=kugar
Icon=kugar
MimeType=application/x-kugar;
Type=Application
DocPath=kugar/index.html
GenericName=Report Generator
GenericName[ar]=توليد التقارير
GenericName[az]=Raport Yaradıcısı
GenericName[bg]=Създаване на отчет
GenericName[bs]=Generator izvještaja
GenericName[cs]=Generátor reportů
GenericName[da]=Rapportgenerator
GenericName[de]=Report-Erstellung
GenericName[el]=Δημιουργία εκθέσεων
GenericName[eo]=Raporto-kreilo
GenericName[es]=Generador de informes
GenericName[et]=Raportite generaator
GenericName[fi]=Raporttigeneraattori
GenericName[fr]=Générateur de rapports
GenericName[he]=יוצר דו"חות
GenericName[hr]=Program za stvaranje izvještaja
GenericName[hu]=jelentéskészítő
GenericName[is]=Skýrsluskrifari
GenericName[it]=Generatore di rapporti
GenericName[ja]=レポート生成
GenericName[lt]=Raportų generatorius
GenericName[lv]=Raportu Ģenerators
GenericName[mt]=Ġeneratur tar-Rapporti
GenericName[nb]=Rapportgenerator
GenericName[nl]=rapportengenerator
GenericName[nn]=Rapportgenerator
GenericName[pl]=Generator raportów
GenericName[pt]=Gerador de Relatórios
GenericName[pt_BR]=Gerador de Relatórios
GenericName[ro]=Generator de rapoarte
GenericName[ru]=Генератор отчетов
GenericName[sk]=Generátor reportov
GenericName[sl]=Ustvarjanje poročil
GenericName[sr]=Generator izveštaja
GenericName[sv]=Rapportgenerator
GenericName[th]=เครื่องมือสร้างรายงาน
GenericName[uk]=Генератор звітів
GenericName[ven]=Muiti wa muvhigo
GenericName[wa]=Djenerateu di rapoirts
GenericName[xh]=Yenza ingxelo yomatshini onika umbane
GenericName[xx]=xx
GenericName[zh_CN]=报告生成器
GenericName[zh_TW]=報告產生器
GenericName[zu]=Yenza ingxoxo ngomshini onika ugesi
Terminal=0
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkugarpart
