[Desktop Entry]
Type=Service
Name=Karbon 1.x Import Filter
Name[ca@valencia]=Filtre d'importació Karbon 1.x
X-KDE-Export=image/svg+xml
X-KDE-Import=application/x-karbon
X-KDE-Weight=1
X-KDE-Library=karbon1ximport
X-KDE-ServiceTypes=CalligraFilter
