[Desktop Entry]
Encoding=UTF-8
Name=Kivio
Name[lo]=ແຜນຜັງໄດອະແກຣມ
Name[pt_BR]=Kivio - Editor de fluxogramas
Name[th]=แผนผังไดอะแกรม K
Name[xx]=xxKivioxx
X-KDE-Library=libkiviopart
MimeType=application/x-kivio
Type=Service
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/x-kivio
