[Desktop Entry]
Name=dist52
Name[ca]=dist52
Name[ca@valencia]=dist52
Name[el]=dist52
Name[es]=dist52
Name[et]=Reguleerimisventiil 52
Name[it]=dist52
Name[kk]=52үлестір
Name[nb]=5/2-distributør
Name[nl]=dist52
Name[pl]=dist52
Name[pt]=dist52
Name[pt_BR]=dist52
Name[sk]=dist52
Name[sv]=distans 52
Name[uk]=Розподільник 5/2
Name[x-test]=xxdist52xx
Name[zh_TW]=dist52
