[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/Executive.ktm
Name=Executive
Name[ar]=تنفيذي
Name[ca]=Executiu
Name[cy]=Gweithredwr
Name[da]=Udøvende
Name[eu]=Betearazlea
Name[fa]=اجرایی
Name[hi]=एक्जीक्यूटिव
Name[km]= ប្រតិបត្តិ​
Name[lo]=ເອົາແຜ່ນອອກ 
Name[ms]=Eksekutif
Name[pt_BR]=Executivo
Name[sk]=Úradnícky
Name[ta]=நிறைவேற்று 
Name[tg]=Иҷроӣ
Name[tr]=Yönetici
Name[xh]=Isekela lomphathi
Name[zh_CN]=行政
Icon=template_us
