[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/Folio.ktm
Name=Folio
Name[bg]=Фолио
Name[ca]=Foli
Name[cy]=Ffolio
Name[et]=Foolio
Name[eu]=Folioa
Name[fa]=دفتر یادداشت
Name[ga]=Fóilió
Name[hr]=Portfolio
Name[km]= សន្លឹក​ក្រដាសធំ​បត់ជាពីរ​
Name[lv]=Kolontituls
Name[ne]=फोलियो
Name[tr]=Folyo
Name[x-test]=xxFolioxx
Icon=template_us
