[Desktop Entry]
Name=Turn-Up Arrow
Name[bs]=Strelica za pojačavanje
Name[ca]=Fletxa cap amunt
Name[ca@valencia]=Fletxa cap amunt
Name[da]=Pil der drejer op
Name[de]=Pfeil nach oben drehend
Name[el]=Στραμμένο άνω βέλος
Name[en_GB]=Turn-Up Arrow
Name[eo]=Turn-Supren Sago
Name[es]=Flecha doblada hacia arriba
Name[et]=Üles pöörav nool
Name[eu]=Biratu gorantz gezia
Name[fi]=Käänny ylös -nuoli
Name[fr]=Flèche de rotation vers le haut
Name[gl]=Frecha cara arriba
Name[hu]=Felfelé kanyarodó nyíl
Name[it]=Freccia piegata in su
Name[ja]=上曲がり矢印
Name[ka]=აუხვიეთ-მაღლა ისარი
Name[kk]=Жоғары бұрылыс жебесі
Name[ko]=회전-위쪽 화살표
Name[lv]=Bulta ar pagriezienu augšup
Name[nb]=Pil snu-opp
Name[nds]=Piel hooch
Name[nl]=Pijl u-vorm-omhoog
Name[pl]=Strzałka zawinięta w górę
Name[pt]=Seta para Cima
Name[pt_BR]=Seta virar para cima
Name[ru]=Стрелка, поворачивающая вверх
Name[sk]=Šípka otočiť hore
Name[sl]=Puščica za obračanje navzgor
Name[sv]=Uppåtsvängd pil
Name[tr]=Yukarı Dönen Ok
Name[uk]=Стрілка «поворот вгору»
Name[x-test]=xxTurn-Up Arrowxx
Name[zh_CN]=翻折箭头
Name[zh_TW]=轉向─上箭頭
