[Desktop Entry]
Name=Document
Name[es]=Documento
Name[et]=Dokument
Name[nl]=Document
Name[pt]=Documento
Name[pt_BR]=Documento
Name[uk]=Документ
Name[x-test]=xxDocumentxx
