[Desktop Entry]
Name=Document
Name[el]=Έγγραφο
Name[es]=Documento
Name[et]=Dokument
Name[nl]=Document
Name[pt]=Documento
Name[pt_BR]=Documento
Name[sv]=Dokument
Name[ug]=پۈتۈك
Name[uk]=Документ
Name[x-test]=xxDocumentxx
Name[zh_CN]=文档
