[Desktop Entry]
Name=Magnetic Tape
Name[bg]=Магнитна лента
Name[de]=Magnetband
Name[el]=Μαγνητική ταινία
Name[it]=Nastro magnetico
Name[nb]=Magnetbånd
Name[nl]=Magneetband
Name[pl]=Taśma magnetyczna
Name[pt]=Fita Magnética
Name[pt_BR]=Fita magnética
Name[sv]=Magnetisk tape
Name[uk]=Магнітна стрічка
Name[x-test]=xxMagnetic Tapexx
Name[zh_TW]=磁帶
