[Desktop Entry]
Name=Math Functions
Name[bg]=Математически функции
Name[ca]=Funcions matemàtiques
Name[ca@valencia]=Funcions matemàtiques
Name[cs]=Matematické funkce
Name[da]=Matematiske funktioner
Name[de]=Mathematische Funktionen
Name[el]=Μαθηματικές συναρτήσεις
Name[en_GB]=Maths Functions
Name[es]=Funciones matemáticas
Name[et]=Matemaatikafunktsioonid
Name[gl]=Funcións Matemáticas
Name[he]=פונקציות מתמטיות
Name[it]=Funzioni matematiche
Name[ja]=数学関数
Name[kk]=Математикалық функциялары
Name[lv]=Matemātikas funkcijas
Name[nb]=Matematikkfunksjoner
Name[nds]=Mathemaatsch Funkschonen
Name[nl]=Wiskundige functies
Name[pt]=Funções Matemáticas
Name[pt_BR]=Funções Matemáticas
Name[sl]=Matematične funkcije
Name[sv]=Matematiska funktioner
Name[tr]=Matematiksel Fonksiyonlar
Name[uk]=Математичні функції
Name[wa]=Fonccions matematikes
Name[x-test]=xxMath Functionsxx
Name[zh_CN]=数学函数
Name[zh_TW]=數學函數
Comment=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[ca]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[ca@valencia]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[cs]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[da]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[de]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[el]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[en_GB]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[eo]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[es]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[et]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[gl]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[it]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[ja]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[kk]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[lv]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[nb]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[nds]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[nl]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[pt]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[pt_BR]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[sv]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[tr]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[uk]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[wa]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[x-test]=xxABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNCxx
Comment[zh_CN]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Comment[zh_TW]=ABS, CEIL, CEILING, COUNT, COUNTA, COUNTBLANK, COUNTIF, CUR, DIV, EPS, EVEN, EXP, FACT, FACTDOUBLE, FIB, FLOOR, GAMMA, GCD, G_PRODUCT, INT, INV, KPRODUCT, LCM, LN, LOG, LOG10, LOG2, LOGN, MAX, MAXA, MDETERM, MIN, MINA, MINVERSE, MMULT, MOD, MROUND, MULTINOMIAL, MULTIPLY, MUNIT, ODD, POW, POWER, PRODUCT, QUOTIENT, RAND, RANDBERNOULLI, RANDBETWEEN, RANDBINOM, RANDEXP, RANDNEGBINOM, RANDNORM, RANDPOISSON, ROOTN, ROUND, ROUNDDOWN, ROUNDUP, SERIESSUM, SIGN, SQRT, SQRTPI, SUBTOTAL, SUM, SUMA, SUMIF, SUMSQ, TRANSPOSE, TRUNC
Icon=funct
Type=Service
X-KDE-Library=kspreadmathmodule
X-KDE-ServiceTypes=KSpread/Plugin,KPluginInfo
X-KSpread-Version=2
X-KDE-PluginInfo-Author=The KSpread Team
X-KDE-PluginInfo-Email=koffice-devel@kde.org
X-KDE-PluginInfo-Name=MathModule
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.koffice.org/
X-KDE-PluginInfo-Category=FunctionModule
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
