[Desktop Entry]
Name=Logic Functions
X-KDE-ServiceTypes=KSpread/Function
Type=Service
X-KDE-Library=kspreadlogicmodule
X-KSpread-Version=2
X-Flake-PluginVersion=1
