[Desktop Entry]
Name=Bit Operation Functions
X-KDE-ServiceTypes=KSpread/Function
Type=Service
X-KDE-Library=kspreadbitopsmodule
X-KSpread-Version=2
X-Flake-PluginVersion=1
