[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KPresenter MNG Export Filter
Name[fr]=Filtre d'exportation MNG de KPresenter
Name[x-test]=xxKPresenter MNG Export Filterxx
X-KDE-Import=application/x-kpresenter
X-KDE-Export=video/x-mng
X-KDE-Weight=1
X-KDE-Library=libkpresentermngexport
ServiceTypes=KOfficeFilter
