[Desktop Entry]
Type=Service
Name=KChart BMP Export Filter
Name[ca@valencia]=Filtre d'exportació BMP per al KChart
X-KDE-Import=application/x-kchart
X-KDE-Export=image/x-bmp
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=CalligraFilter
