[Desktop Entry]
Type=Service
Name=KChart XPM Export Filter
Name[ca@valencia]=Filtre d'exportació XPM per al KChart
X-KDE-Import=application/x-kchart
X-KDE-Export=image/x-xpm
X-KDE-Weight=1
X-KDE-Library=kchartgenericimageexport
X-KDE-ServiceTypes=CalligraFilter
