[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/A4.kwt
Name=A4
Comment=Creates an empty A4 document.
Name[bg]=А4
Name[ru]=А4
Name[zu]=u-A4
Icon=.icon/A4.png
