[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/Letter.kwt
Name=Blank Page
Name[el]=Κενή σελίδα
Name[fr]=Page vide
Name[x-test]=xxBlank Pagexx
Comment=Creates a blank US Letter document.
Comment[el]=Δημιουργεί ένα κενό έγγραφο US Letter.
Comment[fr]=Crée un document US Letter vide.
Comment[x-test]=xxCreates a blank US Letter document.xx
Icon=template_letter
X-KDE-MeasureSystem=imperial
