[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/Letter.kwt
Name=Blank Page
Name[ar]=ورقة بيضاء
Name[bg]=Празна страница
Name[br]=Goullonderiñ ar bajenn
Name[ca]=Pàgina buida
Name[da]=Blank side
Name[de]=Leere Seite
Name[el]=Κενή σελίδα
Name[es]=Página vacía
Name[et]=Tühi lehekülg
Name[fr]=Page vide
Name[ga]=Leathanach Folamh
Name[gl]=Páxina en Branco
Name[is]=Tóm síða
Name[it]=Pagina vuota
Name[ja]=空のページ
Name[nl]=Leeg pagina
Name[pt]=Página em Branco
Name[pt_BR]=Página em Branco
Name[ru]=Чистый лист
Name[sl]=Prazen list
Name[sr]=Празна страна
Name[sr@Latn]=Prazna strana
Name[sv]=Tom sida
Name[uk]=Порожня сторінка
Name[xx]=xxBlank Pagexx
Name[zh_CN]=空页面
Name[zh_TW]=空白頁面
Comment=Creates a blank US Letter document.
Comment[ar]=ينشئ مسند رسالة US  فارغ.
Comment[bg]=Създаване на празен документ във формат US Letter.
Comment[ca]=Crea un document de carta US buit.
Comment[da]=Opretter et blankt US Letter-dokument.
Comment[de]=Erstellt ein leeres US-Letter-Dokument.
Comment[el]=Δημιουργεί ένα κενό έγγραφο US Letter.
Comment[es]=Crea un documento vacío tamaño US Letter.
Comment[et]=Loob tühja US Letter dokumendi.
Comment[fr]=Crée un document US Letter vide.
Comment[gl]=Cría un documento vacío para unha páxina Carta dos EUA.
Comment[is]=Býr til tómt US Letter skjal
Comment[it]=Crea un documento US Letter vuoto.
Comment[ja]=空のドキュメント(US Letter)を作成
Comment[nl]=Maakt een leeg US Letter-document aan.
Comment[pt]=Cria um documento Carta dos EUA vazio.
Comment[pt_BR]=Cria um documento Carta dos EUA vazio.
Comment[ru]=Пустой документ формата US Letter
Comment[sl]=Ustvari prazen dokument velikosti »US Letter«.
Comment[sr]=Прави празан документ формата US Letter.
Comment[sr@Latn]=Pravi prazan dokument formata US Letter.
Comment[sv]=Skapar ett tomt US Letter-dokument.
Comment[uk]=Створює порожній документ US Letter.
Comment[xx]=xxCreates a blank US Letter document.xx
Comment[zh_CN]=创建空的美式信函文档。
Comment[zh_TW]=建立一個空白 US Letter 文件。
Icon=template_letter
X-KDE-MeasureSystem=imperial
