[Desktop Entry]
Encoding=UTF-8
Name=KThesaurus
Name[cy]=KThesawrws
Name[eo]=Tezaŭro
Name[fr]=KThésaurus
Name[hi]=के-थेसारस
Name[hr]=KTezaurus
Name[lo]=ວັດຈະນານຸກົມຄໍາຟ້ອງ K
Name[ms]=KTesaurus
Name[sl]=KTezaver
Name[sv]=Kthesaurus
Name[th]=พจนานุกรมคำพ้อง K
Name[zh_TW]=KDE 同義字
Type=Application
Icon=kthesaurus
Exec=kthesaurus
GenericName=Related Words
GenericName[af]=Verwanter Woorde
GenericName[ar]=الكلمات ذات العلاقة
GenericName[bg]=Синоними
GenericName[bs]=Srodne riječi
GenericName[ca]=Paraules relacionades
GenericName[cs]=Podobná slova
GenericName[cy]=Geiriau Perthnasol
GenericName[da]=Relaterede ord
GenericName[de]=Verwandte Ausdrücke
GenericName[el]=Συγγενικές λέξεις
GenericName[eo]=Rilataj vortoj
GenericName[es]=Palabras relacionadas
GenericName[et]=Sarnased sõnad
GenericName[eu]=Erlazionatutako hitzak
GenericName[fa]=کلمات مرتبط
GenericName[fi]=Samankaltaiset sanat
GenericName[fr]=Mots liés
GenericName[he]=מילים קשורות
GenericName[hi]=सम्बन्धित शब्द
GenericName[hr]=Srodne riječi
GenericName[hu]=Szinonimaszótár
GenericName[is]=Tengd orð
GenericName[it]=Dizionario dei sinonimi
GenericName[ja]=類義語
GenericName[km]=ពាក្យ​ដែល​ទាក់ទង
GenericName[lo]=ຄໍາທີ່ສໍາພັນກັນ 
GenericName[lv]=Saistītie vārdi
GenericName[ms]=Kata Berkaitan 
GenericName[mt]=Kliem relatati (teżawru)
GenericName[nb]=Beslektede ord
GenericName[nl]=Gerelateerde woorden
GenericName[nn]=Samanhøyrande ord
GenericName[pl]=Słowa pokrewne
GenericName[pt]=Palavras Relacionadas
GenericName[pt_BR]=Palavras Relacionadas
GenericName[ru]=Синонимы
GenericName[se]=Oktiigullevaš sánit
GenericName[sk]=Súvisiace slová
GenericName[sl]=Povezane besede
GenericName[sr]=Сличне речи
GenericName[sr@Latn]=Slične reči
GenericName[sv]=Relaterade ord
GenericName[ta]=தொடர்புள்ள சொற்கள்
GenericName[tg]=Калимаҳои хешовандӣ
GenericName[th]=คำที่สัมพันธ์กัน
GenericName[tr]=İlişkili Kelimeler
GenericName[uk]=Пов'язані слова
GenericName[uz]=Боғлиқ бўлган сўзлар
GenericName[wa]=Mots k' ont-st a vey
GenericName[xh]=Amagama Ahlobeneyo
GenericName[zh_CN]=相关单词
GenericName[zh_TW]=相關單字
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;X-KDE-More;
