[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/BarChart.chrt
Name=Bar Chart
Name[ca]=Diagrama de barres
Name[cs]=Sloupcový graf
Name[cy]=Siart Bar
Name[da]=Bjælkediagram
Name[de]=Balkendiagramm
Name[el]=Ραβδόγραμμα
Name[es]=Gráfica de barras
Name[et]=Tulpdiagramm
Name[eu]=Barra-grafika
Name[fi]=Pylväskaavio
Name[fr]=Graphique en barres
Name[ga]=Barra-Chairt
Name[he]=תרשים עמודות
Name[hu]=Oszlopdiagram
Name[is]=Súlurit
Name[it]=Grafico a barre
Name[ja]=棒グラフ
Name[km]=គំនូសតាង​របារ
Name[ms]=Carta Bar
Name[nb]=Stolpediagram
Name[nl]=Balkgrafiek
Name[nn]=Stolpediagram
Name[pl]=Wykres słupkowy
Name[pt]=Gráfico de Barras
Name[pt_BR]=Gráfico de Barras
Name[ru]=Гистограмма
Name[se]=Stoalpodiagrámma
Name[sl]=Stolpični graf
Name[sr]=Тракасти графикон
Name[sr@Latn]=Trakasti grafikon
Name[sv]=Stapeldiagram
Name[uk]=Стовпчикова діаграма
Name[uz]=Гистограмма
Name[zh_CN]=条形图
Name[zh_TW]=長條圖
Comment=An example of a bar chart
Comment[ca]=Un exemple de diagrama de barres
Comment[cy]=Enghraifft o siart bar
Comment[da]=Et eksempel på et bjælkediagram
Comment[de]=Beispiel für ein Balkendiagramm.
Comment[el]=Ένα παράδειγμα ραβδογράμματος.
Comment[es]=Un ejemplo de una gráfica de barras
Comment[et]=Näidistulpdiagramm
Comment[fi]=Esimerkki pylväskaaviosta
Comment[fr]=Un exemple de graphique en barres
Comment[ga]=Barra-chairt shamplach
Comment[hu]=Példa oszlopdiagramra
Comment[is]=Súlurits sýnishorn
Comment[it]=Una esempio di grafico a barre
Comment[ja]=棒グラフのサンプル
Comment[km]=ឧទាហរណ៍​មួយ​នៃ​គំនូសតាង​របារ
Comment[nl]=Een voorbeeld van een balkgrafiek
Comment[pl]=Przykład wykresu słupkowego
Comment[pt]=Um exemplo de um gráfico de barras
Comment[pt_BR]=Um exemplo de um gráfico de barras
Comment[ru]=Пример столбиковой диаграммы
Comment[sl]=Zgled za stolpični graf
Comment[sr]=Пример тракастог графикона
Comment[sr@Latn]=Primer trakastog grafikona
Comment[sv]=Ett exempel på ett stapeldiagram
Comment[uk]=Приклад стовпчикової діаграми
Comment[uz]=Гистограмма намунаси
Comment[zh_CN]=条形图示例
Icon=template_barchart
