<!DOCTYPE kpartgui>
<kpartplugin name="insertknotsplugin" library="karbon_insertknotsplugin">
<MenuBar>
	<Menu name="effects">
		<Action name="path_insert_knots"/>
	</Menu>
</MenuBar>
<ToolBar name="Effects" fullWidth="false">
	<Action name="path_insert_knots"/>
</ToolBar>
</kpartplugin>
