# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kudesigner %u
Icon=kudesigner
DocPath=kugar/index.html
Terminal=false
Name=Kugar Designer
Name[af]=Kugar Ontwerper
Name[ar]=مُصَمِّم Kugar
Name[bg]=Дизайнер за Kugar
Name[br]=Ergrafer Kugar
Name[ca]=Dissenyador Kugar
Name[cy]=Dylunydd Kugar
Name[de]=Kugar-Designer
Name[el]=Σχεδιαστής Kugar
Name[eo]=Raportilo-kreilo
Name[es]=Diseñador Kugar
Name[eu]=Kugar diseinatzailea
Name[fa]=Kugar طراح
Name[fr]=Concepteur Kugar
Name[hi]=कुगर डिज़ाइनर
Name[is]=Kugar hönnuður
Name[ja]=Kugar デザイナー
Name[km]=កម្មវិធី​រចនា Kugar
Name[lo]=ອອກແບບລາຍງານ K 
Name[lv]=Kugar Dizainers
Name[ms]=Pereka Bentuk Kugar
Name[mt]=Diżinjatur Kugar
Name[nb]=Kugar designer
Name[pl]=Projektant Kugar
Name[sk]=Návrhár Kugar
Name[sl]=Snovalnik Kugar
Name[sr]=Kugar дизајнер
Name[sr@Latn]=Kugar dizajner
Name[sv]=Kugar designer
Name[ta]=Kugar வடிவமைப்பாளர்
Name[tg]=Дизайнгари Kugar
Name[th]=ออกแบบรายงาน K
Name[tr]=Kugar Tasarım Programı
Name[uk]=Дизайнер Kugar
Name[uz]=Kugar дизайнер
Name[xh]=Umyili we Kugar
Name[zh_CN]=Kugar 设计器
Name[zh_TW]=Kugar 設計家
GenericName=Report Template
GenericName[ca]=Plantilla d'informe
GenericName[cy]=Patrymlun Adroddiad
GenericName[da]=Rapport-skabelon
GenericName[de]=Berichtvorlage
GenericName[el]=Πρότυπο αναφοράς
GenericName[es]=Plantillas de informes
GenericName[et]=Aruandemall
GenericName[eu]=Txosten-txantiloia
GenericName[fi]=Raporttipohja
GenericName[fr]=Modèle de rapport
GenericName[he]=תבנית דו"ח
GenericName[hu]=Jelentéstervező
GenericName[is]=Skýrslusnið
GenericName[it]=Modello di rapporto
GenericName[ja]=レポート テンプレート
GenericName[km]=ពុម្ព​របាយការណ៍
GenericName[ms]=Templat Laporan
GenericName[nb]=Utforming av rapportmaler
GenericName[nl]=Rapportsjabloon
GenericName[nn]=Rapportmal
GenericName[pl]=Szablon raportu
GenericName[pt]=Modelo de Relatório
GenericName[pt_BR]=Modelos de Relatório
GenericName[ru]=Шаблон отчёта
GenericName[se]=Raportamálle
GenericName[sl]=Predloga za poročila
GenericName[sr]=Шаблон за извештаје
GenericName[sr@Latn]=Šablon za izveštaje
GenericName[sv]=Rapportmall
GenericName[uk]=Шаблон звіту
GenericName[uz]=Ҳисобот намунаси
GenericName[zh_CN]=报告模板
GenericName[zh_TW]=報告範本
Comment=Report Designer
Comment[af]=Raporteer Ontwerper
Comment[ar]=مُصَمِّم التَّقارير
Comment[bg]=Създаване на отчети
Comment[bs]=Dizajner izvještaja
Comment[ca]=Dissenyador d'informes
Comment[cs]=Návrhář reportů
Comment[cy]=Dylunydd Adroddiad
Comment[da]=Rapportdesigner
Comment[de]=Bericht-Designer
Comment[el]=Σχεδιαστής αναφορών
Comment[eo]=Raporto-kreilo
Comment[es]=Diseñador de informes
Comment[et]=Aruandedisainer
Comment[eu]=Txosten-diseinatzailea
Comment[fa]=طراح گزارش
Comment[fi]=Raporttisuunittelija
Comment[fr]=Générateur de rapports
Comment[he]=מעצב דו"חות
Comment[hi]=रपट डिज़ाइनर
Comment[hr]=Dizajner izvješća
Comment[hu]=Jelentéskészítő
Comment[is]=Skýrsluhönnuður
Comment[it]=Progettazione di rapporti
Comment[ja]=レポートデザイナー
Comment[km]=កម្មវិធី​រចនា​របាយការណ៍
Comment[lo]=ຕົວອອກແບບລາຍງານ 
Comment[lv]=Reporta Dizainers
Comment[ms]=Pereka Bentuk Laporan
Comment[mt]=Diżinjatur tar-rapporti
Comment[nb]=Formgivingsprogram for rapporter
Comment[nl]=Rapportengenerator
Comment[nn]=Rapportformgjevar
Comment[pl]=Projektant raportów
Comment[pt]=Desenhador de Relatórios
Comment[pt_BR]=Gerador de Relatórios
Comment[ru]=Дизайнер отчётов
Comment[se]=Raportahápmejeaddji
Comment[sk]=Návrhár reportov
Comment[sl]=Snovalnik poročil
Comment[sr]=Дизајнер извештаја
Comment[sr@Latn]=Dizajner izveštaja
Comment[sv]=Rapportdesign
Comment[ta]=Report வடிவமைப்பலர்
Comment[tg]=Ахборот барои Дизайнгар
Comment[th]=ตัวออกแบบรายงาน
Comment[tr]=Rapor Tasarım Programı
Comment[uk]=Генератор звітів
Comment[uz]=Ҳисобот дизайнери
Comment[xh]=Umyili Wengxelo
Comment[zh_CN]=报告设计器
Comment[zh_TW]=簡報設計家
MimeType=application/x-kudesigner
X-KDE-NativeMimeType=application/x-kudesigner
X-KDE-Library=libkudesignerpart
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart

Categories=Qt;KDE;Office;X-KDE-More;
