[Desktop Entry]
Name=A Mobile Phone
Name[bg]=Мобилен телефон
Name[ca]=Un telèfon mòbil
Name[ca@valencia]=Un telèfon mòbil
Name[cs]=Mobilní telefon
Name[de]=Mobiltelefon
Name[el]=Κινητό τηλέφωνο
Name[es]=Un teléfono móvil
Name[et]=Mobiiltelefon
Name[fi]=Matkapuhelin
Name[it]=Un cellulare
Name[kk]=Мобайл телефоны
Name[nb]=En mobiltelefon
Name[nl]=Een mobiele telefoon
Name[pl]=Telefon komórkowy
Name[pt]=Telemóvel
Name[pt_BR]=Telefone celular
Name[ru]=Мобильный телефон
Name[sk]=Mobilný telefón
Name[sv]=En mobiltelefon
Name[uk]=Мобільний телефон
Name[x-test]=xxA Mobile Phonexx
Name[zh_TW]=行動電話
