[Desktop Entry]
Name=Patch Panel
Name[ca]=Plafó de pedaços
Name[ca@valencia]=Plafó de pedaços
Name[de]=Patchfeld
Name[el]=Πίνακας διορθώσεων
Name[es]=Panel de modificación
Name[et]=Ühenduspaneel
Name[it]=Permutatore
Name[kk]=Патч-панелі
Name[nb]=Patchepanel
Name[nl]=Patchpaneel
Name[pl]=Kanał łaty
Name[pt]=Painel de Modificação
Name[pt_BR]=Painel de modificação
Name[ru]=Патч-панель
Name[sk]=Patch Panel
Name[sv]=Kopplingspanel
Name[uk]=Патч-панель
Name[x-test]=xxPatch Panelxx
Name[zh_TW]=配線盤
