[Desktop Entry]
Name=A Bigtower PC
Name[bg]=Компютър в голяма кутия
Name[de]=Bigtower-PC
Name[el]=Υπολογιστής πύργος μεγάλου μεγέθους
Name[es]=Un PC gran torre
Name[nb]=En stortårns-PC
Name[pl]=Bigtower PC
Name[pt]=PC Torre Grande
Name[pt_BR]=PC torre grande
Name[sv]=En stor stående persondator
Name[uk]=ПК з великим корпусом
Name[x-test]=xxA Bigtower PCxx
Name[zh_TW]=Bigtower PC
