[Desktop Entry]
Name=A Desktop PC
Name[bg]=Настолен компютър
Name[ca]=Un escriptori de PC
Name[ca@valencia]=Un escriptori de PC
Name[de]=Desktop-PC
Name[el]=Επιτραπέζιος υπολογιστής
Name[es]=Un PC de escritorio
Name[et]=PC (desktop)
Name[it]=Un PC desktop
Name[kk]=Үстел ДК
Name[nb]=En skrivebords-PC
Name[nl]=Een desktop-pc
Name[pl]=Desktop PC
Name[pt]=PC de Secretária
Name[pt_BR]=PC de mesa
Name[ru]=Настольный ПК
Name[sk]=Desktop PC
Name[sv]=En skrivbordspersondator
Name[uk]=Настільний ПК
Name[x-test]=xxA Desktop PCxx
Name[zh_TW]=桌上型 PC
