[Desktop Entry]
Name=Router Symbol
Name[bg]=Символ за маршрутизатор
Name[de]=Router-Symbol
Name[el]=Σύμβολο δρομολογητή
Name[et]=Marsruuteri sümbol
Name[nb]=Rutersymbol
Name[pl]=Symbol routera
Name[pt]=Símbolo Encaminhador
Name[pt_BR]=Símbolo de roteador
Name[sv]=Routersymbol
Name[uk]=Символ маршрутизатора
Name[x-test]=xxRouter Symbolxx
Name[zh_TW]=路由器符號
