[Desktop Entry]
Name=Router Symbol
Name[el]=Σύμβολο δρομολογητή
Name[et]=Marsruuteri sümbol
Name[nb]=Rutersymbol
Name[pt]=Símbolo Encaminhador
Name[pt_BR]=Símbolo de roteador
Name[sv]=Routersymbol
Name[uk]=Символ маршрутизатора
Name[x-test]=xxRouter Symbolxx
