[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kexi/Handler

GenericName=Queries
GenericName[bg]=Заявки
GenericName[ca]=Consultes
GenericName[cs]=Dotazy
GenericName[cy]=Ymholiadau
GenericName[da]=Forespørgsler
GenericName[de]=Abfragen
GenericName[el]=Ερωτήσεις
GenericName[eo]=Informo-mendoj
GenericName[es]=Consultas
GenericName[et]=Päringud
GenericName[eu]=Kontsultak
GenericName[fi]=Kyselyt
GenericName[fr]=Requêtes
GenericName[ga]=Iarratais
GenericName[he]=שאילתות
GenericName[hu]=Lekérdezések
GenericName[it]=Interrogazioni
GenericName[ja]=クエリ
GenericName[nb]=Spørringer
GenericName[nn]=Spørjingar
GenericName[pt]=Pesquisas
GenericName[pt_BR]=Consultas
GenericName[ru]=Запросы
GenericName[se]=Jearahusat
GenericName[sl]=Poizvedbe
GenericName[sr]=Упити
GenericName[sr@Latn]=Upiti
GenericName[sv]=Förfrågningar
GenericName[ta]=கேள்விகள்
GenericName[tr]=Sorgular
GenericName[uk]=Запити
GenericName[xx]=xxQueriesxx
GenericName[zh_CN]=查询
Name=Queries
Name[bg]=Заявки
Name[ca]=Consultes
Name[cs]=Dotazy
Name[cy]=Ymholiadau
Name[da]=Forespørgsler
Name[de]=Abfragen
Name[el]=Ερωτήσεις
Name[eo]=Informo-mendoj
Name[es]=Consultas
Name[et]=Päringud
Name[eu]=Kontsultak
Name[fi]=Kyselyt
Name[fr]=Requêtes
Name[ga]=Iarratais
Name[he]=שאילתות
Name[hu]=Lekérdezések
Name[it]=Interrogazioni
Name[ja]=クエリ
Name[nb]=Spørringer
Name[nn]=Spørjingar
Name[pl]=Zapytania
Name[pt]=Procuras
Name[pt_BR]=Consultas
Name[ru]=Запросы
Name[se]=Jearahusat
Name[sl]=Poizvedbe
Name[sr]=Упити
Name[sr@Latn]=Upiti
Name[sv]=Förfrågningar
Name[ta]=கேள்விகள்
Name[tg]=Талаботҳо
Name[tr]=Sorgular
Name[uk]=Запити
Name[uz]=Талаблар
Name[xx]=xxQueriesxx
Name[zh_CN]=查询
X-KDE-Library=kexihandler_query
X-KDE-ParentApp=kexi
X-Kexi-PartVersion=2
X-Kexi-TypeName=query
X-Kexi-TypeMime=kexi/query
X-Kexi-ItemIcon=query
X-Kexi-SupportsDataExport=true
