[Desktop Entry]
Type=Service
Name=Microsoft Excel Spreadsheets
Name[da]=Microsoft Excel-regneark
Name[de]=Microsoft Excel Tabellenkalkulation
Name[el]=Φύλλα εργασίας Microsoft Excel
Name[es]=Hojas de cálculo Microsoft Excel
Name[et]=Microsoft Exceli arvutustabelid
Name[fi]=MIcrosoft Excel laskentataulukot
Name[fr]=Tableurs Microsoft Excel
Name[gl]=Follas de cálculo de Microsoft Excel
Name[hu]=Microsoft Excel táblázatok
Name[it]=Fogli di calcolo Microsoft Excel
Name[kk]=Microsoft Excel эл.кестелері
Name[nl]=Microsoft Excel-spreadsheets
Name[pl]=Arkusze kalkulacyjne Microsoft Excel
Name[pt]=Folhas de Cálculo do Microsoft Excel
Name[pt_BR]=Planilhas do Microsoft Excel
Name[sk]=Zošity Microsoft Excel
Name[sl]=Preglednice Microsoft Excel
Name[sv]=Microsoft Excel-kalkylark
Name[uk]=Електронні таблиці Microsoft Excel
Name[x-test]=xxMicrosoft Excel Spreadsheetsxx

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/vnd.ms-excel;

X-KDE-Library=calligrathumbnail
CacheThumbnail=true
