[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-raw
Icon=image
Patterns=*.raw;*.RAW;*.dcr;*.DCR;*.dng;*.DNG;*.crw;*.CRW;*.cr2,*.CR2;*.nef;*.NEF;*.mrw;*.MRW;
Comment=RAW Camera Image
