[Desktop Entry]
Type=Service
Name=Flow Visio Import Filter
Name[bs]=Flow Visio unosni Filter
Name[ca]=Filtre d'exportació Visio del Flow
Name[ca@valencia]=Filtre d'exportació Visio del Flow
Name[cs]=Importní filtr formátu Flow Visio
Name[da]=Visio-importfilter til Flow
Name[de]=Flow-Visio-Importfilter
Name[el]=Φίλτρο εισαγωγής Flow Visio
Name[es]=Filtro de Flow de importación de Visio
Name[et]=Flow Visio impordifilter
Name[fi]=Flow Visio -tuontisuodin
Name[fr]=Filtre d'importation de Visio pour Flow
Name[gl]=Filtro para Flow de importación de Visio
Name[hu]=Flow Visio importszűrő
Name[it]=Filtro di importazione Visio per Flow
Name[ja]=Flow Visio インポートフィルタ
Name[kk]=Flow Visio экспорт сүзгісі
Name[mr]=फ्लो व्हिजिओ आयात गाळणी
Name[nl]=Visio-importfilter voor Flow
Name[pl]=Filtr importu Flow Visio
Name[pt]=Filtro de Importação de Visio para o Flow
Name[pt_BR]=Filtro de importação de Visio para o Flow
Name[sk]=Importný filter Flow Visio
Name[sl]=Izvozni filter Visio za Flow
Name[sv]=Flow Visio importfilter
Name[uk]=Фільтр імпортування даних Visio для Flow
Name[x-test]=xxFlow Visio Import Filterxx
Name[zh_CN]=Visio 流程图导入过滤器
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=application/vnd.visio
X-KDE-Weight=1
X-KDE-Library=vsdximport
X-KDE-ServiceTypes=CalligraFilter
