[Desktop Entry]
Name=Buffer
Name[bg]=Буфер
Name[ca]=Memòria intermèdia
Name[ca@valencia]=Memòria intermèdia
Name[cs]=Buffer
Name[de]=Puffer
Name[et]=Puhver
Name[it]=Buffer
Name[nb]=Buffer
Name[nds]=Puffer
Name[nl]=Buffer
Name[pl]=Bufor
Name[pt]=Tampão
Name[pt_BR]=Tampão
Name[ru]=Буфер
Name[sv]=Buffer
Name[ug]=يىغلەك
Name[uk]=Буфер
Name[x-test]=xxBufferxx
Name[zh_TW]=緩衝器
