[Desktop Entry]
Name=Circuit2
Name[en_GB]=Circuit2
Name[fi]=Virtapiiri2
Name[fr]=Circuit2
Name[nl]=Elektrisch schema2
Name[x-test]=xxCircuit2xx
X-KDE-DirType=odg-collection
