[Desktop Entry]
Name=Diagonal Diode
Name[et]=Diagonaalne diood
Name[nl]=Diagonale diode
Name[pt]=Díodo Diagonal
Name[pt_BR]=Diodo diagonal
Name[sv]=Diagonal diod
Name[uk]=Діод (діагонально)
Name[x-test]=xxDiagonal Diodexx
