[Desktop Entry]
Name=Diagonal Led (European)
Name[ca]=Diagonal Led (Europeu)
Name[de]=Diagonale LED (europäisch)
Name[el]=Διαγώνιο led (Ευρώπη)
Name[es]=LED diagonal (Europeo)
Name[et]=Diagonaalne LED (Euroopa)
Name[it]=LED diagonale (europeo)
Name[nb]=Diagonal LED (DIN)
Name[nl]=Diagonale led (Europees)
Name[pl]=Diagonalna dioda Led (Europejska)
Name[pt]=LED Diagonal (Europeu)
Name[pt_BR]=Led diagonal (Europeu)
Name[sv]=Diagonal lysdiod (europeisk)
Name[uk]=Світлодіод (діагонально, Європа)
Name[x-test]=xxDiagonal Led (European)xx
Name[zh_TW]=對角發光二極體（歐洲）
