[Desktop Entry]
Name=Diagonal Zener Diode
Name[en_GB]=Diagonal Zener Diode
Name[fr]=Diagonal Zener Diode
Name[nl]=Diagonale zenerdiode
Name[x-test]=xxDiagonal Zener Diodexx
