[Desktop Entry]
Name=Vertical Voltmeter
Name[ca]=Voltímetre vertical
Name[de]=Sekrechtes Voltmeter
Name[el]=Κάθετο βολτόμετρο
Name[et]=Vertikaalne voltmeeter
Name[it]=Voltmetro verticale
Name[nb]=Loddrett voltmeter
Name[nds]=Pielrecht Voltmeter
Name[nl]=Verticale voltmeter
Name[pl]=Pionowy woltomierz
Name[pt]=Voltímetro Vertical
Name[pt_BR]=Voltímetro vertical
Name[ru]=Вертикальный вольтметр
Name[sv]=Vertikal voltmätare
Name[uk]=Вольтметр (вертикально)
Name[x-test]=xxVertical Voltmeterxx
Name[zh_TW]=垂直電壓計
