[Desktop Entry]
Type=Service
Name=Flow Image Export Filter
Name[br]=Sil ezporzh skeudenn evit Flow
Name[ca]=Filtre d'exportació d'imatges per al Flow
Name[da]=Flow billedeksportfilter
Name[de]=Flow Bild-Exportfilter
Name[el]=Φίλτρο εξαγωγής εικόνας του Flow
Name[en_GB]=Flow Image Export Filter
Name[eo]=Flow-bildeksportfiltrilo
Name[es]=Filtro de Flow de exportación a imagen
Name[et]=Flow pildi ekspordifilter
Name[fa]=پالایۀ صادرات تصویر Flow
Name[fi]=Flow kuva -vientisuodin
Name[fr]=Filtre d'exportation d'images de Flow
Name[fy]=Flowfilter foar ôfbylding-eksport
Name[ga]=Scagaire Easpórtála Íomhá Flow
Name[gl]=Filtro de Exportación de Imaxe para Flow
Name[he]=Flow מסנן יצוא תמונה
Name[hi]=केआईवीआईओ छवि निर्यात फ़िल्टर
Name[hne]=केआईवीआईओ फोटू निर्यात फिल्टर
Name[hr]=Flow filtar izvoza slika
Name[hu]=Flow képexportáló szűrő
Name[is]=Flow mynd útflutningssía
Name[it]=Filtro di esportazione delle immagini di Flow
Name[ja]=Flow 画像 エクスポートフィルタ
Name[kk]=Flow кескінге экспорт сүзгісі
Name[lt]=Flow Image eksportavimo filtras
Name[lv]=Flow attēla eksporta filtrs
Name[ms]=Penapis Eksport Image Flow
Name[nb]=Bilde-eksportfilter for Flow
Name[nds]=Bild-Exportfilter för Flow
Name[ne]=किभियो छवि निर्यात फिल्टर
Name[nl]=Afbeeldingexportfilter voor Flow
Name[pl]=Filtr eksportu do obrazków z Flow
Name[pt]=Filtro de Exportação de Imagem para o Flow
Name[pt_BR]=Filtro de Exportação de Imagem para o Flow
Name[ro]=Filtru exportare Flow pentru imagini
Name[ru]=Фильтр экспорта схем Flow
Name[sk]=Exportný filter obrázkov Flow
Name[sl]=Izvozni filter za slike za Flow
Name[sv]=Flow bildexportfilter
Name[tg]=Филтри содиротии Flow Image
Name[tr]=Kvivo Resim Aktarma Filtresi
Name[uk]=Фільтр експорту зображення для Flow
Name[uz]=Flow rasm eksport filteri
Name[wa]=Passete d' ebagaedje d' imådje di Flow
Name[x-test]=xxFlow Image Export Filterxx
Name[zh_CN]=Flow 图像导出过滤器
Name[zh_TW]=Flow 圖片匯出過濾程式
X-KDE-Import=application/x-flow
X-KDE-Export=image/png,image/jpeg,image/x-bmp,image/x-eps,image/x-portable-bitmap,image/x-pcx,image/x-portable-pixmap,image/x-rgb,image/x-xpm,image/jp2
X-KDE-Weight=1
X-KDE-Library=flowimageexport
X-KDE-ServiceTypes=KOfficeFilter
