[Desktop Entry]
Type=Service
Name=Flow Image Export Filter
Name[en_GB]=Flow Image Export Filter
Name[fi]=Kuvavientisuodatin Flow’hun
Name[fr]=Filtre d'exportation d'imagespour Flow
Name[nl]=Afbeeldingexportfilter voor Flow
Name[x-test]=xxFlow Image Export Filterxx
X-KDE-Import=application/x-flow
X-KDE-Export=image/png,image/jpeg,image/x-bmp,image/x-eps,image/x-portable-bitmap,image/x-pcx,image/x-portable-pixmap,image/x-rgb,image/x-xpm,image/jp2
X-KDE-Weight=1
X-KDE-Library=flowimageexport
X-KDE-ServiceTypes=Calligra/Filter
