[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KPresenter KWord Filter
Name[br]=Sil KWord KPresenter
Name[ca]=Filtre de KWord per a KPresenter
Name[cs]=Filtr pro převod KPresenter->KWord
Name[cy]=Hidlen KWord KPresenter
Name[da]=KPræsenter KWord-filter
Name[de]=KPresenter KWord-Filter
Name[el]=KPresenter KWord φίλτρο
Name[es]=Filtro de KWord para KPresenter
Name[et]=KPresenteri KWordi filter
Name[eu]=KPresenter-en KWord iragazkia
Name[fi]=KPresenter KWord -suodin
Name[fr]=Filtre KWord pour KPresenter
Name[ga]=Scagaire KWord KPresenter
Name[he]=מסנן ייבוא מ־KWord ל־KPresenter
Name[hr]=KPresenter filtar za KWord
Name[hu]=KPresenter KWord szűrő
Name[is]=KPresenter KWord sía
Name[it]=Filtro da KPresenter a KWord
Name[ja]=KPresenter KWord フィルタ
Name[km]=តម្រង KWord សម្រាប់ KPresenter
Name[lv]=KPresenter KWord filtrs
Name[ms]=Penapis KPresenter KWord 
Name[nb]=KPresenter KWord-filter
Name[nl]=KWord-filter voor KPresenter
Name[nn]=KWord-filter for KPresenter
Name[pl]=Filtr KPresenter formatu KWord
Name[pt]=Filtro de KWord para o KPresenter
Name[pt_BR]=Filtro do KPresenter->KWord 
Name[ru]=Фильтр экспорта документов KWord в KPresenter
Name[se]=KPresentera KWord-silli
Name[sk]=Filter pre prevod KPresenter- KWord
Name[sl]=Filter za KPresenter v KWord
Name[sr]=KPresenter-ов филтер за KWord
Name[sr@Latn]=KPresenter-ov filter za KWord
Name[sv]=Kpresenter Kword-filter
Name[uk]=Фільтр KWord для KPresenter
Name[uz]=KPresenter учун KWord филтри
Name[zh_CN]=KPresenter KWord 过滤器
Name[zh_TW]=KPresenter KWord 過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Export=application/x-kword
X-KDE-Library=libkprkword
ServiceTypes=KOfficeFilter
