[Desktop Entry]
Type=Service
Name=KPresenter KWord Filter
Name[bg]=Филтър за KPresenter за файлове на KWord
Name[br]=Sil KWord KPresenter
Name[ca]=Filtre del KWord per al KPresenter
Name[cs]=Filtr pro převod KPresenter->KWord
Name[cy]=Hidlen KWord KPresenter
Name[da]=KPræsenter KWord-filter
Name[de]=KPresenter KWord-Filter
Name[el]=KPresenter KWord φίλτρο
Name[en_GB]=KPresenter KWord Filter
Name[eo]=KPresenter KWord-filtrilo
Name[es]=Filtro de KWord para KPresenter
Name[et]=KPresenteri KWordi filter
Name[eu]=KPresenter-en KWord iragazkia
Name[fa]=پالایۀ KPresenter KWord
Name[fi]=KPresenter KWord -suodin
Name[fr]=Filtre KWord pour KPresenter
Name[fy]=KWord-filter foar KPresenter
Name[ga]=Scagaire KWord KPresenter
Name[gl]=Filtro de KWord para KPresenter
Name[he]=מסנן ייבוא מ־KWord ל־KPresenter
Name[hi]=केप्रेजेन्टर केवर्ड फ़िल्टर
Name[hne]=केप्रेजेन्टर केवर्ड फिल्टर
Name[hr]=KPresenter filtar za KWord
Name[hu]=KPresenter KWord szűrő
Name[is]=KPresenter KWord sía
Name[it]=Filtro da KPresenter a KWord
Name[ja]=KPresenter KWord フィルタ
Name[kk]=KWord -> KPresenter сүзгісі
Name[lt]=KPresenter KWord filtras
Name[lv]=KPresenter KWord filtrs
Name[ms]=Penapis KPresenter KWord 
Name[nb]=KPresenter KWord-filter
Name[nds]=KWord-Filter för KPresenter
Name[ne]=केडीई प्रस्तुतकर्ता केडीई शब्द फिल्टर
Name[nl]=KWord-filter voor KPresenter
Name[pl]=Filtr KPresenter formatu KWord
Name[pt]=Filtro de KWord para o KPresenter
Name[pt_BR]=Filtro KWord para o KPresenter
Name[ru]=Фильтр экспорта документов KWord в KPresenter
Name[se]=KPresentera KWord-silli
Name[sk]=Filter pre prevod KPresenter- KWord
Name[sl]=Filter za KPresenter v KWord
Name[sv]=Kpresenter Kword-filter
Name[tg]=Филтри KWord барои KPresenter
Name[tr]=KPresenter KWord Filtresi
Name[uk]=Фільтр KWord для KPresenter
Name[uz]=KPresenter uchun KWord filteri
Name[uz@cyrillic]=KPresenter учун KWord филтери
Name[wa]=Passete KWord di KPresenter
Name[x-test]=xxKPresenter KWord Filterxx
Name[zh_CN]=KPresenter KWord 过滤器
Name[zh_TW]=KPresenter KWord 過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Export=application/x-kword
X-KDE-Library=libkprkword
X-KDE-ServiceTypes=KOfficeFilter
