[Desktop Entry]
Encoding=UTF-8
Name=SQLite2
Name[x-test]=xxSQLite2xx
Comment=SQLite is default Kexi embedded SQL engine
Comment[fr]=SQLite est le moteur SQL par défaut intégré à Kexi
Comment[ja]=SQLite は Kexi の標準埋め込み SQL エンジンです。
Comment[x-test]=xxSQLite is default Kexi embedded SQL enginexx
X-KDE-Library=kexidb_sqlite2driver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=SQLite2
X-Kexi-DriverType=File
X-Kexi-FileDBDriverMimeList=application/x-sqlite2,application/x-kexiproject-sqlite2,application/x-kexiproject-sqlite,application/x-hk_classes-sqlite2
X-Kexi-KexiDBVersion=1.8
X-Kexi-DoNotAllowProjectImportingTo=true
