[Desktop Entry]
Type=Service
Name=KWordHTMLExportFilter
Name[hu]=KWordHTMLExportSzûrõ
Name[ja]=KWordHTML¥¨¥¯¥¹¥Ý¡¼¥È¥Õ¥£¥ë¥¿¡¼
Name[mi]=KWordHTMLExportSzûrõ
Name[sv]=OrdbehandlarHTMLExportFilter
Comment=Reggie's KWord HTML Filter
Comment[ca]=Filtre HTML pel KWord de Reggie
Comment[de]=Reggies KWord HTML-Filter
Comment[eo]=HTML-filtrilo por la programo Vorto
Comment[fi]=KWord HTML suodatin
Comment[hu]=Reggie KWord HTML Szûrõje
Comment[ja]=Reggie's KWord Ascii Filter
Comment[mi]=Reggie KWord HTML Szûrõje
Comment[no_NY]=Reggies KWord HTML-filter
Comment[sr]=Reggijev HTML filter za KWord
Comment[sv]=Reggies KWord-HTML-filter
Import=application/x-kword
ImportDescription=KWord
Export=text/html
ExportDescription=HTML
X-KDE-Library=libhtmlexport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
Icon=unknown
MiniIcon=unknown
ServiceTypes=KOfficeFilter
