#header {
    width: 100%;
    height: 75px;
    background: url(resources/header_bg.png) repeat-x top left;
}

#header #logo {
    width: 306px;
    height: 75px;
    background: url(resources/header.jpg) no-repeat top left;
}
