<KrossScripting>
    <script
            name="pyhtmlexport"
            text="HTML Export"
            comment="Export an OpenDocument Spreadsheet File to a HTML File"
            interpreter="python"
            file="extensions/htmlexport.py" />
<!--
    <collection name="functions" text="Functions">
        <script
            name="pyfunctions"
            text="Python Scripting Functions"
            comment="Load the python scripting functions"
            interpreter="python"
            file="functions/functions.py" />
    </collection>
//-->
</KrossScripting>
