[Desktop Entry]
Type=Service
Name=MS PowerPoint 2007 Import Filter for KPresenter
Name[cs]=Importní filtr MS PowerPoint 2007 pro KPresenter
Name[el]=Φίλτρο εισαγωγής MS PowerPoint 2007 PowerPoint για το KPresenter
Name[en_GB]=MS PowerPoint 2007 Import Filter for KPresenter
Name[es]=Filtro de KPresenter de importación de MS PowerPoint 2007
Name[et]=KPresenteri MS PowerPoint 2007 impordifilter
Name[fi]=Microsoft PowerPoint 2007 -tuontisuodin KPresenterille
Name[nb]=MS PowerPoint 2007 importfilter for KPresenter
Name[nds]="MS PowerPoint 2007"-Importfilter för KPresenter
Name[nl]=MS Powerpoint 2007 importfilter voor KPresenter
Name[pt]=Filtro de Importação do Microsoft PowerPoint 2007 para o KPresenter
Name[pt_BR]=Filtro de Importação do Microsoft PowerPoint 2007 para o KPresenter
Name[sv]=Microsoft PowerPoint 2007-importfilter för Kpresenter
Name[uk]=Фільтр імпорту MS PowerPoint 2007 для KPresenter
Name[x-test]=xxMS PowerPoint 2007 Import Filter for KPresenterxx
Name[zh_TW]=KPresenter 的 Microsoft PowerPoint 2007 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.presentation
X-KDE-Import=application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.presentationml.template
X-KDE-Weight=1
X-KDE-Library=libpptximport
X-KDE-LibraryMajor=0
X-KDE-LibraryMinor=1
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
