[Desktop Entry]
Name=outs
Name[bs]=izlasci
Name[ca]=outs
Name[ca@valencia]=outs
Name[el]=outs
Name[es]=salida s
Name[et]=outs
Name[fi]=outs
Name[fr]=outs
Name[gl]=Saída S
Name[it]=outs
Name[kk]=outs
Name[nb]=outs
Name[nl]=outs
Name[pl]=outs
Name[pt]=saída-s
Name[pt_BR]=saída-s
Name[ru]=outs
Name[sk]=outs
Name[sv]=outs
Name[uk]=outs
Name[x-test]=xxoutsxx
Name[zh_TW]=outs
