[Desktop Entry]
Name=sout
Name[ca]=sout
Name[el]=sout
Name[et]=sout
Name[it]=sout
Name[kk]=sout
Name[nb]=sout
Name[nl]=sout
Name[pl]=sout
Name[pt]=saída-s
Name[pt_BR]=saída-s
Name[ru]=sout
Name[sv]=s ut
Name[uk]=sout
Name[x-test]=xxsoutxx
Name[zh_TW]=sout
