[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KWord AmiPro Import Filter
Name[x-test]=xxKWord AmiPro Import Filterxx
X-KDE-Export=application/x-kword
X-KDE-Import=application/x-amipro
X-KDE-Weight=1
X-KDE-Library=libamiproimport
ServiceTypes=KOfficeFilter
