[Desktop Entry]
Name=Cup Anemometer
Name[bs]=Cup anemometar
Name[ca]=Anemòmetre de copa
Name[ca@valencia]=Anemòmetre de copa
Name[da]=Kopanemometer
Name[de]=Schalenkreuzwindmesser
Name[el]=Ανεμόμετρο κούπα
Name[en_GB]=Cup Anemometer
Name[eo]=Pokalo Anemometro
Name[es]=Copa del anemómetro
Name[et]=Anemomeeter
Name[eu]=Kopazko anemometroa
Name[fr]=Anémomètre à coupoles
Name[gl]=Anemómetro
Name[hu]=Kanalas szélsebességmérő
Name[it]=Anemometro a coppa
Name[ka]=ჭიქის ანემომეტრი
Name[kk]=Шыныаяқтық анемометр
Name[lv]=Trauka anemometrs
Name[nb]=Kopp-anemometer
Name[nl]=Cup-anemometer
Name[pl]=Wiatromierz czaszowy
Name[pt]=Anemómetro Chave
Name[pt_BR]=Anemômetro chave
Name[ru]=Чашечный анемометр
Name[sk]=Pohárový anemometer
Name[sl]=Čašni anemometer
Name[sv]=Skålvindmätare
Name[tr]=Fincan Anemometre
Name[uk]=Чашковий анемометр
Name[x-test]=xxCup Anemometerxx
Name[zh_TW]=杯型風速計
