[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kexi/DBDriver
Comment=Kexi SQL-Driver plugin
Comment[ca@valencia]=Connector del controlador SQL del Kexi

[PropertyDef::X-Kexi-FileDBDriverMime]
Type=QString

[PropertyDef::X-Kexi-FileDBDriverMimeList]
Type=QStringList

[PropertyDef::X-Kexi-DriverName]
Type=QString

[PropertyDef::X-Kexi-DriverType]
Type=QString

[PropertyDef::X-Kexi-KexiDBVersion]
Type=QString

[PropertyDef::X-Kexi-DoNotAllowProjectImportingTo]
Type=bool
