[Desktop Entry]
Name=Thesaurus Tool
Name[az]=Thesaurus Vasitəsi
Name[cs]=Tezaurus
Name[da]=Thesaurus-værktøj
Name[de]=Dienstprogramm für Bandsicherungen
Name[es]=Herramienta de Thesaurus
Name[fi]=Synonyymisanakirja
Name[fr]=Thésaurus
Name[he]=כלי אגרון
Name[hu]=Szinonimaszótár
Name[lv]=Tezaurs Rīks
Name[nl]=Thesaurus-hulpmiddel
Name[pt]=Ferramenta de Sinónimos
Name[pt_BR]=Ferramenta Thesaurus
Name[sk]=Thesaurus
Name[sv]=Synonymverktyg
Name[xh]=Isixhobo semaphu yebhodi enezitshixo
Name[xx]=xx
Name[zu]=Ithuluzi le Thesaurus
X-KDE-Library=libthesaurustool
Type=Service
Commands=thesaurus
Comment=Show related words
Comment[az]=Aid olan kəlmələri göstər
Comment[cs]=Zobrazit podobná slova
Comment[da]=Viser relaterede ord
Comment[de]=Verwandte Wörter anzeigen lassen
Comment[es]=Mostrar palabras relacionadas
Comment[fi]=Näytä samankaltaiset sanat
Comment[fr]=Affiche les mots liés
Comment[he]=הצג מילים קשורות
Comment[hu]=Szinonimák keresése
Comment[lv]=Rādīt saistītos vārdus
Comment[nl]=toon aanverwante woorden
Comment[pt]=Mostrar palavras relacionadas
Comment[pt_BR]=Mostrar palavras relacionadas
Comment[sk]=Zobrazuje synonymá
Comment[sv]=Visa relaterade ord
Comment[xh]=Bonisa amagama azalanayo
Comment[xx]=xx
Comment[zu]=Khombisa amagama akheleneyo
ServiceTypes=KDataTool
DataType=QString
DataMimeTypes=text/plain
