[Desktop Entry]
Name=Angola
Name[nb]=Angola
Name[pt]=Angola
Name[pt_BR]=Angola
Name[se]=Angola
Name[sv]=Angola
Name[ug]=ئانگولا
Name[uk]=Ангола
Name[x-test]=xxAngolaxx
