[Desktop Entry]
Name=Benin
Name[bg]=Бенин
Name[ca]=Benín
Name[ca@valencia]=Benín
Name[cs]=Benin
Name[da]=Benin
Name[de]=Benin
Name[el]=Μπενίν
Name[es]=Benin
Name[et]=Benin
Name[fi]=Benin
Name[fr]=Bénin
Name[hu]=Benin
Name[it]=Benin
Name[ja]=ベニン
Name[kk]=Бенин
Name[nb]=Benin
Name[nds]=Benin
Name[nl]=Benin
Name[pl]=Benin
Name[pt]=Benim
Name[pt_BR]=Benin
Name[ru]=Бенин
Name[se]=Benin
Name[sk]=Benin
Name[sl]=Benin
Name[sv]=Benin
Name[ug]=بېنىن
Name[uk]=Бенін
Name[x-test]=xxBeninxx
Name[zh_CN]=贝宁
Name[zh_TW]=貝南
