[Desktop Entry]
Name=Bolivia
Name[bg]=Боливия
Name[ca]=Bolívia
Name[ca@valencia]=BolÍvia
Name[cs]=Bolívie
Name[da]=Bolivia
Name[de]=Bolivien
Name[el]=Βολιβία
Name[es]=Bolivia
Name[et]=Boliivia
Name[fi]=Bolivia
Name[fr]=Bolivie
Name[ga]=An Bholaiv
Name[hu]=Bolívia
Name[it]=Bolivia
Name[ja]=ボリビア
Name[kk]=Боливия
Name[nb]=Bolivia
Name[nds]=Bolivien
Name[nl]=Bolivia
Name[pl]=Boliwia
Name[pt]=Bolívia
Name[pt_BR]=Bolívia
Name[ru]=Боливия
Name[se]=Bolivia
Name[sk]=Bolívia
Name[sl]=Bolivija
Name[sv]=Bolivia
Name[ug]=بولىۋىيە
Name[uk]=Болівія
Name[x-test]=xxBoliviaxx
Name[zh_CN]=玻利维亚
Name[zh_TW]=玻利維亞
