[Desktop Entry]
Name=Bosnia And Herzegovina
Name[en_GB]=Bosnia And Herzegovina
Name[fi]=Bosnia ja Hertsegovina
Name[fr]=Bosnie- Herzégovine
Name[nl]=Bosnië en Herzegovina
Name[x-test]=xxBosnia And Herzegovinaxx
