[Desktop Entry]
Name=Chad
Name[cs]=Čad
Name[et]=Tšaad
Name[nb]=Tsjad
Name[pt]=Chade
Name[pt_BR]=Chade
Name[se]=Čad
Name[sv]=Tchad
Name[ug]=چاد
Name[uk]=Чад
Name[x-test]=xxChadxx
Name[zh_TW]=查德
