[Desktop Entry]
Name=China (ROC)
Name[nb]=Kina (ROC)
Name[pt]=China (ROC)
Name[pt_BR]=China (ROC)
Name[sv]=Republiken Kina
Name[uk]=Китай (Тайвань)
Name[x-test]=xxChina (ROC)xx
Name[zh_TW]=中華民國（台灣）
