[Desktop Entry]
Name=China (PRC)
Name[ca]=Xina (RPC)
Name[ca@valencia]=Xina (RPC)
Name[cs]=Čína (ČLR)
Name[da]=Kina (PRC)
Name[de]=Volksrepublik China
Name[el]=Κίνα (Λαϊκή Δημοκρατία)
Name[es]=China (República Popular China)
Name[et]=Hiina (HRV)
Name[fi]=Kiinan kansantasavalta
Name[fr]=Chine (RPC)
Name[gl]=China (RPC)
Name[it]=Cina (PRC)
Name[kk]=Қытай (ҚХР)
Name[nb]=Kina (PRC)
Name[nl]=China (PRC)
Name[pl]=Chiny (ChRL)
Name[pt]=China (RPC)
Name[pt_BR]=China (RPC)
Name[ru]=Китай (КНР)
Name[sk]=Čína (PRC)
Name[sv]=Folkrepubliken Kina
Name[uk]=Китай (КНР)
Name[x-test]=xxChina (PRC)xx
Name[zh_CN]=中华人民共和国
Name[zh_TW]=中華人民共和國
