[Desktop Entry]
Name=Djibouti
Name[bg]=Джибути
Name[cs]=Džibuti
Name[de]=Dschibuti
Name[et]=Djibouti
Name[it]=Gibuti
Name[nb]=Djibouti
Name[nds]=Dschibuti
Name[nl]=Djibouti
Name[pl]=Dżibuti
Name[pt]=Djibouti
Name[pt_BR]=Djibuti
Name[ru]=Джибути
Name[se]=Djibuhti
Name[sv]=Djibouti
Name[ug]=جىبۇتى
Name[uk]=Джибуті
Name[x-test]=xxDjiboutixx
Name[zh_TW]=吉布地
