[Desktop Entry]
Name=Eritrea
Name[bg]=Еритрея
Name[ca]=Eritrea
Name[cs]=Eritrea
Name[da]=Eritrea
Name[de]=Eritrea
Name[es]=Eritrea
Name[et]=Eritrea
Name[fr]=Érythrée
Name[it]=Eritrea
Name[kk]=Эритрея
Name[nb]=Eritrea
Name[nds]=Eritrea
Name[nl]=Eritrea
Name[pl]=Erytrea
Name[pt]=Eritreia
Name[pt_BR]=Eritreia
Name[ru]=Эритрея
Name[se]=Eritrea
Name[sk]=Eritrea
Name[sv]=Eritrea
Name[ug]=ئېرىترېيە
Name[uk]=Еритрея
Name[x-test]=xxEritreaxx
Name[zh_CN]=厄立特里亚
Name[zh_TW]=厄利垂亞
