[Desktop Entry]
Name=Georgia
Name[cs]=Gruzie
Name[et]=Gruusia
Name[nb]=Georgia
Name[nds]=Georgien
Name[pt]=Geórgia
Name[pt_BR]=Geórgia
Name[ru]=Грузия
Name[se]=Georgia
Name[sv]=Georgien
Name[ug]=جورجىيە
Name[uk]=Грузія
Name[x-test]=xxGeorgiaxx
Name[zh_TW]=喬治亞
