[Desktop Entry]
Name=Germany
Name[bg]=Германия
Name[cs]=Německo
Name[da]=Tyskland
Name[de]=Deutschland
Name[et]=Saksamaa
Name[it]=Germania
Name[nb]=Tyskland
Name[nds]=Düütschland
Name[nl]=Duitsland
Name[pl]=Niemcy
Name[pt]=Alemanha
Name[pt_BR]=Alemanha
Name[ru]=Германия
Name[se]=Duiska
Name[sv]=Tyskland
Name[ug]=گېرمانىيە
Name[uk]=Німеччина
Name[x-test]=xxGermanyxx
Name[zh_TW]=德國
