[Desktop Entry]
Name=Grenada
Name[bg]=Гренада
Name[ca]=Grenada
Name[ca@valencia]=Grenada
Name[cs]=Grenada
Name[da]=Grenada
Name[de]=Grenada
Name[el]=Γρενάδα
Name[es]=Granada
Name[et]=Grenada
Name[fi]=Grenada
Name[fr]=Grenade
Name[hu]=Grenada
Name[it]=Grenada
Name[ja]=グラナダ
Name[kk]=Гренада
Name[nb]=Grenada
Name[nds]=Grenada
Name[nl]=Grenada
Name[pl]=Grenada
Name[pt]=Granada
Name[pt_BR]=Granada
Name[ru]=Гренада
Name[se]=Grenada
Name[sk]=Grenada
Name[sl]=Grenada
Name[sv]=Grenada
Name[ug]=گىرېنادا
Name[uk]=Гренада
Name[x-test]=xxGrenadaxx
Name[zh_CN]=格林纳达
Name[zh_TW]=格瑞那達
