[Desktop Entry]
Name=Grenada
Name[cs]=Grenada
Name[et]=Grenada
Name[nb]=Grenada
Name[nds]=Grenada
Name[pt]=Granada
Name[pt_BR]=Granada
Name[ru]=Гренада
Name[se]=Grenada
Name[sv]=Grenada
Name[ug]=گىرېنادا
Name[uk]=Гренада
Name[x-test]=xxGrenadaxx
Name[zh_TW]=格瑞那達
