[Desktop Entry]
Name=Iceland
Name[bg]=Исландия
Name[ca]=Islàndia
Name[ca@valencia]=Islàndia
Name[cs]=Island
Name[da]=Island
Name[de]=Island
Name[el]=Ισλανδία
Name[es]=Islandia
Name[et]=Island
Name[fi]=Islanti
Name[ga]=An Íoslainn
Name[hu]=Izland
Name[it]=Islanda
Name[ja]=アイスランド
Name[kk]=Исландия
Name[nb]=Island
Name[nl]=IJsland
Name[pl]=Islandia
Name[pt]=Islândia
Name[pt_BR]=Islândia
Name[ru]=Исландия
Name[se]=Islánda
Name[sk]=Island
Name[sl]=Islandija
Name[sv]=Island
Name[ug]=ئىسلاندىيە
Name[uk]=Ісландія
Name[x-test]=xxIcelandxx
Name[zh_CN]=冰岛
Name[zh_TW]=冰島
