[Desktop Entry]
Name=India
Name[bg]=Индия
Name[ca]=Índia
Name[ca@valencia]=Índia
Name[cs]=Indie
Name[da]=Indien
Name[de]=Indien
Name[el]=Ινδία
Name[es]=India
Name[et]=India
Name[fi]=Intia
Name[fr]=Inde
Name[hu]=India
Name[it]=India
Name[ja]=インド
Name[kk]=Үндістан
Name[nb]=India
Name[nds]=Indien
Name[nl]=India
Name[pl]=Indie
Name[pt]=Índia
Name[pt_BR]=Índia
Name[ru]=Индия
Name[se]=India
Name[sk]=India
Name[sl]=Indija
Name[sv]=Indien
Name[ug]=ھىندىستان
Name[uk]=Індія
Name[x-test]=xxIndiaxx
Name[zh_CN]=印度
Name[zh_TW]=印度
