[Desktop Entry]
Name=Jamaica
Name[cs]=Jamajka
Name[et]=Jamaica
Name[nb]=Jamaica
Name[nds]=Jamaika
Name[pt]=Jamaica
Name[pt_BR]=Jamaica
Name[ru]=Ямайка
Name[se]=Jamaica
Name[sv]=Jamaica
Name[ug]=يامايكا
Name[uk]=Ямайка
Name[x-test]=xxJamaicaxx
Name[zh_TW]=牙買加
