[Desktop Entry]
Name=Kenya
Name[bg]=Кения
Name[ca]=Kenya
Name[ca@valencia]=Kenya
Name[cs]=Keňa
Name[da]=Kenya
Name[de]=Kenia
Name[el]=Κένυα
Name[es]=Kenia
Name[et]=Kenya
Name[fi]=Kenia
Name[fr]=Kenya
Name[ga]=An Chéinia
Name[hu]=Kenya
Name[it]=Kenia
Name[ja]=ケニヤ
Name[kk]=Кения
Name[nb]=Kenya
Name[nds]=Kenia
Name[nl]=Kenia
Name[pl]=Kenia
Name[pt]=Quénia
Name[pt_BR]=Quênia
Name[ru]=Кения
Name[se]=Kenya
Name[sk]=Keňa
Name[sl]=Kenija
Name[sv]=Kenya
Name[ug]=كېنىيە
Name[uk]=Кенія
Name[x-test]=xxKenyaxx
Name[zh_CN]=肯尼亚
Name[zh_TW]=肯亞
