[Desktop Entry]
Name=Kuwait
Name[nb]=Kuwait
Name[pt]=Koweit
Name[pt_BR]=Kuwait
Name[se]=Kuwait
Name[sv]=Kuwait
Name[ug]=كۇۋەيت
Name[uk]=Кувейт
Name[x-test]=xxKuwaitxx
