[Desktop Entry]
Name=Lesotho
Name[cs]=Lesotho
Name[nb]=Lesotho
Name[pt]=Lesoto
Name[pt_BR]=Lesoto
Name[se]=Lesotho
Name[sv]=Lesotho
Name[ug]=لېسوتو
Name[uk]=Лесото
Name[x-test]=xxLesothoxx
