[Desktop Entry]
Name=Libyan Arab Jamahiriya
Name[en_GB]=Libyan Arab Jamahiriya
Name[fi]=Libya
Name[fr]=Jamahiriya arabe de Lybie
Name[nl]=Libië
Name[x-test]=xxLibyan Arab Jamahiriyaxx
