[Desktop Entry]
Name=Libyan Arab Jamahiriya
Name[pt]=Jamahiriya
Name[pt_BR]=Líbia
Name[sv]=Libyska arabiska Jamahiriya
Name[uk]=Лівійська Арабська Джамахірія
Name[x-test]=xxLibyan Arab Jamahiriyaxx
