[Desktop Entry]
Name=Madagascar
Name[bg]=Мадагаскар
Name[ca]=Madagascar
Name[cs]=Madagaskar
Name[da]=Madagascar
Name[de]=Madagaskar
Name[es]=Madagascar
Name[et]=Madagaskar
Name[fr]=Madagascar
Name[ga]=Madagascar
Name[it]=Madagascar
Name[kk]=Мадагаскар
Name[nb]=Madagaskar
Name[nds]=Madagaskar
Name[nl]=Madagascar
Name[pl]=Madagaskar
Name[pt]=Madagáscar
Name[pt_BR]=Madagascar
Name[ru]=Мадагаскар
Name[se]=Madagaskar
Name[sk]=Madagaskar
Name[sv]=Madagaskar
Name[ug]=ماداغاسقار
Name[uk]=Мадагаскар
Name[x-test]=xxMadagascarxx
Name[zh_CN]=马达加斯加
Name[zh_TW]=馬達加斯加
