[Desktop Entry]
Name=Malta
Name[bg]=Малта
Name[ca]=Malta
Name[ca@valencia]=Malta
Name[cs]=Malta
Name[da]=Malta
Name[de]=Malta
Name[el]=Μάλτα
Name[es]=Malta
Name[et]=Malta
Name[fi]=Malta
Name[fr]=Malte
Name[ga]=Málta
Name[hu]=Málta
Name[it]=Malta
Name[kk]=Мальта
Name[nb]=Malta
Name[nds]=Malta
Name[nl]=Malta
Name[pl]=Malta
Name[pt]=Malta
Name[pt_BR]=Malta
Name[ru]=Мальта
Name[se]=Malta
Name[sk]=Malta
Name[sl]=Malta
Name[sv]=Malta
Name[ug]=مالتا
Name[uk]=Мальта
Name[x-test]=xxMaltaxx
Name[zh_CN]=马耳他
Name[zh_TW]=馬爾他
