[Desktop Entry]
Name=Malta
Name[cs]=Malta
Name[nb]=Malta
Name[pt]=Malta
Name[pt_BR]=Malta
Name[se]=Malta
Name[sv]=Malta
Name[ug]=مالتا
Name[uk]=Мальта
Name[x-test]=xxMaltaxx
