[Desktop Entry]
Name=Nepal
Name[bg]=Непал
Name[cs]=Nepál
Name[da]=Nepal
Name[de]=Nepal
Name[et]=Nepal
Name[it]=Nepal
Name[nb]=Nepal
Name[nds]=Nepal
Name[nl]=Nepal
Name[pl]=Nepal
Name[pt]=Nepal
Name[pt_BR]=Nepal
Name[ru]=Непал
Name[se]=Nepal
Name[sv]=Nepal
Name[ug]=نېپال
Name[uk]=Непал
Name[x-test]=xxNepalxx
Name[zh_TW]=尼泊爾
