[Desktop Entry]
Name=Nepal
Name[bg]=Непал
Name[bs]=Nepal
Name[ca]=Nepal
Name[ca@valencia]=Nepal
Name[cs]=Nepál
Name[da]=Nepal
Name[de]=Nepal
Name[el]=Νεπάλ
Name[es]=Nepal
Name[et]=Nepal
Name[fi]=Nepal
Name[fr]=Népal
Name[ga]=Neipeal
Name[gl]=Nepal
Name[hu]=Nepál
Name[ia]=Nepal
Name[it]=Nepal
Name[ja]=ネパール
Name[kk]=Непал
Name[mr]=नेपाळ
Name[nb]=Nepal
Name[nds]=Nepal
Name[nl]=Nepal
Name[pl]=Nepal
Name[pt]=Nepal
Name[pt_BR]=Nepal
Name[ru]=Непал
Name[se]=Nepal
Name[sk]=Nepál
Name[sl]=Nepal
Name[sv]=Nepal
Name[tr]=Nepal
Name[ug]=نېپال
Name[uk]=Непал
Name[x-test]=xxNepalxx
Name[zh_CN]=尼泊尔
Name[zh_TW]=尼泊爾
