[Desktop Entry]
Name=New Zealand
Name[ca]=Nova Zelanda
Name[cs]=Nový Zéland
Name[el]=Νέα Ζηλανδία
Name[es]=Nueva Zelanda
Name[et]=Uus-Meremaa
Name[ja]=ニュージーランド
Name[kk]=Жаңа Зеландия
Name[nl]=Nieuw-Zeeland
Name[nn]=New Zealand
Name[pl]=Nowa Zelandia
Name[pt]=Nova Zelândia
Name[pt_BR]=Nova Zelândia
Name[se]=Ođđa Zealánda
Name[sk]=Nový Zéland
Name[sv]=Nya Zeeland
Name[uk]=Нова Зеландія
Name[x-test]=xxNew Zealandxx
