[Desktop Entry]
Name=Newzealand
Name[cs]=Nový Zéland
Name[et]=Uus-Meremaa
Name[nb]=Newzealand
Name[pt]=Nova Zelândia
Name[pt_BR]=Nova Zelândia
Name[sv]=Nya Zeeland
Name[uk]=Нова Зеландія
Name[x-test]=xxNewzealandxx
Name[zh_TW]=紐西蘭
