[Desktop Entry]
Name=Norway
Name[bg]=Норвегия
Name[cs]=Norsko
Name[et]=Norra
Name[nb]=Norge
Name[nds]=Norwegen
Name[pt]=Noruega
Name[pt_BR]=Noruega
Name[ru]=Норвегия
Name[se]=Norga
Name[sv]=Norge
Name[ug]=نورۋېگىيە
Name[uk]=Норвегія
Name[x-test]=xxNorwayxx
Name[zh_TW]=挪威
