[Desktop Entry]
Name=Norway
Name[cs]=Norsko
Name[et]=Norra
Name[nb]=Norge
Name[pt]=Noruega
Name[pt_BR]=Noruega
Name[se]=Norga
Name[sv]=Norge
Name[ug]=نورۋېگىيە
Name[uk]=Норвегія
Name[x-test]=xxNorwayxx
Name[zh_TW]=挪威
