[Desktop Entry]
Name=Portugal
Name[cs]=Portugalsko
Name[nb]=Portugal
Name[pt]=Portugal
Name[pt_BR]=Portugal
Name[se]=Portugal
Name[sv]=Portugal
Name[ug]=پورتۇگالىيە
Name[uk]=Португалія
Name[x-test]=xxPortugalxx
Name[zh_TW]=葡萄牙
