[Desktop Entry]
Name=Russian Federation
Name[pt]=Federação Russa
Name[pt_BR]=Federação Russa
Name[sv]=Ryska federationen
Name[uk]=Російська Федерація
Name[x-test]=xxRussian Federationxx
