[Desktop Entry]
Name=Sao Tome And Principe
Name[bg]=Сан Томе и Принципи
Name[ca]=São Tomé i Príncipe
Name[ca@valencia]=São Tomé i Príncipe
Name[cs]=Ostrov Svatého Tomáše a Princův ostrov
Name[da]=Sao Tome og Principe
Name[de]=São Tomé und Príncipe
Name[el]=Σάο Τομέ και Πρίνσιπε
Name[es]=Santo Tomé y Príncipe
Name[et]=Sao Tome ja Principe
Name[fi]=Saõ Tome ja Principe
Name[hu]=Sao Tome és Principe
Name[it]=Sao Tome e Principe
Name[kk]=Сан-Томе және Принсипи
Name[nb]=Sao Tome og Principe
Name[nds]=Sao Tomee un Principe
Name[nl]=Sao Tome en Principe
Name[pl]=Sao Tome i Principe
Name[pt]=São Tomé and Príncipe
Name[pt_BR]=São Tomé e Príncipe
Name[ru]=Сан-Томе и Принсипи
Name[sk]=Svätý Tomáš a Princov ostrov
Name[sl]=Sao Tome in Principe
Name[sv]=São Tomé och Príncipe
Name[uk]=Сан Томе і Прінсіпі
Name[x-test]=xxSao Tome And Principexx
Name[zh_CN]=圣多美和普林西比
Name[zh_TW]=聖多美及普林西比
