[Desktop Entry]
Name=Sao Tome And Principe
Name[en_GB]=Sao Tome And Principe
Name[fi]=Saõ Tome ja Principe
Name[fr]=Sao Tome et Principe
Name[nl]=Sao Tome en Principe
Name[x-test]=xxSao Tome And Principexx
