[Desktop Entry]
Name=Seychelles
Name[bg]=Сейшели
Name[ca]=Seychelles
Name[ca@valencia]=Seychelles
Name[cs]=Seychelské ostrovy
Name[da]=Seychellerne
Name[de]=Seychellen
Name[el]=Σεϋχέλλες
Name[es]=Seychelles
Name[et]=Seišellid
Name[fi]=Seychellit
Name[fr]=Seychelles
Name[ga]=Na Séiséil
Name[hu]=Seychelles
Name[it]=Seychelles
Name[kk]=Сейшел ар-ы
Name[nb]=Seychellene
Name[nds]=Seychellen
Name[nl]=Seychellen
Name[pl]=Seszele
Name[pt]=Ilhas Seychelles
Name[pt_BR]=Seicheles
Name[ru]=Сейшельские острова
Name[se]=Seyšellat
Name[sk]=Seychely
Name[sl]=Sejšeli
Name[sv]=Seychellerna
Name[ug]=سېيشېل
Name[uk]=Сейшельські Острови
Name[x-test]=xxSeychellesxx
Name[zh_CN]=塞舌尔
Name[zh_TW]=塞席爾
