[Desktop Entry]
Name=Solomon Islands
Name[kk]=Соломон а-ры
Name[nn]=Salomonøyane
Name[pt]=Ilhas Salomão
Name[pt_BR]=Ilhas Salomão
Name[se]=Salomonsullot
Name[uk]=Соломонові Острови
Name[x-test]=xxSolomon Islandsxx
Name[zh_TW]=索羅門群島
