[Desktop Entry]
Name=Suriname
Name[bg]=Суринам
Name[ca]=Surinam
Name[cs]=Surinam
Name[da]=Surinam
Name[de]=Suriname
Name[es]=Surinam
Name[et]=Suriname
Name[fi]=Surinam
Name[fr]=Surinam
Name[hu]=Suriname
Name[it]=Suriname
Name[kk]=Суринам
Name[nb]=Surinam
Name[nds]=Surinam
Name[nl]=Suriname
Name[pl]=Surinam
Name[pt]=Suriname
Name[pt_BR]=Suriname
Name[ru]=Суринам
Name[se]=Surinam
Name[sk]=Surinam
Name[sv]=Surinam
Name[ug]=سۇرىنام
Name[uk]=Суринам
Name[x-test]=xxSurinamexx
Name[zh_CN]=苏里南
Name[zh_TW]=蘇利南
