[Desktop Entry]
Name=Tanzania
Name[bg]=Танзания
Name[ca]=Tanzània
Name[ca@valencia]=Tanzània
Name[cs]=Tanzanie
Name[da]=Tanzania
Name[de]=Tansania
Name[el]=Τανζανία
Name[es]=Tanzania
Name[et]=Tansaania
Name[fi]=Tansania
Name[fr]=Tanzanie
Name[hu]=Tanzánia
Name[it]=Tanzania
Name[ja]=タンザニア
Name[kk]=Танзания
Name[nb]=Tanzania
Name[nds]=Tansania
Name[nl]=Tanzania
Name[pl]=Tanzania
Name[pt]=Tanzânia
Name[pt_BR]=Tanzânia
Name[ru]=Танзания
Name[sk]=Tanzánia
Name[sl]=Tanzanija
Name[sv]=Tanzania
Name[ug]=تانزانىيە
Name[uk]=Танзанія
Name[x-test]=xxTanzaniaxx
Name[zh_CN]=坦桑尼亚
Name[zh_TW]=坦尚尼亞
