[Desktop Entry]
Name=Tanzania
Name[bg]=Танзания
Name[cs]=Tanzanie
Name[de]=Tansania
Name[et]=Tansaania
Name[it]=Tanzania
Name[nb]=Tanzania
Name[nds]=Tansania
Name[pl]=Tanzania
Name[pt]=Tanzânia
Name[pt_BR]=Tanzânia
Name[ru]=Танзания
Name[sv]=Tanzania
Name[ug]=تانزانىيە
Name[uk]=Танзанія
Name[x-test]=xxTanzaniaxx
Name[zh_TW]=坦尚尼亞
