[Desktop Entry]
Name=Tonga
Name[bg]=Тонга
Name[ca]=Tonga
Name[ca@valencia]=Tonga
Name[cs]=Tonga
Name[da]=Tonga
Name[de]=Tonga
Name[el]=Τόνγκα
Name[es]=Tonga
Name[et]=Tonga
Name[fi]=Tonga
Name[fr]=Tonga
Name[hu]=Tonga
Name[it]=Tonga
Name[ja]=トンガ
Name[kk]=Тонга
Name[nb]=Tonga
Name[nds]=Tonga
Name[nl]=Tonga
Name[pl]=Tonga
Name[pt]=Tonga
Name[pt_BR]=Tonga
Name[ru]=Тонга
Name[sk]=Tonga
Name[sl]=Tonga
Name[sv]=Tonga
Name[ug]=تونگا
Name[uk]=Тонга
Name[x-test]=xxTongaxx
Name[zh_CN]=汤加
Name[zh_TW]=東加
