[Desktop Entry]
Name=Tunisia
Name[bg]=Тунис
Name[cs]=Tunisko
Name[de]=Tunesien
Name[et]=Tuneesia
Name[it]=Tunisia
Name[nb]=Tunisia
Name[nds]=Tunesien
Name[pl]=Tunezja
Name[pt]=Tunísia
Name[pt_BR]=Tunísia
Name[ru]=Тунис
Name[se]=Tunisia
Name[sv]=Tunisien
Name[ug]=تۇنىس
Name[uk]=Туніс
Name[x-test]=xxTunisiaxx
Name[zh_TW]=突尼西亞
