[Desktop Entry]
Name=Turkmenistan
Name[pt]=Turquemenistão
Name[pt_BR]=Turcomenistão
Name[sv]=Turkmenistan
Name[ug]=تۈركمەنىستان
Name[uk]=Туркменістан
Name[x-test]=xxTurkmenistanxx
