[Desktop Entry]
Name=Turkey
Name[bg]=Турция
Name[ca]=Turquia
Name[ca@valencia]=Turquia
Name[cs]=Turecko
Name[da]=Tyrkiet
Name[de]=Türkei
Name[el]=Τουρκία
Name[es]=Turquía
Name[et]=Türgi
Name[fi]=Turkki
Name[fr]=Turquie
Name[hu]=Törökország
Name[it]=Turchia
Name[ja]=トルコ
Name[kk]=Түркия
Name[nb]=Tyrkia
Name[nds]=Törkei
Name[nl]=Turkije
Name[pl]=Turcja
Name[pt]=Turquia
Name[pt_BR]=Turquia
Name[ru]=Турция
Name[se]=Durka
Name[sk]=Turecko
Name[sl]=Turčija
Name[sv]=Turkiet
Name[ug]=تۈركىيە
Name[uk]=Туреччина
Name[x-test]=xxTurkeyxx
Name[zh_CN]=土耳其
Name[zh_TW]=土耳其
