[Desktop Entry]
Name=Uganda
Name[nb]=Uganda
Name[pt]=Uganda
Name[pt_BR]=Uganda
Name[se]=Uganda
Name[sv]=Uganda
Name[ug]=ئۇگاندا
Name[uk]=Уганда
Name[x-test]=xxUgandaxx
