[Desktop Entry]
Name=United Kingdom
Name[cs]=Spojené království
Name[et]=Suurbritannia
Name[nb]=Storbritannia
Name[nds]=Grootbritannien
Name[pt]=Reino Unido
Name[pt_BR]=Reino Unido
Name[se]=Stuorrabrittania
Name[sv]=Storbritannien
Name[ug]=ئەنگلىيە پادىشاھلىقى
Name[uk]=Великобританія
Name[x-test]=xxUnited Kingdomxx
Name[zh_TW]=英國
