[Desktop Entry]
Name=United Arab Emirates
Name[bg]=Обединени Арабски Емирства
Name[ca]=Emirats Àrabs Units
Name[ca@valencia]=Emirats Àrabs Units
Name[cs]=Spojené arabské emiráty
Name[da]=Forenende Arabiske Emirater
Name[de]=Vereinigte Arabische Emirate
Name[el]=Ηνωμένα Αραβικά Εμιράτα
Name[es]=Emiratos Árabes Unidos
Name[et]=Araabia Ühendemiraadid
Name[fi]=Yhdistyneet Arabiemiraatit
Name[ga]=Aontas na nÉimíríochtaí Arabacha
Name[hu]=Egyesült Arab Emirátusok
Name[it]=Emirati Arabi Uniti
Name[kk]=Біріккен Араб Әмірліктері
Name[nb]=De forente arabiske emirater
Name[nds]=Vereenigte Araabsche Emiraten
Name[nl]=Verenigde Arabische Emiraten
Name[pl]=Zjednoczone Emiraty Arabskie
Name[pt]=Emiratos Árabes Unidos
Name[pt_BR]=Emirados Árabes Unidos
Name[ru]=Объединённые Арабские Эмираты
Name[se]=Ovttastuvvon arábalaš emiráhtat
Name[sk]=Spojené arabské emiráty
Name[sl]=Združeni arabski Emirati
Name[sv]=Förenade arabemiraten
Name[ug]=ئەرەب بىرلەشمە خەلىپىلىكى
Name[uk]=Об’єднані Арабські Емірати
Name[x-test]=xxUnited Arab Emiratesxx
Name[zh_CN]=阿联酋
Name[zh_TW]=阿拉伯聯合大公國
