[Desktop Entry]
Name=United States
Name[pt]=Estados Unidos
Name[pt_BR]=Estados Unidos
Name[sv]=Förenta staterna
Name[uk]=США
Name[x-test]=xxUnited Statesxx
