[Desktop Entry]
Name=United Nations
Name[bg]=Обединени нации
Name[ca]=Nacions Unides
Name[ca@valencia]=Nacions Unides
Name[cs]=Spojené národy
Name[da]=Forenede Nationer
Name[de]=Vereinte Nationen
Name[el]=Ηνωμένα Έθνη
Name[es]=Naciones Unidas
Name[et]=ÜRO
Name[fi]=Yhdistyneet Kansakunnat
Name[fr]=Nations unies
Name[hu]=ENSZ
Name[it]=Nazioni Unite
Name[ja]=国際連合
Name[kk]=Біріккен Ұлттар
Name[nb]=Forente Nasjoner
Name[nds]=Vereent Natschonen
Name[nl]=De Verenigde Naties
Name[pl]=Organizacja Narodów Zjednoczonych
Name[pt]=Nações Unidas
Name[pt_BR]=Nações Unidas
Name[ru]=Организация Объединённых Наций
Name[sk]=Spojené národy
Name[sl]=Združeni narodi
Name[sv]=Förenta nationerna
Name[uk]=ООН
Name[x-test]=xxUnited Nationsxx
Name[zh_CN]=英国
Name[zh_TW]=聯合國
