[Desktop Entry]
Name=Venezuela
Name[bg]=Венецуела
Name[ca]=Veneçuela
Name[ca@valencia]=Veneçuela
Name[cs]=Venezuela
Name[da]=Venezuela
Name[de]=Venezuela
Name[el]=Βενεζουέλα
Name[es]=Venezuela
Name[et]=Venezuela
Name[fi]=Venezuela
Name[ga]=Veiniséala
Name[hu]=Venezuela
Name[it]=Venezuela
Name[ja]=ベネズエラ
Name[kk]=Венесуэла
Name[nb]=Venezuela
Name[nds]=Venezuela
Name[nl]=Venezuela
Name[pl]=Wenezuela
Name[pt]=Venezuela
Name[pt_BR]=Venezuela
Name[ru]=Венесуэла
Name[se]=Venezuela
Name[sk]=Venezuela
Name[sl]=Venezuela
Name[sv]=Venezuela
Name[ug]=ۋېنېزۇئېلا
Name[uk]=Венесуела
Name[x-test]=xxVenezuelaxx
Name[zh_CN]=委内瑞拉
Name[zh_TW]=委內瑞拉
