[Desktop Entry]
Name=Basic project
Name[en_GB]=Basic project
Name[fi]=Perusprojekti
Name[fr]=Projet de base
Name[nl]=Basisproject
Name[x-test]=xxBasic projectxx
Type=Link
Icon=template_timechart
URL=.source/Basicproject.plant
X-KDE-Hidden=false
