[Desktop Entry]
Name=Dark-light horizontal gradient box
Name[pt]=Caixa gradiente horizontal escuro-claro
Name[x-test]=xxDark-light horizontal gradient boxxx
