[Desktop Entry]
Name=Dark-light horizontal gradient box
Name[ca]=Caixa de gradient horitzontal fosc-clar
Name[el]=Πλαίσιο οριζόντιας διαβάθμισης σκούρο-φωτεινό
Name[nb]=Mørk-lys vannrett toningsboks
Name[pl]=Ciemno-jasne poziome pole gradientu
Name[pt]=Caixa gradiente horizontal escuro-claro
Name[pt_BR]=Caixa gradiente horizontal escuro-claro
Name[sv]=Mörk-ljus horisontellt tonad ruta
Name[uk]=Панель з темно-світлим горизонтальним градієнтом
Name[x-test]=xxDark-light horizontal gradient boxxx
Name[zh_TW]=暗到亮水平漸層盒
