[Desktop Entry]
Name=Light-dark horizontal gradient box
Name[el]=Πλαίσιο οριζόντιας διαβάθμισης φωτεινό-σκούρο
Name[nb]=Lys-mørk vannrett toningsboks
Name[pl]=Jasno-ciemne poziome pole gradientu
Name[pt]=Caixa gradiente horizontal claro-escuro
Name[pt_BR]=Caixa gradiente horizontal claro-escuro
Name[sv]=Ljus-mörk horisontellt tonad ruta
Name[uk]=Панель зі світло-темним горизонтальним градієнтом
Name[x-test]=xxLight-dark horizontal gradient boxxx
Name[zh_TW]=亮到暗水平漸層盒
