[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KFormDesigner/WidgetFactory

Name=Container Widgets
Name[bg]=Контейнери
Name[da]=Container-kontroller
Name[es]=Widgets contenedores
Name[et]=Konteinervidinad
Name[fr]=Conteneur d'éléments graphiques
Name[nb]=beholdere elementer
Name[nl]=Containerwidgets
Name[pl]=Kontenery
Name[pt]=Elementos Contentores
Name[pt_BR]=Widgets Recipientes
Name[ru]=Контейнеры
Name[sr]=Контејнерске контроле
Name[sr@Latn]=Контејнерске контроле
Name[sv]=Omgivande komponenter
Name[ta]=கொள்கலன் சாளர உருக்கள் 
Name[tr]= Containers
Name[uk]=Віджети контейнера
Name[xx]=xxContainer Widgetsxx
Name[zh_CN]=容器部件

X-KDE-Library=containers
X-KFormDesigner-FactoryGroup=
