# KDE Config File
[Desktop Entry]
MimeType=application/x-graphite
Comment=graphite - Graphs for Engineers
Comment[ca]=graphite - Gràfics per a enginyers
Comment[cs]=graphite - grafy pro inženýry
Comment[de]=graphite - Graphen für technisch Interessierte
Comment[eo]=KGrafo - Grafikoj por inĝenieroj
Comment[es]=graphite - Graficas para ingenieros
Comment[et]=graphite - Graafid inseneridele
Comment[fi]=graphite - kuvaajia insinööreille
Comment[fr]=Graphiques pour ingénieurs
Comment[he]=םיסדנהמל םימישרת - graphite
Comment[hr]=Grafovi za inžinjere
Comment[ja]=graphite - エンジニア用のグラフツール
Comment[nl]=graphite - Grafieken voor technici
Comment[no]=graphite - grafikk for ingeniører
Comment[no_NY]=graphite - Grafar for ingeniørar
Comment[pt]=graphite - Gráficos para Engenheiros
Comment[ro]=Grafice pentru ingineri
Comment[sl]=graphite - grafi za inženirje
Comment[sr]=graphite - grafici za inženjere
Comment[tr]=graphite - Mühendisler için Grafikler
DefaultApp=graphite
Type=MimeType
Patterns=*.gra;
X-KDE-AutoEmbed=false
