[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/8HourDay-40HourWeek.kplatot
Name=8 hour day, 40 hour week
Name[es]=8 horas al día, 40 horas a la semana
Name[pt]=8 horas por dia, com semana de 40 horas
Name[pt_BR]=8 horas por dia, com semana de 40 horas
Icon=template_timechart
