[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/8HourDay-40HourWeek.kplatot
Name=8 hour day, 40 hour week
Name[ca]=Dia de 8 hores, setmana de 40 hores
Name[da]=8-timers dag, 40-timers uge
Name[de]=8 Stunden / Tag, 40 Stunden / Woche
Name[el]=8ωρη ημέρα, 40ωρη εβδομάδα
Name[es]=8 horas al día, 40 horas a la semana
Name[et]=8 tundi päevas, 40 tundi nädalas
Name[fi]=8-tuntinen päivä, 40-tuntinen viikko
Name[fr]=8 heures par jour, 40 heures par semaine
Name[he]=שמונה שעות ביום, ארבעים שעות בשבוע
Name[hu]=Naponta 8 óra, 40 órás hét
Name[is]=8 tíma dagur, 40 tíma vika
Name[it]=Giorno di 8 ore, Settimana di 40 ore
Name[ja]=1日8時間、週40時間
Name[km]= ៨ ម៉ោង​ក្នុង​មួយ​ថ្ងៃ, ៤០ ​ម៉ោង​ក្នុង​មួយ​សប្តាហ៍​
Name[lv]=8 stundu diena, 40 stundu nedēļa
Name[nl]=8-urige dag, 40-urige week
Name[pl]=8 godzin na dzień, 40 na tydzień
Name[pt]=8 horas por dia, com semana de 40 horas
Name[pt_BR]=8 horas por dia, com semana de 40 horas
Name[ru]=8-часовой рабочий день, 40-часовая рабочая неделя
Name[sk]=8 hodín denne, 40 hodín týždenne
Name[sl]=8 urni dan, 40 urni teden
Name[sr]=8-часовни дан, 40-часовна седмица
Name[sr@Latn]=8-časovni dan, 40-časovna sedmica
Name[sv]=8-timmarsdag, 40-timmarsvecka
Name[uk]=8 год. на день, 40 год. на тиждень
Name[zh_CN]=每天八小时，每周40小时
Name[zh_TW]=一天八小時，一週四十小時
Icon=template_timechart
