[Desktop Entry]
Name=Left Arrow
Name[el]=Αριστερό βέλος
Name[es]=Flecha izquierda
Name[et]=Nool vasakule
Name[it]=Freccia a sinistra
Name[nb]=Pil venstre
Name[nl]=Pijl links
Name[pt]=Seta-Esquerda
Name[pt_BR]=Seta para a esquerda
Name[sv]=Vänsterpil
Name[ug]=سول يا ئوق
Name[uk]=Стрілка ліворуч
Name[x-test]=xxLeft Arrowxx
Name[zh_TW]=左箭頭
