[Desktop Entry]
Name=Maltese Cross
Name[nl]=Maltees kruis
Name[pt]=Cruz Maltesa
Name[pt_BR]=Cruz de Malta
Name[uk]=Мальтійський хрест
Name[x-test]=xxMaltese Crossxx
