[Desktop Entry]
Name=Vertical Parallelogram
Name[es]=Paralelogramo vertical
Name[nl]=Verticale parallelogram
Name[pt]=Paralelograma Vertical
Name[pt_BR]=Paralelogramo Vertical
Name[uk]=Вертикальний паралелограм
Name[x-test]=xxVertical Parallelogramxx
Name[zh_TW]=垂直平行四邊形
