[Desktop Entry]
Name=Sharp Eight Point Star
Name[en_GB]=Sharp Eight Point Star
Name[fi]=Terävä kahdeksansakarainen tähti
Name[fr]=Étoile à huit branches fines
Name[nl]=Scherpe achtpuntige ster
Name[x-test]=xxSharp Eight Point Starxx
