[Desktop Entry]
Name=Isosceles Triangle
Name[en_GB]=Isosceles Triangle
Name[fi]=Tasakylkinen kolmio
Name[fr]=Triangle isocèle
Name[nl]=Gelijkbenige driehoek
Name[x-test]=xxIsosceles Trianglexx
