[Desktop Entry]
Icon=
Name=Color Filters (Extension)
Name[ca@valencia]=Filtres de color (Extensió)
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaextensioncolorsfilters
X-Krita-Version=5
