[Desktop Entry]
Type=Service
ServiceTypes=Kexi/Handler
GenericName=Reports
GenericName[ca@valencia]=Informes
Name=Report
Name[ca@valencia]=Informe
X-KDE-Library=kexihandler_report
X-KDE-ParentApp=kexi
X-Kexi-PartVersion=2
X-Kexi-TypeName=report
X-Kexi-Class=org.kexi-project.report
X-Kexi-ItemIcon=report
X-Kexi-SupportsDataView=true
X-Kexi-SupportsDesignView=true
X-Kexi-SupportsDataViewInUserMode=true
X-Kexi-SupportsDataExport=false
X-Kexi-SupportsPrinting=false
