[Desktop Entry]
Encoding=UTF-8
Name=Picture Shape
Name[de]=Bild-Form
Name[el]=Σχήμα εικόνας
Name[es]=Forma de imagen
Name[ne]=तस्बीर आकार
Name[pt]=Forma de Imagem
Name[pt_BR]=Forma de Imagem
Name[sv]=Bildform
Name[x-test]=xxPicture Shapexx
Name[zh_TW]=圖片形狀
ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=pictureshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
