[Desktop Entry]
Icon=blue_orange_vector
Name=Blue Orange Vector
Name[ca@valencia]=Vector blau taronja
Comment=Blue Orange Vector
Comment[ca@valencia]=Vector blau taronja
Type=Link
URL=.source/blue_orange_vector.otp
X-KDE-Hidden=false
