[Desktop Entry]
Icon=curious_penguin
Name=Curious Penguin
Name[ca@valencia]=Pingüí curiós
Comment=Curious Penguin
Comment[ca@valencia]=Pingüí curiós
Type=Link
URL=.source/curious_penguin.otp
X-KDE-Hidden=false
