[Desktop Entry]
Name=Generic Calligra Filter
Name[es]=Filtro genérico de Calligra
Name[et]=Calligra üldine filter
Name[nb]=Alment Calligra-filter
Name[nds]=Allmeen Calligra-Filter
Name[pt]=Filtro Genérico do Calligra
Name[pt_BR]=Filtro genérico do Calligra
Name[sv]=Generellt Calligra-filter
Name[uk]=Загальний фільтр Calligra
Name[x-test]=xxGeneric Calligra Filterxx
Name[zh_TW]=通用 Calligra 過濾器
X-KDE-Export=application/x-kpresenter
X-KDE-Import=application/x-magicpoint
X-KDE-Weight=1
Type=Service
X-KDE-ServiceTypes=CalligraFilter
X-KDE-Library=generickofilter
