[Desktop Entry]
Encoding=UTF-8
Icon=template_titlelandscape
Name=Title
Comment=Presentation with a page title
Type=Link
URL=.source/TitleLandscape.kpt
X-KDE-Hidden=false
