[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-kword
Actions=Print;

[Desktop Action Print]
Name=Print...
Name[x-test]=xxPrint...xx
Exec=kword --print %U
Icon=filequickprint
