[Desktop Entry]
Name=Kexi
Name[br]=Kexi
Name[ca]=Kexi
Name[cs]=Kexi
Name[cy]=Kexi
Name[da]=Kexi
Name[de]=Kexi
Name[el]=Kexi
Name[en_GB]=Kexi
Name[eo]=Kexi
Name[es]=Kexi
Name[et]=Kexi
Name[eu]=Kexi
Name[fi]=Kexi
Name[fr]=Kexi
Name[fy]=Kexi
Name[ga]=Kexi
Name[gl]=Kexi
Name[he]=Kexi
Name[hi]=केक्साई
Name[hne]=केक्साई
Name[hr]=Kexi
Name[hu]=Kexi
Name[is]=Kexi
Name[it]=Kexi
Name[ja]=Kexi
Name[kk]=Kexi
Name[lt]=Kexi
Name[lv]=Kexi
Name[ms]=Kexi
Name[nb]=Kexi
Name[nds]=Kexi
Name[ne]=केक्सी
Name[nl]=Kexi
Name[pl]=Kexi
Name[pt]=Kexi
Name[pt_BR]=Kexi
Name[ro]=Kexi
Name[ru]=Kexi
Name[se]=Kexi
Name[sk]=Kexi
Name[sl]=Kexi
Name[sv]=Kexi
Name[ta]=கெக்ஸி
Name[tg]=Kexi
Name[tr]=Kexi
Name[uk]=Kexi
Name[uz]=Kexi
Name[uz@cyrillic]=Kexi
Name[wa]=Kexi
Name[x-test]=xxKexixx
Name[zh_CN]=Kexi
Name[zh_TW]=資料庫_Kexi
Type=Application
Exec=kexi
Icon=kexi
MimeType=application/x-kexiproject-sqlite;application/x-kexiproject-shortcut;application/x-kexiproject-sqlite3;application/x-sqlite3;application/x-kexi-connectiondata;application/x-msaccess;
Terminal=false
GenericName=Database Creator
GenericName[br]=Aozer ar stlennvon
GenericName[ca]=Creador de bases de dades
GenericName[cs]=Tvůrce databází
GenericName[cy]=Creuydd Cronfa Ddata
GenericName[da]=Opretter af databaser
GenericName[de]=Datenbank-Erstellung
GenericName[el]=Δημιουργός βάσης δεδομένων
GenericName[en_GB]=Database Creator
GenericName[eo]=Datumbazkreilo
GenericName[es]=Creador de bases de datos
GenericName[et]=Andmebaaside imelihtne loomine
GenericName[eu]=Datu-base sortzailea
GenericName[fa]=ایجادکنندۀ دادگان
GenericName[fi]=Tietokannan luoja
GenericName[fr]=Créateur de base de données
GenericName[fy]=Databank oanmeitsje
GenericName[ga]=Cruthaitheoir Bunachar Sonraí
GenericName[gl]=Criación de Bases de Datos
GenericName[he]=יוצר מסדי נתונים
GenericName[hi]=डाटाबेस सृजक
GenericName[hne]=डाटाबेस सृजक
GenericName[hr]=Dizajner baza podataka
GenericName[hu]=Adatbázis-kezelő
GenericName[is]=Gagnagrunns hönnuður
GenericName[it]=Creatore di banche dati
GenericName[ja]=データベース作成
GenericName[kk]=Деректер қорының құрастырғышы
GenericName[lt]=Duomenų bazių kūrimo programa
GenericName[lv]=Datu bāzu veidotājs
GenericName[ms]=Pencipta Pangkalan Data
GenericName[nb]=Databaseoppretting
GenericName[nds]=Datenbank-Opstellen
GenericName[ne]=डेटाबेस सर्जक
GenericName[nl]=Database aanmaken
GenericName[pl]=Asystent tworzenia baz danych
GenericName[pt]=Criação de Bases de Dados
GenericName[pt_BR]=Criação de Bancos de Dados
GenericName[ro]=Creator de baze de date
GenericName[ru]=Базы данных
GenericName[se]=Diehtovuođđoráhkadeaddji
GenericName[sk]=Správa databázy
GenericName[sl]=Ustvarjanje zbirk podatkov
GenericName[sv]=Databasskapare
GenericName[ta]=தரவுத்தளம் உருவாக்கி
GenericName[tr]=Veritabanı Üreticisi
GenericName[uk]=Створення баз даних
GenericName[uz]=Maʼlumot baza yaratuvchi
GenericName[uz@cyrillic]=Маълумот база яратувчи
GenericName[x-test]=xxDatabase Creatorxx
GenericName[zh_CN]=数据库创建器
GenericName[zh_TW]=資料庫建立程式
Comment=Develop desktop database applications
Comment[ca]=Aplicacions de desenvolupament de bases de dades d'escriptori
Comment[da]=Udvikl databaseprogrammer for desktoppen
Comment[de]=Desktop-Datenbankanwendungen entwickeln
Comment[el]=Ανάπτυξη εφαρμογών βάσεων δεδομένων
Comment[en_GB]=Develop desktop database applications
Comment[eo]=Evoluigi tabulajn datumbaz-aplikaĵojn
Comment[es]=Desarrollo de aplicaciones de bases de datos para el escritorio
Comment[et]=Töölaua andmebaasirakenduste arendamine
Comment[fa]=توسعۀ کاربردهای دادگان رومیزی
Comment[fi]=Kehitä tietokantasovelluksia
Comment[fy]=Untwikkel databankapplikaasjes
Comment[ga]=Forbair feidhmchláir bhunachair sonraí don deasc
Comment[gl]=Desenvolve aplicacións de base de dados de escritorio
Comment[hi]=डेस्कटॉप डाटाबेस अनुप्रयोग डेवलप करें
Comment[hne]=डेस्कटाप डाटाबेस अनुपरयोग डेवलप करव
Comment[hu]=Adatbázist kezelő alkalmazások fejlesztése
Comment[it]=Sviluppa applicazioni per banche dati da desktop
Comment[ja]=デスクトップ データベース アプリケーションを開発
Comment[kk]=Деректер қорлар қолданбаларын құрастыру
Comment[lt]=Programa leidžia kurti darbastalio duomenų bazes
Comment[lv]=Darbvirsmas datu bāzu programmu veidošanai
Comment[nb]=Utvikle databaseprogrammer for skrivebordet
Comment[nds]=Datenbankprogrammen för den Schriefdisch opstellen
Comment[ne]=डेस्कटप डेटाबेस अनुप्रयोग विकास गर्नुहोस्
Comment[nl]=Ontwikkel databasetoepassingen
Comment[pl]=Rozwój aplikacji bazodanowych
Comment[pt]=Desenvolver aplicações de bases de dados para o utilizador
Comment[pt_BR]=Desenvolver aplicativos de bancos de dados para o usuário
Comment[ro]=Dezvoltă aplicații cu baze de date pentru birou
Comment[ru]=Работа с базами данных
Comment[sk]=Vytvárať databázové aplikácie
Comment[sl]=Razvijte namizne programe za delo z zbirkami podatkov
Comment[sv]=Utveckla databasprogram för skrivbordet
Comment[ta]=முகப்பு தரவுத்தள நிரல்களை உருவாக்கு
Comment[tr]=Masaüstü veritabanı uygulamaları geliştir
Comment[uk]=Розробка програм для баз даних
Comment[uz]=Maʼlumot bazasi asosida dasturlarni tuzish
Comment[uz@cyrillic]=Маълумот базаси асосида дастурларни тузиш
Comment[x-test]=xxDevelop desktop database applicationsxx
Comment[zh_CN]=开发桌面数据库应用程序
Comment[zh_TW]=開發桌面資料庫應用程式
X-DocPath=kexi/index.html
X-KDE-NativeMimeType=application/x-kexiproject-sqlite
X-KDE-NOTKoDocumentEmbeddable=true
Categories=Qt;KDE;Office;
