[Desktop Entry]
Name=KFormDesigner
Name[cs]=Návrhář formulářů
Name[cy]=DylunyddKForm
Name[fa]=طراح KForm
Name[hi]=केफ़ॉर्मडिजाइनर
Name[ne]=केडीई फाराम डिजाइनकर्ता
Name[sv]=Kformdesigner
Name[ta]=கெபடிவ வடிவமைப்பாளர்
Name[tr]=KFormTasarımcısı
Name[x-test]=xxKFormDesignerxx
Name[zh_CN]=KForm 设计器
Exec=kformdesigner %i  -caption "%c"
Icon=kformdesigner
Type=Application
X-DocPath=kformdesigner/kformdesigner.html
GenericName=Form Designer
GenericName[bg]=Проектиране на форми
GenericName[ca]=Dissenyador de formulari
GenericName[cy]=Dylunydd Ffurflenni
GenericName[de]=Formular-Designer
GenericName[el]=Σχεδιαστής φόρμας
GenericName[eo]=Formulardesegnilo
GenericName[es]=Diseñador de formularios
GenericName[et]=Vormikujundaja
GenericName[eu]=Formularioen diseinatzailea
GenericName[fa]=طراح برگه
GenericName[fi]=Lomakkeen suunnittleija
GenericName[fr]=Concepteur d'interfaces graphiques
GenericName[ga]=Dearthóir Foirme
GenericName[gl]=Deseño de Formularios
GenericName[he]=מעצב טפסים
GenericName[hi]=फ़ॉर्म डिजाइनर
GenericName[hr]=Dizajner obrazaca
GenericName[hu]=Űrlaptervező
GenericName[is]=Form hönnuður
GenericName[it]=Progetto dei moduli
GenericName[ja]=フォームデザイナー
GenericName[lv]=Formu veidotājs
GenericName[ms]=Pereka Bentuk Borang
GenericName[nb]=Skjemautforming
GenericName[nds]=Kiekwark-Maker
GenericName[ne]=फारम डिजाइनकर्ता
GenericName[pl]=Projektant formularzy
GenericName[pt]=Desenho de Formulários
GenericName[pt_BR]=Desenho de Formulários
GenericName[ru]=Редактор форм
GenericName[se]=Skovvehápmejeaddji
GenericName[sl]=Oblikovalec obrazcev
GenericName[sv]=Formulärkonstruktion
GenericName[tr]=Form Tasarımcı
GenericName[uk]=Дизайнер форм
GenericName[uz]=Shakl dizayneri
GenericName[uz@cyrillic]=Шакл дизайнери
GenericName[x-test]=xxForm Designerxx
GenericName[zh_CN]=表单设计器
GenericName[zh_TW]=表單設計師
MimeType=application/x-designer;
Terminal=false
Categories=Qt;KDE;Development;

