[Desktop Entry]
Type=Service
Name=KWord AbiWord Import Filter
Name[af]=kword abiword in voer filter
Name[ar]=استيراد من AbiWord الى KWord
Name[az]=KWord AbiWord Qeyd Süzgəci
Name[bg]=Фитър за импорт от Abiword в KWord
Name[cs]=KWord AbiWord importní filtr
Name[da]=KWord Applixword Import-filter
Name[de]=KWord-Importfilter für AbiWord
Name[el]=Φίλτρο Εισαγωγής Abiword του KWord
Name[eo]=AbiWord-importfiltrilo por Verkilo
Name[es]=Filtro de importación AbiWord de KWord
Name[et]=KWordi AbiWord import filter
Name[eu]=KWord AbiWord Inportatzeko Iragazkia
Name[fi]=KWord AbiWord -vientisuodin
Name[fr]=Filtre d'importation AbiWord de kWord
Name[he]=מסנן ייבוא AbiWord ל-KWord
Name[hu]=KWord AbiWord importszűrő
Name[id]=Filter Impor AbiWord KWord
Name[is]=AbiWord innflutningssía fyrir KWord
Name[it]=Filtro di importazione AbiWord per KWord
Name[ja]=KWord AbiWord インポートフィルター
Name[ko]=K글틀에서 아비워드 파일을 가져올 때 쓰는 거르개
Name[lt]=KWord AbiWord importo filtras
Name[lv]=KWord AbiWord Importa Filtrs
Name[mt]=Filtru għall-importazzjoni ta' AbiWord ġo KWord
Name[nb]=KWord AbiWord-importfilter
Name[nl]=KWord AbiWord-importfilter
Name[nn]=AbiWord-importfilter for KWord
Name[pl]=Filtr importujący z formatu Abiworda do KWorda
Name[pt]=Filtro de importação do AbiWord para o KWord
Name[pt_BR]=Filtro de importação AbiWord para o KWord
Name[ru]=фильтр импорта из Abiword в KWord
Name[sk]=AbiWord filter pre import do KWord-u
Name[sl]=Uvozni filter AbiWord za KWord
Name[sr]=KWord fulter za uvoz AbiWord formata
Name[sv]=Kword importfilter för Abiword
Name[ta]=KWord AbiWord ­ÈìÌÁ¾¢ ÅÊ¸ðÊ
Name[tr]=KWord AbiWord Kayıt Süzgeci
Name[uk]=Фільтр імпорту AbiWord для KWord
Name[vi]=Trình lọc nhập vào các file KWord AbiWord 
Name[xh]=KWord AbiWord Icebo lokucoca ulwelo olurhwetyiweyo ngaphakathi
Name[xx]=xx
Name[zh_CN]=KWord AbiWord 导入过滤程序
Name[zh_TW]=KWord AbiWord 匯入過濾程式
Name[zu]=KWord AbiWord Icebo lokucoca ulwelo olurhwetyiweyo ngaphakathi
X-KDE-Export=application/x-kword
X-KDE-Import=application/x-abiword
X-KDE-Weight=1
X-KDE-Library=libabiwordimport
ServiceTypes=KOfficeFilter
