[Desktop Entry]
Type=Service
Name=KWord AbiWord Export Filter
Name[af]=KWORD ABIWORD VOER UIT FILTER
Name[az]=KWord AbiWord Alma Süzgəci
Name[bg]=Филтър за KWord експорт в AbiWord
Name[cs]=KWord AbiWord exportní filtr
Name[da]=KWord AbiWord Eksport Filter
Name[de]=AbiWord-Export-Filter für KWord
Name[el]=Φίλτρο Εξαγωγής Abiword του KWord
Name[eo]=AbiWord-eksportfiltrilo por Verkilo
Name[es]=Filtro de exportación AbiWord de KWord
Name[et]=KWordi AbiWord eksport filter
Name[fi]=KWord AbiWord -vientisuodin
Name[fr]=Filtre d'exportation AbiWord de kWord
Name[he]=KWord-ל AbiWord אוציי ןנסמ
Name[hu]=KWord AbiWord exportszűrő
Name[is]=AbiWord útflutningssía fyrir KWord
Name[it]=Filtro di esportazione AbiWord per KWord
Name[ja]=KWord AbiWord エクスポートフィルター
Name[ko]=K글틀에서 아비워드 파일로 내보낼 때 쓰는 거르개
Name[lt]=KWord AbiWord eksporto filtras
Name[lv]=KWord AbiWord Eksporta Filtrs
Name[mt]=Filtru għall-esportazzjoni ta' AbiWord minn ġo KWord
Name[nl]= KWord AbiWord-exportfilter
Name[no]=KWord AbiWord-eksportfilter
Name[no_NY]=AbiWord-eksportfilter for KWord
Name[pl]=Filtr eksportujący do formatu Abiworda z KWorda
Name[pt_BR]=Filtro de exportação AbiWord para o KWord
Name[pt]=Filtro de exportação para AbiWord do KWord
Name[ru]=Фильтр KWord экспорта в AbiWord
Name[sk]=AbiWord filter pre export z KWord-u
Name[sl]=Izvozni filter AbiWord za KWord
Name[sv]=Kword exportfilter för Abiword
Name[ta]=KWord AbiWord ²üÚÁ¾¢ ÅÊ¸ðÊ
Name[tr]=KWord AbiWord Alma Süzgeci
Name[uk]=Фільтр експорту AbiWord для KWord
Name[vi]=Trình lọc xuất ra file KWord AbiWord 
Name[zh_CN.GB2312]=KWord AbiWord 导出过滤程序
Name[zh_TW.Big5]=KWord AbiWord 匯出過濾器
Export=application/x-abiword
Import=application/x-kword
Implemented=file
X-KDE-Library=libabiwordexport
ServiceTypes=KOfficeFilter
