[Desktop Entry]
Comment=AbiWord Document
Comment[af]=ABIWORD DOKUMENT
Comment[az]=AbiWord Sənədi
Comment[bg]=Документ на AbiWord
Comment[cs]=Dokument aplikace AbiWord
Comment[da]=AbiWord Dokument
Comment[de]=AbiWord-Dokument
Comment[el]=Έγγραφο Abiword
Comment[eo]=AbiWord-dokumento
Comment[es]=Documento de AbiWord
Comment[et]=AbiWordi dokument
Comment[fi]=AbiWord-asiakirja
Comment[fr]=Document AbiWord
Comment[he]=AbiWord ךמסמ
Comment[hu]=AbiWord dokumentum
Comment[is]=AbiWord skjal
Comment[it]=Documento AbiWord
Comment[ja]=AbiWord ドキュメント
Comment[ko]=아비워드 문서
Comment[lt]=AbiWord dokumentas
Comment[lv]=AbiWord Dokuments
Comment[mt]=Dokument AbiWords
Comment[nl]=AbiWord-document
Comment[no]=AbiWord dokument
Comment[no_NY]=AbiWord-dokument
Comment[pl]=Dokument Abiworda
Comment[pt_BR]=Documento AbiWord
Comment[pt]=Documento do AbiWord
Comment[ru]=Документ AbiWord
Comment[sk]=Dokument AbiWord
Comment[sl]=Dokument za AbiWord
Comment[sv]=Abiword-dokument
Comment[ta]=AbiWord ¬Å½õ
Comment[tr]=AbiWord Belgesi
Comment[uk]=Новий документ AbiWord
Comment[vi]=Tài liệu AbiWord 
Comment[wa]=Documint Abiword
Comment[zh_CN.GB2312]=AbiWord 文档
Comment[zh_TW.Big5]=AbiWord 文件
Icon=kword
MimeType=application/x-abiword
Patterns=*.abw;*.ABW;*.abw.gz;*.ABW.GZ;*.zabw;*.ZABW;
Type=MimeType
