[Desktop Entry]
Type=Service
Name=MS Excel 2007 Import Filter for KSpread
Name[ca]=Filtre d'importació MS Excel 2007 per al KSpread
Name[ca@valencia]=Filtre d'importació MS Excel 2007 per al KSpread
Name[cs]=Importní filtr MS Excel 2007 pro KSpread
Name[da]=MS Excel 2007 importfilter til KSpread
Name[de]=KSpread MS-Excel-2007-Exportfilter
Name[el]=Φίλτρο εξαγωγής MS Excel 2007 για το KSpread
Name[en_GB]=MS Excel 2007 Import Filter for KSpread
Name[es]=Filtro de KSpread de importación de MS Excel 2007
Name[et]=KSpreadi MS Excel 2007 impordifilter
Name[fi]=MS Excel 2007 -tuontisuodin KSpreadille
Name[it]=Filtro di importazione MS Excel 2007 per KSpread
Name[ja]=KSpread MS Excel 2007 インポートフィルタ
Name[nb]=MS Excel 2007 importfilter for KSpread
Name[nds]="MS Excel 2007"-Importfilter för KSpread
Name[nl]=MS Excel 2007 importfilter voor KSpread
Name[pt]=Filtro de Exportação de Microsoft Excel 2007 para o KSpread
Name[pt_BR]=Filtro de Importação de Microsoft Excel 2007 para o KSpread
Name[sv]=Microsoft Excel 2007-importfilter för Kspread
Name[uk]=Фільтр експорту MS Excel 2007 для KSpread
Name[wa]=Passete d' abagaedje MS Excel 2007 po KSpread
Name[x-test]=xxMS Excel 2007 Import Filter for KSpreadxx
Name[zh_CN]=KSpread 的 MS Excel 2007 导入过滤器
Name[zh_TW]=KSpread 的 Microsoft Excel 2007 匯出過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Import=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.ms-excel.sheet.macroEnabled.12,application/vnd.ms-excel.template.macroEnabled.12
X-KDE-Weight=1
X-KDE-Library=libxlsximport
X-KDE-LibraryMajor=0
X-KDE-LibraryMinor=1
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
