[Desktop Entry]
Name=product
Name[el]=προϊόν
Name[nl]=product
Name[pt]=produto
Name[pt_BR]=produto
Name[sv]=produkt
Name[uk]=Добуток
Name[x-test]=xxproductxx
