[Desktop Entry]
Name=r-integrator
Name[el]=r-integrator
Name[it]=r-integrator
Name[nb]=r-integrator
Name[nl]=r-integrator
Name[pl]=r-całkowanie
Name[pt]=integrador-r
Name[pt_BR]=integrator-r
Name[ru]=r-интегратор
Name[sv]=h-integrator
Name[uk]=Інтегратор (вхід праворуч)
Name[x-test]=xxr-integratorxx
Name[zh_TW]=r-integrator
