[Desktop Entry]
Name=r-sens
Name[el]=r-sens
Name[pt]=r-sensor
Name[pt_BR]=r-sensor
Name[sv]=h-sensor
Name[uk]=Датчик (праворуч)
Name[x-test]=xxr-sensxx
