[Desktop Entry]
Name=sigmoid
Name[el]=σιγμοειδής
Name[pt]=sigmóide
Name[pt_BR]=sigmóide
Name[sv]=sigmoid
Name[uk]=Сігмоїд-характеристика
Name[x-test]=xxsigmoidxx
