[Desktop Entry]
Name=Racks
Name[ca]=Racks
Name[ca@valencia]=Racks
Name[el]=Οδοντωτές βάσεις
Name[es]=Racks
Name[et]=Seadmekapid
Name[it]=Rack
Name[kk]=Сөрелер
Name[nb]=Stativer
Name[nl]=Racks
Name[pl]=Racks
Name[pt]=Bastidores
Name[pt_BR]=Racks
Name[ru]=Стойки
Name[sk]=Racky
Name[sv]=Ställ
Name[uk]=Стійки
Name[x-test]=xxRacksxx
Name[zh_TW]=機架
X-KDE-DirType=odg-collection
