[Desktop Entry]
Name=Racks
Name[et]=Püstikud
Name[pt]=Bastidores
Name[pt_BR]=Racks
Name[uk]=Стійки
Name[x-test]=xxRacksxx
X-KDE-DirType=odg-collection
