[Desktop Entry]
Name=expansible node
Name[bs]=rastegljiv čvor
Name[ca]=node expansible
Name[ca@valencia]=node expansible
Name[da]=udfoldbart punkt
Name[de]=Aufklappbarer Knoten
Name[el]=επεκτάσιμος κόμβος
Name[en_GB]=expansible node
Name[eo]=disetendebla nodo
Name[es]=Nodo expansible
Name[et]=Avatav sõlm
Name[eu]=nodo hedagarria
Name[fr]=Nœuds extensible
Name[gl]=Nodo expansíbel
Name[hu]=kiterjeszthető csomópont
Name[it]=nodo espandibile
Name[ka]=გაფართოებადი კვანძი
Name[kk]=кеңейтілмек түйін
Name[ko]=확장 가능한 노드
Name[lv]=paplašināms mezgls
Name[nb]=utvidbar node
Name[nl]=uitbreidbare node
Name[pl]=rozszerzalny węzeł
Name[pt]=nó expansível
Name[pt_BR]=nó expansível
Name[ru]=узел большого расширения
Name[sk]=rozpínavý uzol
Name[sl]=razširljivo vozlišče
Name[sv]=expanderbar nod
Name[tr]=açılabilir düğüm
Name[uk]=Придатний до розширення вузол
Name[x-test]=xxexpansible nodexx
Name[zh_CN]=可展开节点
Name[zh_TW]=可擴張點
