[Desktop Entry]
Name=Decoder
Name[es]=Decodificador
Name[pt]=Descodificador
Name[pt_BR]=Decodificador 
Name[sv]=Avkodare
Name[uk]=Декодер
Name[x-test]=xxDecoderxx
