[Desktop Entry]
Name=Output Transducer
Name[ca]=Sortida del transductor
Name[ca@valencia]=Eixida del transductor
Name[el]=Μετατροπέας εξόδου
Name[es]=Transductor de salida
Name[et]=Väljundi tõlgendaja
Name[it]=Trasduttore di uscita
Name[kk]=Шығыс түрлендіргіш
Name[nb]=Utgangsomvandler
Name[nl]=Output transducer
Name[pl]=Wyjściowy transduktor
Name[pt]=Transdutor Saída
Name[pt_BR]=Transdutor de saída
Name[ru]=Преобразователь вывода
Name[sk]=Výstupný prevodník
Name[sv]=Utgångsomvandlare
Name[uk]=Перетворювач виходу
Name[x-test]=xxOutput Transducerxx
Name[zh_TW]=輸出轉換器
