[Desktop Entry]
Name=Timer
Name[bg]=Хронометър
Name[ca]=Temporitzador
Name[ca@valencia]=Temporitzador
Name[cs]=Časovač
Name[el]=Χρονόμετρο
Name[es]=Temporizador
Name[et]=Taimer
Name[hu]=Időzítő
Name[it]=Temporizzatore
Name[kk]=Таймер
Name[nb]=Tidsur
Name[nl]=Timer
Name[pl]=Czasomierz
Name[pt]=Cronómetro
Name[pt_BR]=Temporizador
Name[ru]=Таймер
Name[sk]=Časovač
Name[sl]=Časomerilnik
Name[sv]=Tidtagare
Name[ug]=ۋاقىت ئۆلچىگۈچ
Name[uk]=Таймер
Name[x-test]=xxTimerxx
Name[zh_CN]=计时器
Name[zh_TW]=計時器
