[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KSpread Applix Spreadsheet Import Filter
Name[af]=Kspread Applix Spreiblad In voer Filter
Name[ar]=مِرْشَح استيراد Applix Spreadsheet لدى KSpread
Name[az]=KSpread Applix Hesab Cədvəli Alma Süzgəci
Name[bg]=Филтър за импорт от Applix Spreadsheet в KSpread
Name[br]=Sil enporzh al loger Applix evit KSpread
Name[ca]=Filtre d'importació per a fulls per a càlcul Applix per a KSpread
Name[cs]=KSpread Applix Spreadsheet importní filtr
Name[cy]=Hidlen Fewnforio Taenlen Applix KSpread
Name[da]=KSpread Applix regnearks-importfilter
Name[de]=KSpread Applix-Spreadsheet-Importfilter
Name[el]=Φίλτρο εισαγωγής λογιστικού φύλλου Applix του KSpread
Name[eo]=Appliks-tabelo-import-filtrilo por Tabelkalkulilo
Name[es]=Filtro de importación de KSpread para hoja de cálculo de Applix
Name[et]=KSpreadi Applix'i tabelite impordifilter
Name[eu]=KSpread-en Applix-en kalkulu-orriaren inportaziorako iragazkia
Name[fa]=صافی ورودی KSpread برای صفخه گسترده Applix
Name[fi]=KSpread Applix taulukkolaskenta -tuontisuodin
Name[fr]=Filtre d'importation Applix Spreadsheet de KSpread
Name[he]=מסנן לייבוא גיליונות אלקטרוניים של Applix ל־KSpread
Name[hi]=के-स्प्रेड एप्लिक्स स्प्रेडशीट आयात छननी
Name[hr]=KSpread Applix Spreadsheet uvozni filter
Name[hu]=KSpread Applix Spreadsheets importszűrő
Name[is]=KSpread Applix töflureiknis innflutningssía
Name[it]=Filtro di importazione Applix Spreadsheet per KSpread
Name[ja]=KSpread Applix スプレッドシート インポートフィルタ
Name[km]=តម្រង​នាំចូល​សៀវភៅបញ្ជី Applix សម្រាប់ KSpread
Name[lo]= ຕົວຕອງການນຳເຂົ້າຕາຕະລາງງານ Apllix ຂອງກະດາດຄຳນວນ K
Name[lt]=KWord Applix elektroninės lentelės importo filtras 
Name[lv]=KSpread Applix Elektroniskās Tabulas Importa Filtrs
Name[ms]=Penapis Import KSpread Applix Spreadsheet 
Name[mt]=Filtru għall-importazzjoni ta' Spreadsheet Applix ġo KSpread
Name[nb]=Applix-regnearkimportfilter for KSpread
Name[nl]=KSpread Applix Spreadsheet Importfilter
Name[nn]=Applix Spreadsheet-importfilter for KSpread
Name[pl]=Filtr importu formatu arkusza kalkulacyjnego Applix do KSpread
Name[pt]=Filtro de Importação de Applix Spreadsheet para o KSpread
Name[pt_BR]=Filtro de importação de Planilhas para o KSpread 
Name[ro]=Filtru importare KSpread pentru Applix
Name[ru]=Фильтр импорта таблиц Applix Spreadsheet в KSpread
Name[se]=KSpread:a Applix Spreadsheet-sisafievrridansilli
Name[sk]=Applix Spreadsheet filter pre import pre KSpread
Name[sl]=Uvozni filter Applix Spreadsheet za KSpread
Name[sr]=KSpread-ов филтер за увоз Applix-ових прорачунских листова
Name[sr@Latn]=KSpread-ov filter za uvoz Applix-ovih proračunskih listova
Name[sv]=Kspread-importfilter för Applix-kalkylark
Name[ta]=KSpread Applix Spreadsheet இறக்குமதி வடிகட்டி
Name[tg]=Филтри Воридоти KSpread Applix Spreadsheet
Name[th]=ตัวกรองการนำเข้าตารางงาน Apllix ของกระดาษคำนวณ K
Name[tr]=KSpread Applix Hesap Tablosu Alma Filtresi
Name[uk]=Фільтр імпорту Applix Spreadsheet для KSpread
Name[uz]=KSpread Applix электрон жадвал импорт филтери
Name[ven]=U phadaladza ha K Applix filithara ya u dzhenisa nga ngomu ya siatari lo phadalalho
Name[wa]=Passete tåvleu Applix d' intrêye po KSpread
Name[xh]=Isihluzi Sokurhweba se KSpread Applix Spreadsheet
Name[zh_CN]=KSpread Applix 电子表格导入过滤器
Name[zh_TW]=KSpread Applix 電子表單匯入過濾程式
X-KDE-Export=application/x-kspread
X-KDE-Import=application/x-applixspread
X-KDE-Weight=1
X-KDE-Library=libapplixspreadimport
ServiceTypes=KOfficeFilter
