[Desktop Entry]
Name=Collapsed-Sub-Process
Name[en_GB]=Collapsed-Sub-Process
Name[fi]=Supistettu aliprosessi
Name[fr]=Sous-processus en échec
Name[nl]=Ingevouwen-subproces
Name[x-test]=xxCollapsed-Sub-Processxx
