[Desktop Entry]
Name=End-Event-Multiple
Name[ca]=Final-Esdeveniment-Múltiple
Name[es]=Evento final múltiple
Name[et]=Sündmuse mitmiklõpp
Name[it]=Evento-finale-Multiplo
Name[nb]=Slutt-hendelse-flere
Name[nl]=Einde-gebeurtenis-meervoudig
Name[pl]=Mnożenie-Zdarzenia-Zakończenia
Name[pt]=Evento-Final-Múltiplo
Name[pt_BR]=Evento final múltiplo
Name[ru]=Составное завершение события
Name[sv]=Sluthändelse-flera
Name[uk]=Розгалуження кінцевої події
Name[x-test]=xxEnd-Event-Multiplexx
Name[zh_TW]=結束─事件─多重
