[Desktop Entry]
Name=Intermediate-Event
Name[pt]=Evento-Intermédio
Name[pt_BR]=Evento intermediário
Name[uk]=Проміжна подія
Name[x-test]=xxIntermediate-Eventxx
