[Desktop Entry]
Name=Multiple-Instance-Collapsed-Sub-Process
Name[uk]=Декілька екземплярів згорнутих підпроцесів
Name[x-test]=xxMultiple-Instance-Collapsed-Sub-Processxx
