[Desktop Entry]
Name=Multiple-Instance-Collapsed-Sub-Process
Name[en_GB]=Multiple-Instance-Collapsed-Sub-Process
Name[fr]=Sous-processus d'instances multiples en échec
Name[nl]=Meervoudig-exemplaar-ingevouwen-subproces
Name[x-test]=xxMultiple-Instance-Collapsed-Sub-Processxx
