[Desktop Entry]
Name=Multiple-Instance-Task
Name[pt]=Tarefa-Múltiplas-Instâncias
Name[uk]=Декілька екземплярів задачі
Name[x-test]=xxMultiple-Instance-Taskxx
Name[zh_TW]=多重實體─工作
