[Desktop Entry]
Name=Multiple-Instance-Task
Name[es]=Instancia múltiple de la tarea
Name[et]=Mitmikülesanne
Name[it]=Compito-Istanza-Multipla
Name[nb]=Flerinstans-oppgave
Name[nl]=Meervoudig-exemplaar-taak
Name[pl]=Wielo-Instancyjne-Zadanie
Name[pt]=Tarefa-Múltiplas-Instâncias
Name[pt_BR]=Tarefas de instância múltipla
Name[sv]=Flerinstans-uppgift
Name[uk]=Декілька екземплярів задачі
Name[x-test]=xxMultiple-Instance-Taskxx
Name[zh_TW]=多重實體─工作
