[Desktop Entry]
Name=Text-Annotation
Name[cs]=Textová anotace
Name[el]=Κείμενο-σημειώσεις
Name[et]=Tekstiannotatsioon
Name[it]=Annotazione di testo
Name[nl]=Tekstannotatie
Name[pt]=Anotação-Texto
Name[pt_BR]=Anotação de texto
Name[sv]=Text-anmärkning
Name[uk]=Текстова анотація
Name[x-test]=xxText-Annotationxx
Name[zh_CN]=文本批注
Name[zh_TW]=文字註釋
