[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=KWord
Name[x-test]=xxKWordxx
Exec=kword %u
GenericName=Word Processing
GenericName[fr]=Traitement de texte
GenericName[x-test]=xxWord Processingxx
Comment=Write text documents
MimeType=application/vnd.oasis.opendocument.text;application/x-kword;application/msword;text/rtf;text/plain;application/x-mswrite
Icon=kword
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.text
#X-KDE-NativeMimeType=application/x-kword
DocPath=kword/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Office;
InitialPreference=3
