[Desktop Entry]
Name=Variable Attenuator
Name[el]=Μεταβλητός εξασθενητής
Name[pt]=Atenuador Variável
Name[pt_BR]=Atenuador variável
Name[sv]=Variabel dämpare
Name[uk]=Регульований послаблювач
Name[x-test]=xxVariable Attenuatorxx
