[Desktop Entry]
Name=Isolator (vertical)
Name[el]=Απομονωτής (κατακόρυφα)
Name[et]=Isolaator (vertikaalne)
Name[nb]=Isolator (loddrett)
Name[pt]=Isolador (vertical)
Name[pt_BR]=Isolador (vertical)
Name[sv]=Isolator (vertikal)
Name[uk]=Ізолятор (вертикально)
Name[x-test]=xxIsolator (vertical)xx
