[Desktop Entry]
Name=LPG
Name[ca]=LPG
Name[ca@valencia]=LPG
Name[de]=LPG
Name[el]=LPG
Name[es]=LPG
Name[et]=LPG
Name[hu]=LPG
Name[it]=LPG
Name[kk]=LPG
Name[nb]=LPG
Name[nl]=LPG
Name[pl]=LPG
Name[pt]=LPG
Name[pt_BR]=LPG
Name[ru]=LPG
Name[sk]=LPG
Name[sv]=LPG
Name[uk]=Довгоперіодична дифракційна ґратка
Name[x-test]=xxLPGxx
Name[zh_TW]=LPG
