[Desktop Entry]
Name=MZ Modulator (vertical)
Name[pt]=Modulador MZ (vertical)
Name[uk]=Модулятор Маха-Цендера (вертикально)
Name[x-test]=xxMZ Modulator (vertical)xx
