[Desktop Entry]
Name=MZ Modulator (vertical)
Name[ca]=MZ Modulator (vertical)
Name[ca@valencia]=MZ Modulator (vertical)
Name[de]=MZ-Modulator (senkrecht)
Name[el]=MZ διαμορφωτής (κάθετα)
Name[es]=Modulador MZ (vertical)
Name[et]=Vertikaalne Machi-Zehnderi interferomeeter
Name[it]=Modulatore MZ (verticale)
Name[kk]=Мах-Цандер модуляторы (тік)
Name[nb]=MZ-modulator (loddrett)
Name[nl]=MZ-modulator (verticaal)
Name[pl]=Modulator MZ (pionowy)
Name[pt]=Modulador MZ (vertical)
Name[pt_BR]=Modulador MZ (vertical)
Name[ru]=Модулятор MZ (вертикальный)
Name[sk]=MZ modulátor (zvislý)
Name[sv]=MZ-modulator (vertikal)
Name[uk]=Модулятор Маха-Цендера (вертикально)
Name[x-test]=xxMZ Modulator (vertical)xx
Name[zh_TW]=MZ 調節器（垂直）
