[Desktop Entry]
Name=Oscilloscope
Name[el]=Παλμογράφος
Name[et]=Ostsilloskoop
Name[nb]=Oscilloskop
Name[pt]=Osciloscópio
Name[pt_BR]=Osciloscópio
Name[sv]=Oscilloskop
Name[uk]=Осцилоскоп
Name[x-test]=xxOscilloscopexx
Name[zh_TW]=示波器
