[Desktop Entry]
Name=Text Tool
Name[ca@valencia]=Eina de text
X-KDE-ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatooltext
X-Krita-Version=5
