[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Calligra/ColorSpace
Comment=A module implementing a complete colorspace for use with Pigment Color Manipulation System
Comment[ca@valencia]=Un mòdul que implementa un espai de colors complet per a usar-lo amb el Sistema de Manipulació Pigment Color
[PropertyDef::X-Pigment-MinVersion]
Type=int
[PropertyDef::X-Flake-PluginVersion]
Type=int
