[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Calligra/ColorSpaceExtension
Comment=A module implementing an extension to a colorspace of the Pigment Color Manipulation System
[PropertyDef::X-Pigment-MinVersion]
Type=int
[PropertyDef::X-Pigment-PluginVersion]
Type=int
[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString
