[Desktop Entry]
Name=lab-stand
Name[bs]=laboratorijski stalak
Name[ca]=laboratori stand
Name[ca@valencia]=laboratori stand
Name[da]=stativ
Name[de]=Laborstand
Name[el]=lab-stand
Name[en_GB]=lab-stand
Name[eo]=laboratorio-stando
Name[es]=soporte de laboratorio
Name[et]=Statiiv
Name[eu]=laborategi-euskarria
Name[fr]=présentoir-de-laboratoire
Name[gl]=Soporte lateral
Name[it]=lab-stand
Name[ka]=ლაბორატორიის სტენდი
Name[kk]=Лаб. штативі
Name[ko]=lab-stand
Name[lv]=laboratorijas stends
Name[nb]=lab-holder
Name[nl]=lab-standaard
Name[pl]=stanowisko-laboratoryjne
Name[pt]=mesa-laboratório
Name[pt_BR]=mesa de laboratório
Name[ru]=Лабораторный стенд
Name[sk]=lab-stand
Name[sl]=laboratorijsko-stojalo
Name[sv]=laboratoriehållare
Name[tr]=laboratuvar standı
Name[uk]=Лабораторний штатив
Name[x-test]=xxlab-standxx
Name[zh_TW]=實驗站
