[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Kivio Image Export Filter
Name[es]=Filtro de exportación a imagen de Kivio
Name[ga]=Scagaire Easpórtála Íomhá Kivio
Name[pt]=Filtro de Exportação de Imagem para o Kivio
Name[pt_BR]=Filtro de Exportação de Imagem para o Kivio
X-KDE-Import=application/x-kivio
X-KDE-Export=image/png,image/jpeg,image/bmp,image/x-eps,image/x-portable-bitmap,image/x-pcx,image/x-portable-graymap,image/x-portable-pixmap,image/x-rgb,image/x-tga,image/x-xbitmap,image/x-xpixmap,image/jpeg2000
X-KDE-Weight=1
X-KDE-Library=libkivioimageexport
ServiceTypes=KOfficeFilter
