[Desktop Entry]
Encoding=UTF-8
Name=KFormula
Name[af]=Kformula
Name[eo]=Formulilo
Name[lo]=ສູດຄະນິດສາດ K
Name[pt_BR]=KFormula - Editor de fórmulas
Name[sv]=Kformula
Name[th]=สูตรคณิตศาสตร์ K
Name[ven]=Fomula ya K
Exec=kformula
GenericName=Formula Editor
GenericName[af]=Formule Redigeerder
GenericName[bg]=Редактор на формули
GenericName[ca]=Editor de fórmules
GenericName[cs]=Editor vzorců
GenericName[da]=Formeleditor
GenericName[de]=Formel-Editor
GenericName[el]=Επεξεργαστής μαθηματικών τύπων
GenericName[eo]=Redaktilo por matematikaj formuloj
GenericName[es]=Editor de fórmulas
GenericName[et]=Valemite redaktor
GenericName[fa]=ویرایشگر فرمول
GenericName[fi]=Kaavamuokkain
GenericName[fr]=Éditeur de formules
GenericName[he]=עורך נוסחאות
GenericName[hu]=képletszerkesztő
GenericName[it]=Editor di formule
GenericName[ja]=数式エディタ
GenericName[lo]=ເຄື່ອງມືແກ້ໄຂສູດຄະນິດສາດ
GenericName[mt]=Editur tal-Formuli
GenericName[nb]=Formelredigerer
GenericName[nl]=Formulebewerker
GenericName[nn]=Formelredigering
GenericName[pl]=Edytor wzorów matematycznych
GenericName[pt]=Editor de Fórmulas
GenericName[pt_BR]=Editor de Fórmulas
GenericName[ru]=Редактор формул
GenericName[se]=Hápmodoaimmaheaddji
GenericName[sk]=Editor rovníc
GenericName[sl]=Urejevalnik formul
GenericName[sr]=Уређивач формула
GenericName[sv]=Formeleditor
GenericName[tg]=Муҳаррири Формула
GenericName[th]=เครื่องมือแก้ไขสูตรคณิตศาสตร์
GenericName[tr]=Formül Düzenleyici
GenericName[uz]=Формула таҳрирчи
GenericName[xh]=Umhleli wendlela yokubala
GenericName[zh_CN]=公式编辑器
GenericName[zh_TW]=方程式編輯器
MimeType=application/x-kformula
Type=Application
Icon=kformula
X-KDE-NativeMimeType=application/x-kformula
X-DCOP-ServiceType=Multi
DocPath=kformula/index.html
Categories=Qt;KDE;Office
