[Desktop Entry]
Name=Text
Name[ca]=Text
Name[ca@valencia]=Text
Name[cs]=Text
Name[da]=Tekst
Name[de]=Text
Name[el]=Κείμενο
Name[en_GB]=Text
Name[es]=Texto
Name[et]=Tekst
Name[fi]=Teksti
Name[gl]=Texto
Name[it]=Testo
Name[ja]=テキスト
Name[nb]=Tekst
Name[nds]=Text
Name[nl]=Tekst
Name[pt]=Texto
Name[pt_BR]=Texto
Name[sl]=Besedilo
Name[sv]=Text
Name[tr]=Metin
Name[uk]=Текст
Name[wa]=Tecse
Name[x-test]=xxTextxx
Name[zh_CN]=文本
Name[zh_TW]=文字
Comment=Text Migration Driver for Kexi
Comment[ca]=Controlador de migració de text per al Kexi
Comment[ca@valencia]=Controlador de migració de text per al Kexi
Comment[da]=Migrationsdriver til tekst til Kexi
Comment[de]=Text-Migrationstreiber für Kexi
Comment[el]=Οδηγός μεταφοράς κειμένου του Kexi
Comment[en_GB]=Text Migration Driver for Kexi
Comment[es]=Controlador de migración de texto de Kexi
Comment[et]=Kexi teksti migreerimisdraiver
Comment[fi]=Tekstin siirtoajuri Kexille
Comment[gl]=Motor de migración de texto para Kexi
Comment[it]=Driver di migrazione da testo per Kexi
Comment[ja]=Kexi のためのテキスト移行ドライバ
Comment[nb]=Tekst-migreringsdriver for Kexi
Comment[nds]=Text-Utlagerndriever för Kexi
Comment[nl]=Tekst-migratiestuurprogramma voor Kexi
Comment[pt]=Controlador de Migração de Texto para o Kexi
Comment[pt_BR]=Driver de Migração de Texto para o Kexi
Comment[sv]=Textövergångsdrivrutin för Kexi
Comment[tr]=Kexi için Metin Taşıma Sürücüsü
Comment[uk]=Драйвер міграції тексту для Kexi
Comment[wa]=Mineu d' migråcion d' sicrijhaedje po Kexi
Comment[x-test]=xxText Migration Driver for Kexixx
Comment[zh_CN]=Kexi 的文本迁移驱动程序
Comment[zh_TW]=Kexi 的文字轉移驅動程式
X-KDE-Library=keximigrate_txt
X-KDE-ServiceTypes=Kexi/MigrationDriver
Type=Service
InitialPreference=8
X-Kexi-MigrationDriverName=Text
X-Kexi-MigrationDriverType=File
X-Kexi-KexiMigrationVersion=1.1
