[Desktop Entry]
Name=contact pair
Name[bs]=kontakt par
Name[ca]=parell de contactes
Name[ca@valencia]=parell de contactes
Name[da]=kontaktpar
Name[de]=Kontaktpaar
Name[el]=ζεύγος επαφής
Name[en_GB]=contact pair
Name[eo]=kontaktoparo
Name[es]=par de contactos
Name[et]=Kontaktipaar
Name[eu]=kontaktu parea
Name[fr]=contact pair
Name[gl]=Par de contactos
Name[it]=coppia di contatti
Name[ja]=連絡(ペア)
Name[ka]=კონტატური წყვილი
Name[kk]=қос контакт
Name[ko]=접점 쌍
Name[lv]=kontaktpāris
Name[mr]=संपर्क जोडी
Name[nb]=kontaktpar
Name[nl]=contactpaar
Name[pl]=para kontaktu
Name[pt]=par de contactos
Name[pt_BR]=par de contatos
Name[ru]=Контактная пара
Name[sk]=kontaktný pár
Name[sl]=kontaktni par
Name[sv]=kontaktpar
Name[tr]=bağlantı çifti
Name[uk]=Пара контактів
Name[x-test]=xxcontact pairxx
Name[zh_CN]=接触对
Name[zh_TW]=contact pair
