[Desktop Entry]
Name=transistor jfe n
Name[bs]=n JOT FET tranzistor
Name[ca]=transistor jfe n
Name[ca@valencia]=transistor jfe n
Name[cs]=tranzistor jfe n
Name[da]=transistor jfe n
Name[de]=Transistor N-JFET
Name[el]=transistor jfe n
Name[en_GB]=transistor jfe n
Name[eo]=transistoro jfe n
Name[es]=transistor JFE N
Name[et]=Transistor jfe n
Name[eu]=jfe n transistorea
Name[fr]=transistor « JFE N »
Name[gl]=Transistor JFE N
Name[it]=transistore jfe n
Name[ja]=N 型チャネル接合型 FET
Name[ka]=ტრანზისტორი jfe n
Name[kk]=n-арна-өрісті транзистор
Name[ko]=jfe n 트랜지스터
Name[lv]=tranzistors jfe n
Name[nb]=transistor jfe n
Name[nl]=transistor jfe n
Name[pl]=tranzystor jfe n
Name[pt]=transístor JFE N
Name[pt_BR]=transistor jfe n
Name[ru]=Транзистор jfe n
Name[sk]=tranzistor jfe n
Name[sl]=tranzistor jfe n
Name[sv]=transistor jfe n
Name[tr]=transistör N-JFET
Name[uk]=Польовий N-канальний транзистор
Name[x-test]=xxtransistor jfe nxx
Name[zh_CN]=晶体管 JFE N
Name[zh_TW]=transistor jfe n
