[Desktop Entry]
Name=KPresenter
Name[da]=KPræsenterer
Name[eo]=KPrezentanto
Name[is]=Varpi
Name[mk]=K-презентација
Name[nl]=Kpresenter
Name[pt]=Apresentações
Name[pt_BR]=Gerador de Apresentações
Name[ru]=Презентации
Name[sv]=Presentation
Exec=kpresenter
X-KDE-Library=libkpresenterpart
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
Comment=KOffice Presentation Software
MimeType=application/x-kpresenter
Type=Application
Icon=kpresenter
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/x-kpresenter
X-DCOP-ServiceType=multi
