[Desktop Entry]
Name=Map
Name[bg]=Карта
Name[ca]=Mapa
Name[ca@valencia]=Mapa
Name[cs]=Mapa
Name[de]=Karte
Name[el]=Χάρτης
Name[es]=Mapa
Name[et]=Kaart
Name[fi]=Kartta
Name[hu]=Térkép
Name[it]=Mappa
Name[kk]=Карта
Name[nb]=Kart
Name[nl]=Kaart
Name[pl]=Mapa
Name[pt]=Mapa
Name[pt_BR]=Mapa
Name[ru]=Карта
Name[sk]=Mapa
Name[sl]=Zemljevid
Name[sv]=Karta
Name[ug]=خەرىتە
Name[uk]=Карта
Name[x-test]=xxMapxx
Name[zh_CN]=地图
Name[zh_TW]=地圖
X-KDE-DirType=odg-collection
