[Desktop Entry]
Name=Corner2
Name[bg]=Ъгъл2
Name[ca]=Corner2
Name[ca@valencia]=Corner2
Name[cs]=Roh2
Name[de]=Ecke 2
Name[el]=Corner2
Name[es]=Esquina2
Name[et]=Nurk2
Name[fi]=Mutka 2
Name[it]=Curva2
Name[kk]=Бұрыш2
Name[nb]=Hjørne2
Name[nl]=Hoek 2
Name[pl]=Narożnik2
Name[pt]=Esquina2
Name[pt_BR]=Canto2
Name[ru]=Угол2
Name[sk]=Roh2
Name[sv]=Hörn 2
Name[uk]=Кут 2
Name[x-test]=xxCorner2xx
Name[zh_TW]=角落2
