[Desktop Entry]
Name=River
Name[et]=Jõgi
Name[nl]=Rivier
Name[pt]=Rio
Name[pt_BR]=Rio
Name[sv]=Flod
Name[uk]=Річка
Name[x-test]=xxRiverxx
Name[zh_CN]=河流
