[Desktop Entry]
Encoding=UTF-8
Name=Krita
Name[eo]=Krito
Name[hi]=के-रिता
Name[lo]=ກຣິຕາ
Exec=krita %u
DocPath=krita/index.html
GenericName=Painting and Image Editing Application
GenericName[da]=Male og billedredigeringsprogram
GenericName[de]=Mal- und Bildbearbeitungsprogramm
GenericName[es]=Aplicación de pintura y de edición de imágenes
GenericName[et]=Joonistamise ja pilditöötluse rakendus
GenericName[hu]=Képszerkesztő
GenericName[it]=Applicazione per il disegno e la modifica delle immagini
GenericName[nl]=Beeldbewerkingsprogramma
GenericName[pl]=Program do edycji zdjęć oraz rysunków
GenericName[pt]=Aplicação de Pintura e Edição de Imagens
GenericName[pt_BR]=Aplicação de Pintura e Edição de Imagens
GenericName[sv]=Målnings- och bildredigeringsprogram
MimeType=image/x-xcf-gimp;image/png;image/gif;image/cgm;image/jpeg;image/tiff;image/x-bmp;image/x-ico;image/x-pcx;image/x-portable-pixmap;image/x-targa;image/x-xbm;image/x-xcf;image/x-xpm;image/x-vnd.adobe.photoshop
Type=Application
Icon=krita
Categories=Qt;KDE;Office;Graphics;
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
NoDisplay=true
