[Desktop Entry]
Type=Link
URL=.source/ArrowLeftUp.atf
Name=Arrow left/up
Name[af]=PYL LINKS/BEGIN
Name[az]=Sol/yuxarı ox
Name[bg]=Стрелка ляво/горе
Name[cs]=Šipka vlevo nahoru
Name[da]=Pil til højre/op
Name[de]=Pfeil nach links/oben
Name[el]=Αριστερό/πάνω βέλος
Name[eo]=Supren maldekstren
Name[es]=Flecha a la izquierda/arriba
Name[et]=Nool vasakule/üles
Name[fi]=Nuoli vasemmalle ylös
Name[fr]=Flèche haut/gauche
Name[he]=הלעמל\הלאמש ץח
Name[hu]=Balra/felfelé nyíl
Name[is]=Ör til vinstri/upp
Name[it]=Freccia sinistra/su
Name[ja]=左上矢印
Name[ko]=왼쪽 위 화살표
Name[lt]=Rodyklė kairėn/aukštyn
Name[lv]=Bulta pa kreisi/augšup
Name[mt]=Arrow xellug/fuq
Name[nl]=Pijl naar linksboven
Name[no]=Pil opp til venstre
Name[no_NY]=Pil opp til venstre
Name[pl]=Strzałka w lewo/górę
Name[pt_BR]=Seta para direita/cima
Name[pt]=Seta acima/à esquerda
Name[ru]=Стрелка влево/вверх
Name[sk]=Šipka vľavo/hore
Name[sl]=Puščica levo/gor
Name[sr]=Strelica levo/gore
Name[sv]=Pil vänster/upp
Name[ta]=­¼/§Áø «õÒìÌÈ¢
Name[tr]=Sol/yukarı ok
Name[uk]=Стрілка ліворуч/вгору
Name[vi]=Mũi tên trái/lên 
Name[zh_CN.GB2312]=左上箭头
Name[zh_TW.Big5]=指標向左/向上
Icon=.icon/ArrowLeftUp.png
