[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/ArrowRightUp.atf
Name=Arrow Right/Up
Name[ca]=Fletxa dreta/a dalt
Name[cy]=Saeth i'r Chwith/i Fyny
Name[da]=Pil til højre/op
Name[de]=Pfeil nach rechts/oben
Name[el]=Δεξί/πάνω βέλος
Name[es]=Flecha a la derecha/arriba
Name[et]=Nool paremale/üles
Name[eu]=Eskuin-goiko gezia
Name[fi]=Nuoli oikealle ylös
Name[fr]=Flèche droite / haute
Name[he]=חץ ימינה ולמעלה
Name[hu]=Jobbra/felfelé nyíl
Name[is]=Píla hægri/upp
Name[it]=Freccia destra/su
Name[ja]=右上矢印
Name[km]=ព្រួញ​ទៅ​ស្ដាំ/ឡើង​លើ
Name[ms]=Anak Panah Kanan/Ke atas
Name[nb]=Pil opp til høyre
Name[nl]=Pijl rechtsboven
Name[nn]=Pil opp til høgre
Name[pl]=Strzałka w prawo/górę
Name[pt]=Seta para Cima/Direita
Name[pt_BR]=Seta para direita/cima
Name[ru]=Стрелка вправо-вверх
Name[se]=Olgeš/bajásnjuolla
Name[sl]=Puščica desno/gor
Name[sr]=Стрелица десно/горе
Name[sr@Latn]=Strelica desno/gore
Name[sv]=Pil höger/upp
Name[uk]=Стрілка праворуч/вгору
Name[uz]=Ўнгга/Юқорига белгиси
Name[zh_CN]=右上箭头
Name[zh_TW]=右上箭頭
Icon=.icon/ArrowRightUp.png
