[Desktop Entry]
Name=command
Name[bg]=команда
Name[ca]=command
Name[ca@valencia]=command
Name[cs]=příkaz
Name[el]=εντολή
Name[it]=comando
Name[nb]=styring
Name[nds]=Befehl
Name[nl]=commando
Name[pl]=polecenie
Name[pt]=comando
Name[pt_BR]=comando
Name[ru]=команда
Name[sv]=kommando
Name[ug]=بۇيرۇق
Name[uk]=Керівний механізм реле (горизонтально)
Name[x-test]=xxcommandxx
Name[zh_TW]=command
