[Desktop Entry]
Name=vintpos f
Name[ca]=vintpos f
Name[ca@valencia]=vintpos f
Name[el]=vintpos f
Name[es]=interruptor vertical en posición cerrada
Name[et]=Vertikaalne suletud lõpulüliti
Name[it]=vintpos f
Name[kk]=қосыл-аустрғш тік
Name[nb]=loddrett mellomlegg f
Name[nl]=vintpos f
Name[pl]=vint_poz f
Name[pt]=intpos-v f
Name[pt_BR]=intpos-v f
Name[ru]=vintpos f
Name[sk]=vintpos f
Name[sv]=vertikalt mellanlägg f
Name[uk]=Нормально замкнутий перемикач (вертикально)
Name[x-test]=xxvintpos fxx
Name[zh_TW]=vintpos f
