[Desktop Entry]
Name=DFB Laser
Name[bs]=DFB Laser
Name[ca]=Laser DFB
Name[ca@valencia]=Laser DFB
Name[da]=DFB-laser
Name[de]=DFB-Laser
Name[el]=DFB Laser
Name[en_GB]=DFB Laser
Name[eo]=DFB Lasero
Name[es]=Láser DFB
Name[et]=DFB laser
Name[eu]=DFB laserra
Name[fr]=Laser « DFB »
Name[gl]=Láser DFB
Name[hu]=DFB lézer
Name[it]=Laser DFB
Name[ka]=DFB ლაზერი
Name[kk]=DFB лазері
Name[ko]=DFB 레이저
Name[lv]=DFB lāzers
Name[nb]=DFB Laser
Name[nl]=DFB-laser
Name[pl]=Laser DFB
Name[pt]=Laser DFB
Name[pt_BR]=Laser DFB
Name[ru]=Лазер DFB
Name[sk]=DFB Laser
Name[sl]=Laser DFB
Name[sv]=DFB-laser
Name[tr]=DFB Lazer
Name[uk]=Лазер з розподіленим зворотним зв’язком (горизонтально)
Name[x-test]=xxDFB Laserxx
Name[zh_TW]=DFB 雷射
