[Desktop Entry]
Name=Spectrum
Name[bg]=Спектър
Name[bs]=Spektar
Name[ca]=Espectre
Name[ca@valencia]=Espectre
Name[cs]=Spektrum
Name[da]=Spektrum
Name[de]=Spektrum
Name[el]=Φάσμα
Name[en_GB]=Spectrum
Name[eo]=Spektro
Name[es]=Espectro
Name[et]=Spekter
Name[eu]=Espektroa
Name[fi]=Spektri
Name[fr]=Spectre
Name[gl]=Espectro
Name[hu]=Spektrum
Name[it]=Spettro
Name[ka]=სპექტრი
Name[kk]=Спектр талдағышы
Name[ko]=스펙트럼
Name[lt]=Spektras
Name[lv]=Spektrs
Name[nb]=Spektrum
Name[nds]=Spektrum
Name[nl]=Spectrum
Name[pl]=Widmo
Name[pt]=Espectro
Name[pt_BR]=Espectro
Name[ru]=Спектр
Name[sk]=Spektrum
Name[sl]=Spekter
Name[sv]=Spektrum
Name[tr]=Tayf
Name[uk]=Аналізатор спектра
Name[x-test]=xxSpectrumxx
Name[zh_CN]=光谱
Name[zh_TW]=光譜
