[Desktop Entry]
Name=Sobel Filter
Name[ca@valencia]=Filtre Sobel
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritasobelfilter
X-Krita-Version=5
