[Desktop Entry]
Name=Static Vector Shape
Name[ca@valencia]=Forma de vector estàtic
X-KDE-ServiceTypes=Calligra/Flake
Type=Service
X-KDE-Library=vectorshape
X-Flake-MinVersion=4
X-Flake-PluginVersion=4
