[Desktop Entry]
Encoding=UTF-8
Name=PostgreSQL
Comment=With a 16 year development history, one of the strongest development communities in the world, and a global reputation for high quality software engineering, PostgreSQL is the world's most advanced Open Source Database for large corporations and individual users.
X-KDE-Library=kexidb_pqxxsqldriver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=PostgreSQL
X-Kexi-DriverType=Network
