[Desktop Entry]
Version=1.0
Type=Application
Name=Krita Sketch
Name[en_GB]=Krita Sketch
Name[fi]=Krita Sketch
Name[fr]=Esquisse Krita
Name[nl]=Krita Sketch
Name[x-test]=xxKrita Sketchxx
GenericName=Digital Painting
GenericName[en_GB]=Digital Painting
GenericName[fi]=Digitaalimaalaus
GenericName[fr]=Peinture numérique
GenericName[nl]=Digitaal schilderen
GenericName[x-test]=xxDigital Paintingxx
Exec=kritasketch
Icon=calligrakrita2
MimeType=application/x-krita;
Categories=Qt;KDE;Graphics;
