[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KOffice Simplified Word Processing Component
Name[cs]=Součást KOffice pro jednoduché zpracování textu
Name[da]=KOffice simplificeret tekstbehandlingskomponent
Name[es]=Componente de procesamiento de texto simplificado de KOffice
Name[it]=Componente per la videoscrittura semplificata di KOffice
Name[ja]=KOffice 簡易ワープロコンポーネント
Name[pt]=Componente de Processamento de Texto Simplificado do KOffice
Name[pt_BR]=Componente de Processamento de Texto Simplificado do KOffice
Name[sr]=KOffice-ова компонента за поједностављену обраду текста
Name[sr@Latn]=KOffice-ова компонента за поједностављену обраду текста
Name[sv]=Koffice-förenklad ordbehandlingskomponent
Name[xx]=xxKOffice Simplified Word Processing Componentxx
Name[zh_CN]=KOffice 简化的字处理组件
X-KDE-Library=libwriteup_part
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.text
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.text
X-KDE-ExtraNativeMimeTypes=application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.text-template
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/x-kword;application/msword;text/rtf;text/plain;application/x-mswrite
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
GenericName=Text Documents
GenericName[bg]=Текстови документи
GenericName[cs]=Textové dokumenty
GenericName[cy]=Dogfennau Testun
GenericName[es]=Documentos de texto
GenericName[fr]=Documents texte
GenericName[ga]=Cáipéisí Téacs
GenericName[it]=Documenti di testo
GenericName[ja]=テキストドキュメント
GenericName[pt]=Documentos de Texto
GenericName[pt_BR]=Documentos de Texto
GenericName[sr]=Текстуални документи
GenericName[sr@Latn]=Текстуални документи
GenericName[sv]=Textdokument
GenericName[xx]=xxText Documentsxx
GenericName[zh_CN]=文本文档
Icon=writeup
