[Desktop Entry]
Name=Androgynous Person
Name[ca]=Persona andrògina
Name[el]=Ανδρόγυνο
Name[et]=Androgüün
Name[it]=Persona androgina
Name[nb]=Androgyn person
Name[pl]=Obojnacza osoba
Name[pt]=Pessoa Andrógina
Name[pt_BR]=Pessoa andrógena
Name[sv]=Androgyn person
Name[uk]=Особа невідомої статі
Name[x-test]=xxAndrogynous Personxx
Name[zh_TW]=跨性人
