[Desktop Entry]
Name=Automatic Protection Switching
Name[el]=Μεταγωγή αυτόματης προστασίας
Name[pt]=Comutação de Protecção Automática
Name[pt_BR]=Comutador de proteção automática
Name[sv]=Automatisk skyddsomkoppling
Name[uk]=Автоматичне перемикання захисту
Name[x-test]=xxAutomatic Protection Switchingxx
