[Desktop Entry]
Name=BBFW media
Name[bg]=Среда BBFW
Name[ca]=BBFW media
Name[ca@valencia]=BBFW media
Name[de]=BBFW-Media
Name[el]=BBFW media
Name[es]=Medio BBFW
Name[et]=BBFW meedium
Name[hu]=BBFW média
Name[it]=BBFW media
Name[kk]=BBFW тасушысы
Name[nb]=BBFW-media
Name[nds]=BBFW-Medien
Name[nl]=BBFW media
Name[pl]=Nośnik BBFW
Name[pt]=dispositivo BBFW
Name[pt_BR]=Mídia BBFW
Name[ru]=Носитель BBFW
Name[sk]=BBFW média
Name[sv]=BBFW-media
Name[uk]=Носій BBFW
Name[x-test]=xxBBFW mediaxx
Name[zh_CN]=BBFW 媒体
Name[zh_TW]=BBFW 媒體
