[Desktop Entry]
Name=CallManager
Name[bg]=Управление на обаждания
Name[ca]=CallManager
Name[de]=CallManager
Name[el]=CallManager
Name[it]=CallManager
Name[nb]=Oppringingshåndtering
Name[nds]=Anroop-Pleger
Name[pl]=MenadżerDzwonienia
Name[pt]=Gestor de Chamadas
Name[pt_BR]=Gerenciador de chamadas
Name[sv]=Uppringningshantering
Name[uk]=Диспетчер дзвінків
Name[x-test]=xxCallManagerxx
Name[zh_TW]=CallManager
