[Desktop Entry]
Name=CDM Content Distribution Manager
Name[en_GB]=CDM Content Distribution Manager
Name[fr]=CDM Content Distribution Manager
Name[nl]=CDM Content Distribution Manager
Name[x-test]=xxCDM Content Distribution Managerxx
