[Desktop Entry]
Name=Cellular phone
Name[en_GB]=Cellular phone
Name[fi]=Matkapuhelin
Name[fr]=Téléphone cellulaire
Name[nl]=Mobiele telefoon
Name[x-test]=xxCellular phonexx
