[Desktop Entry]
Name=Cloud Gold
Name[en_GB]=Cloud Gold
Name[fi]=Pilvi, kultainen
Name[fr]=Cloud Gold
Name[nl]=Gouden wolk
Name[x-test]=xxCloud Goldxx
