[Desktop Entry]
Name=Concatenated Payload
Name[ca]=Càrrega útil concatenada
Name[el]=Συγκέντρωση φόρτου
Name[it]=Dati concatenati
Name[nb]=Sammensatt nyttelast
Name[pl]=Sklejone obciążenie
Name[pt]=Dados Concatenados
Name[pt_BR]=Dados concatenados
Name[sv]=Sammansatt nyttolast
Name[uk]=З'єднане навантаження
Name[x-test]=xxConcatenated Payloadxx
Name[zh_TW]=串接負載
