[Desktop Entry]
Name=Content Transformation Engine (CTE)
Name[en_GB]=Content Transformation Engine (CTE)
Name[fr]=Content Transformation Engine (CTE)
Name[nl]=Content Transformation Engine (CTE)
Name[x-test]=xxContent Transformation Engine (CTE)xx
