[Desktop Entry]
Name=Data Switch Processor
Name[en_GB]=Data Switch Processor
Name[fr]=Data Switch Processor
Name[nl]=Data Switch Processor
Name[x-test]=xxData Switch Processorxx
