[Desktop Entry]
Name=Data Switch Processor
Name[pt]=Processador Comutação Dados
Name[uk]=Процесор комутації даних
Name[x-test]=xxData Switch Processorxx
