[Desktop Entry]
Name=Director-class Fibre Channel intelligent switch
Name[pt]=Comutador inteligente Fibre Channel director
Name[x-test]=xxDirector-class Fibre Channel intelligent switchxx
