[Desktop Entry]
Name=DPT
Name[el]=DPT
Name[et]=DPT
Name[nb]=DPT
Name[nl]=DPT
Name[pt]=DPT
Name[pt_BR]=DPT
Name[sv]=DPT
Name[uk]=DPT
Name[x-test]=xxDPTxx
Name[zh_TW]=DPT
