[Desktop Entry]
Name=FC Storage
Name[et]=FC salvesti
Name[nl]=FC-storage
Name[pt]=Armazenamento FC
Name[sv]=Fiberkanallagring
Name[uk]=Сховище FC
Name[x-test]=xxFC Storagexx
