[Desktop Entry]
Name=File Server
Name[bg]=Файлов сървър
Name[ca]=Servidor de fitxers
Name[ca@valencia]=Servidor de fitxers
Name[de]=Datei-Server
Name[el]=Εξυπηρετητής αρχείων
Name[es]=Servidor de archivos
Name[et]=Failiserver
Name[fi]=Tiedostopalvelin
Name[hu]=Fájlkiszolgáló
Name[it]=Server di file
Name[ja]=ファイルサーバ
Name[kk]=Файл сервері
Name[nb]=Filtjener
Name[nds]=Datei-Server
Name[nl]=Bestandsserver
Name[pl]=Serwer plikowy
Name[pt]=Servidor de Ficheiros
Name[pt_BR]=Servidor de arquivos
Name[ru]=Файловый сервер
Name[sk]=Súborový server
Name[sv]=Filserver
Name[uk]=Файловий сервер
Name[x-test]=xxFile Serverxx
Name[zh_CN]=文件服务器
Name[zh_TW]=檔案伺服器
