[Desktop Entry]
Name=Firewall subdued
Name[en_GB]=Firewall subdued
Name[fr]=Firewall subdued
Name[nl]=Firewall ondergeschikt
Name[x-test]=xxFirewall subduedxx
