[Desktop Entry]
Name=Generic processor
Name[et]=Tavaline protsessor
Name[pt]=Processador genérico
Name[uk]=Стандартний процесор
Name[x-test]=xxGeneric processorxx
