[Desktop Entry]
Name=Government Building
Name[et]=Valitsushoone
Name[pt]=Edifício Governamental
Name[pt_BR]=Edifício governamental
Name[uk]=Урядова будівля
Name[x-test]=xxGovernment Buildingxx
