[Desktop Entry]
Name=IntelliSwitch Stack
Name[en_GB]=IntelliSwitch Stack
Name[fr]=IntelliSwitch Stack
Name[nl]=IntelliSwitch Stack
Name[x-test]=xxIntelliSwitch Stackxx
