[Desktop Entry]
Name=IntelliSwitch Stack
Name[ca]=IntelliSwitch Stack
Name[ca@valencia]=IntelliSwitch Stack
Name[el]=IntelliSwitch Stack
Name[es]=IntelliSwitch Stack
Name[et]=IntelliSwitch pinu
Name[it]=IntelliSwitch Stack
Name[kk]=IntelliSwitch стегі
Name[nb]=IntelliSwitch stabel
Name[nl]=IntelliSwitch Stack
Name[pl]=Stos IntelliSwitch
Name[pt]=Bloco IntelliSwitch
Name[pt_BR]=Bloco IntelliSwitch
Name[ru]=Стэк IntelliSwitch
Name[sk]=IntelliSwitch Stack
Name[sv]=IntelliSwitch-stack
Name[uk]=Стек IntelliSwitch
Name[x-test]=xxIntelliSwitch Stackxx
Name[zh_TW]=IntelliSwitch Stack
