[Desktop Entry]
Name=IP Softphone
Name[bg]=Софтуерен IP-телефон
Name[ca]=IP Softphone
Name[ca@valencia]=IP Softphone
Name[de]=IP-SoftPhone
Name[el]=IP εφαρμογή τηλεφωνίας
Name[es]=Teléfono IP por software
Name[et]=IP Softphone
Name[it]=Softphone IP
Name[kk]=Бағдарламалық IP телефоны
Name[nb]=IP Softphone
Name[nds]=IP-SoftPhone
Name[nl]=IP soft telefoon
Name[pl]=Programowy telefon IP
Name[pt]=Telefone SW IP
Name[pt_BR]=Softphone IP
Name[ru]=Программная телефония на IP
Name[sk]=IP Softphone
Name[sv]=Internet programvarutelefon
Name[uk]=Програмний IP-телефон
Name[x-test]=xxIP Softphonexx
Name[zh_CN]=IP 软件电话
Name[zh_TW]=IP 軟體電話
