[Desktop Entry]
Name=Macintosh
Name[bg]=Macintosh
Name[bs]=Macintosh
Name[ca]=Macintosh
Name[ca@valencia]=Macintosh
Name[cs]=Macintosh
Name[de]=Macintosh
Name[el]=Macintosh
Name[es]=Macintosh
Name[et]=Macintosh
Name[fr]=Macintosh
Name[gl]=Macintosh
Name[hu]=Macintosh
Name[it]=Macintosh
Name[kk]=Macintosh
Name[nb]=Macintosh
Name[nds]=Macintosh
Name[nl]=MacIntosh
Name[pl]=Macintosh
Name[pt]=Macintosh
Name[pt_BR]=Macintosh
Name[ru]=Макинтош
Name[sk]=Macintosh
Name[sl]=Macintosh
Name[sv]=Macintosh
Name[ug]=Macintosh
Name[uk]=Macintosh
Name[x-test]=xxMacintoshxx
Name[zh_CN]=Macintosh
Name[zh_TW]=Macintosh
