[Desktop Entry]
Name=Man blue
Name[ca]=Home blau
Name[ca@valencia]=Home blau
Name[el]=Άνδρας μπλε
Name[es]=Hombre azul
Name[et]=Sinine mees
Name[fi]=Mies, sininen
Name[it]=Uomo blu
Name[kk]=Көк адам
Name[nb]=Mann blå
Name[nds]=Blaag Keerl
Name[nl]=Blauwe man
Name[pl]=Mężczyzna niebieski
Name[pt]=Homem azul
Name[pt_BR]=Homem azul
Name[ru]=Человек синего цвета
Name[sk]=Muž modrý
Name[sv]=Man blå
Name[uk]=Чоловік (синім)
Name[x-test]=xxMan bluexx
Name[zh_CN]=男性(蓝色)
Name[zh_TW]=男人（藍）
