[Desktop Entry]
Name=Medium Building blue
Name[en_GB]=Medium Building blue
Name[fi]=Keskikokoinen rakennus, sininen
Name[fr]=Medium Building blue
Name[nl]=Gemiddeld blauw gebouw
Name[x-test]=xxMedium Building bluexx
