[Desktop Entry]
Name=Medium Building
Name[et]=Keskmine hoone
Name[pt]=Edifício Médio
Name[sv]=Medelstor byggnad
Name[uk]=Середня будівля
Name[x-test]=xxMedium Buildingxx
