[Desktop Entry]
Name=MGX 8260
Name[bg]=MGX 8260
Name[ca]=MGX 8260
Name[ca@valencia]=MGX 8260
Name[de]=MGX 8260
Name[el]=MGX 8260
Name[es]=MGX 8260
Name[et]=MGX 8260
Name[hu]=MGX 8260
Name[it]=MGX 8260
Name[kk]=MGX 8260
Name[nb]=MGX 8260
Name[nds]=MGX 8260
Name[nl]=MGX 8260
Name[pl]=MGX 8260
Name[pt]=MGX 8260
Name[pt_BR]=MGX 8260
Name[ru]=MGX 8260
Name[sk]=MGX 8260
Name[sv]=MGX 8260
Name[uk]=MGX 8260
Name[x-test]=xxMGX 8260xx
Name[zh_CN]=MGX 8260
Name[zh_TW]=MGX 8260
