[Desktop Entry]
Name=MultiSwitch Device
Name[en_GB]=MultiSwitch Device
Name[fr]=MultiSwitch Device
Name[nl]=MultiSwitch apparaat
Name[x-test]=xxMultiSwitch Devicexx
