[Desktop Entry]
Name=Multilayer Switch with Silicon
Name[ca]=Commutador multicapa amb silici
Name[ca@valencia]=Commutador multicapa amb silici
Name[el]=Multilayer Switch with Silicon
Name[es]=Conmutador multicapa con silicio
Name[et]=Mitmekihiline kommutaator räniga
Name[it]=Switch multilayer con silicio
Name[kk]=Silicon-ды қолдайтын қөпқабатты қосқышы
Name[nb]=Flerlags-svitsj med Silicon
Name[nl]=Multilayer switch met Silicon
Name[pl]=Przełącznik wielopoziomowy wraz z Sillicon
Name[pt]=Comutador Multi-Nível com Silício
Name[pt_BR]=Comutador multi-camada com silício
Name[ru]=Многоуровневый коммутатор с поддержкой Silicon
Name[sk]=Viacvrstvový prepínač s kremíkom
Name[sv]=Flerlagersväxel med kisel
Name[uk]=Багаторівневий комутатор з підтримкою Silicon
Name[x-test]=xxMultilayer Switch with Siliconxx
Name[zh_TW]=多層交換器，含 Silicon
