[Desktop Entry]
Name=Multilayer Switch with Silicon subdued
Name[nb]=Flerlags-svitsj med Silicon, dempet
Name[nl]=Multilayer switch met Silicon ondergeschikt
Name[pl]=Przełącznik wielopoziomowy wraz z Sillicon podległy
Name[pt]=Comutador Multi-Nível com Silício ultrapassado
Name[pt_BR]=Comutador multi-camada com silício ultrapassado
Name[sv]=Flerlagersväxel med kisel diskret
Name[uk]=Багаторівневий комутатор з підтримкою Silicon (притлумлено)
Name[x-test]=xxMultilayer Switch with Silicon subduedxx
