[Desktop Entry]
Name=MultiSwitch Device
Name[bg]=Многокомутиращо устройство
Name[et]=MultiSwitch seade
Name[nb]=Multisvitsjenhet
Name[nl]=MultiSwitch apparaat
Name[pl]=Urządzenie MultiSwitch
Name[pt]=Dispositivo MultiSwitch
Name[pt_BR]=Dispositivo multi-comutador
Name[sv]=Flerväxelenhet
Name[uk]=Пристрій мультикомутації
Name[x-test]=xxMultiSwitch Devicexx
Name[zh_TW]=多重交換裝置
