[Desktop Entry]
Name=MUX
Name[bg]=MUX
Name[ca]=MUX
Name[el]=MUX
Name[et]=MUX
Name[it]=MUX
Name[nb]=MUX
Name[nds]=MUX
Name[nl]=MUX
Name[pl]=MUX
Name[pt]=MUX
Name[pt_BR]=MUX
Name[sv]=Multiplexer
Name[uk]=MUX
Name[x-test]=xxMUXxx
Name[zh_TW]=MUX
