[Desktop Entry]
Name=NetSonar
Name[bg]=NetSonar
Name[bs]=NetSonar
Name[ca]=NetSonar
Name[ca@valencia]=NetSonar
Name[cs]=NetSonar
Name[da]=NetSonar
Name[de]=NetSonar
Name[el]=NetSonar
Name[es]=NetSonar
Name[et]=NetSonar
Name[fr]=NetSonar
Name[gl]=NetSonar
Name[it]=NetSonar
Name[kk]=NetSonar
Name[lt]=NetSonar
Name[nb]=NetSonar
Name[nds]=NetSonar
Name[nl]=NetSonar
Name[pl]=NetSonar
Name[pt]=Sonar Rede
Name[pt_BR]=NetSonar
Name[ru]=NetSonar
Name[sk]=NetSonar
Name[sv]=Nätsonar
Name[uk]=NetSonar
Name[x-test]=xxNetSonarxx
Name[zh_CN]=NetSonar
Name[zh_TW]=NetSonar
