[Desktop Entry]
Name=Optical Cross-Connect
Name[en_GB]=Optical Cross-Connect
Name[fr]=Optical Cross-Connect
Name[nl]=Optische kruisverbinding
Name[x-test]=xxOptical Cross-Connectxx
