[Desktop Entry]
Name=Pager
Name[el]=Pager
Name[nb]=Personsøker
Name[nl]=Pager
Name[pt]=Paginador
Name[pt_BR]=Pager
Name[sv]=Personsökare
Name[ug]=چاقىرغۇ
Name[uk]=Пейджер
Name[x-test]=xxPagerxx
Name[zh_TW]=呼叫器
