[Desktop Entry]
Name=PC Man
Name[bg]=Човек PC
Name[el]=PC Man
Name[et]=PC-mees
Name[it]=PC Uomo
Name[nb]=PC-mann
Name[nl]=PC-man
Name[pl]=Mężczyzna PC
Name[pt]=Homem PC
Name[pt_BR]=Homem PC
Name[ru]=Человек за персональным компьютером
Name[sv]=Persondatorman
Name[uk]=Чоловік за ПК
Name[x-test]=xxPC Manxx
Name[zh_CN]=PC 男性
Name[zh_TW]=PC 男人
