[Desktop Entry]
Name=PC Man
Name[et]=PC-mees
Name[pt]=Homem PC
Name[pt_BR]=Homem PC
Name[sv]=Persondatorman
Name[uk]=Чоловік за ПК
Name[x-test]=xxPC Manxx
