[Desktop Entry]
Name=Phone Ethernet
Name[en_GB]=Phone Ethernet
Name[fi]=Puhelinethernet
Name[fr]=Téléphone Ethernet
Name[nl]=Telefoon ethernet
Name[x-test]=xxPhone Ethernetxx
