[Desktop Entry]
Name=Printer
Name[es]=Impresora
Name[et]=Printer
Name[nl]=Printer
Name[pt]=Impressora
Name[pt_BR]=Impressora
Name[uk]=Принтер
Name[x-test]=xxPrinterxx
