[Desktop Entry]
Name=Programmable Switch
Name[bg]=Програмируем комутатор
Name[ca]=Enrutador programable
Name[el]=Programmable Switch
Name[et]=Programmeeritav kommutaator
Name[it]=Switch programmabile
Name[nb]=Programmerbar svitsj
Name[nds]=Programmeerbor Ümschalter
Name[nl]=Programmeerbare switch
Name[pl]=Przełącznik programowalny
Name[pt]=Comutador Programável
Name[pt_BR]=Comutador programável
Name[sv]=Programmerbar växel
Name[uk]=Програмований комутатор
Name[x-test]=xxProgrammable Switchxx
Name[zh_TW]=可程式交換器
