[Desktop Entry]
Name=RateMUX
Name[bg]=RateMUX
Name[bs]=RateMUX
Name[ca]=RateMUX
Name[ca@valencia]=RateMUX
Name[cs]=RateMUX
Name[da]=RateMUX
Name[de]=RateMUX
Name[el]=RateMUX
Name[es]=Tasa de MUX
Name[et]=RateMUX
Name[fr]=RateMUX
Name[gl]=RateMUX
Name[it]=RateMUX
Name[kk]=RateMUX
Name[lt]=RateMUX
Name[nb]=RateMUX
Name[nds]=RateMUX
Name[nl]=RateMUX
Name[pl]=RateMUX
Name[pt]=RateMUX
Name[pt_BR]=RateMUX
Name[ru]=RateMUX
Name[sk]=RateMUX
Name[sv]=Hastighetsmultiplexer
Name[uk]=RateMUX
Name[x-test]=xxRateMUXxx
Name[zh_CN]=RateMUX
Name[zh_TW]=RateMUX
