[Desktop Entry]
Name=Router in building
Name[el]=Δρομολογητής σε κτήριο
Name[et]=Marsruuter hoones
Name[nb]=Ruter i bygning
Name[pt]=Encaminhador em edifício
Name[pt_BR]=Roteador em edifício
Name[sv]=Router i byggnad
Name[uk]=Маршрутизатор в будівлі
Name[x-test]=xxRouter in buildingxx
