[Desktop Entry]
Name=Running man
Name[et]=Jooksev mees
Name[pt]=Homem a correr
Name[sv]=Springande man
Name[uk]=Чоловік, що біжить
Name[x-test]=xxRunning manxx
