[Desktop Entry]
Name=Security appliance
Name[el]=Συσκευή ασφάλειας
Name[et]=Turbeseade
Name[pt]=Aplicação de segurança
Name[pt_BR]=Aplicação de segurança
Name[sv]=Säkerhetsapparat
Name[uk]=Пристрій захисту
Name[x-test]=xxSecurity appliancexx
