[Desktop Entry]
Name=Service Control
Name[pt]=Controlo Serviço
Name[pt_BR]=Controle de serviço
Name[sv]=Tjänststyrning
Name[uk]=Точка обслуговування
Name[x-test]=xxService Controlxx
