[Desktop Entry]
Name=Sitting woman
Name[et]=Istuv naine
Name[pt]=Mulher sentada
Name[pt_BR]=Mulher sentada
Name[sv]=Sittande kvinna
Name[uk]=Жінка, що сидить
Name[x-test]=xxSitting womanxx
Name[zh_TW]=坐著的女人
