[Desktop Entry]
Name=Software based server
Name[en_GB]=Software based server
Name[fi]=Ohjelmistoperustainen palvelin
Name[fr]=Software based server
Name[nl]=Op software gebaseerde server
Name[x-test]=xxSoftware based serverxx
