[Desktop Entry]
Name=STB (set top box)
Name[el]=STB (set top box)
Name[et]=STB (teleriboks)
Name[pt]=STB (caixa 'set top')
Name[pt_BR]=STB (set top box - caixa de 'set top')
Name[sv]=Digitalbox
Name[uk]=STB (модуль встановлення)
Name[x-test]=xxSTB (set top box)xx
