[Desktop Entry]
Name=STP
Name[bg]=STP
Name[ca]=STP
Name[ca@valencia]=STP
Name[de]=STP
Name[el]=STP
Name[es]=STP
Name[et]=STP
Name[hu]=STP
Name[it]=STP
Name[kk]=STP
Name[nb]=STP
Name[nds]=STP
Name[nl]=STP
Name[pl]=STP
Name[pt]=STP
Name[pt_BR]=STP
Name[ru]=STP
Name[sk]=STP
Name[sv]=Signalöverföringspunkt
Name[uk]=STP
Name[x-test]=xxSTPxx
Name[zh_CN]=STP
Name[zh_TW]=STP
