[Desktop Entry]
Name=Switch Processor
Name[en_GB]=Switch Processor
Name[fr]=processeur de bascule
Name[nl]=Switch Processor
Name[x-test]=xxSwitch Processorxx
