[Desktop Entry]
Name=Truck
Name[bg]=Камион
Name[ca]=Truck
Name[ca@valencia]=Truck
Name[de]=LKW
Name[el]=Φορτηγό
Name[es]=Camión
Name[et]=Veoauto
Name[it]=Camion
Name[ja]=トラック
Name[kk]=Жүк машина
Name[nb]=Lastebil
Name[nl]=Vrachtwagen
Name[pl]=Ciężarówka
Name[pt]=Camião
Name[pt_BR]=Caminhão
Name[ru]=Грузовик
Name[sk]=Truck
Name[sv]=Lastbil
Name[uk]=Вантажівка
Name[x-test]=xxTruckxx
Name[zh_CN]=卡车
Name[zh_TW]=卡車
