[Desktop Entry]
Name=University
Name[es]=Universidad
Name[et]=Ülikool
Name[nl]=Universiteit
Name[pt]=Universidade
Name[sv]=Universitet
Name[uk]=Університет
Name[x-test]=xxUniversityxx
