[Desktop Entry]
Name=VPN concentrator
Name[et]=VPN kontsentraator
Name[pt]=Concentrador VPN
Name[sv]=Koncentrator för virtuellt privat nätverk
Name[uk]=Концентратор VPN
Name[x-test]=xxVPN concentratorxx
