[Desktop Entry]
Name=Wireless Bridge
Name[el]=Γέφυρα ασύρματης επικοινωνίας
Name[et]=Juhtmeta side sild
Name[nb]=Trådløs bru
Name[nl]=Wireless Bridge
Name[pt]=Ponte Sem-Fios
Name[pt_BR]=Ponte sem fio
Name[sv]=Trådlös brygga
Name[uk]=Бездротовий міст
Name[x-test]=xxWireless Bridgexx
Name[zh_TW]=無線橋接器
