[Desktop Entry]
Name=Wireless router
Name[et]=Juhtmeta side marsruuter
Name[pt]=Encaminhador sem-fios
Name[uk]=Бездротовий маршрутизатор
Name[x-test]=xxWireless routerxx
