[Desktop Entry]
Name=Germany
Name[bg]=Германия
Name[bs]=Njemačka
Name[ca]=Alemanya
Name[ca@valencia]=Alemanya
Name[cs]=Německo
Name[da]=Tyskland
Name[de]=Deutschland
Name[el]=Γερμανία
Name[en_GB]=Germany
Name[eo]=Germanio
Name[es]=Alemania
Name[et]=Saksamaa
Name[eu]=Alemania
Name[fi]=Saksa
Name[fr]=Allemagne
Name[ga]=An Ghearmáin
Name[gl]=Alemaña
Name[he]=גרמניה
Name[hu]=Németország
Name[ia]=Germania
Name[it]=Germania
Name[ja]=ドイツ
Name[ka]=გერმანია
Name[kk]=Германия
Name[ko]=독일
Name[lt]=Vokietija
Name[lv]=Vācija
Name[mr]=जर्मनी
Name[nb]=Tyskland
Name[nds]=Düütschland
Name[nl]=Duitsland
Name[pl]=Niemcy
Name[pt]=Alemanha
Name[pt_BR]=Alemanha
Name[ru]=Германия
Name[se]=Duiska
Name[sk]=Nemecko
Name[sl]=Nemčija
Name[sv]=Tyskland
Name[tr]=Almanya
Name[ug]=گېرمانىيە
Name[uk]=Німеччина
Name[x-test]=xxGermanyxx
Name[zh_CN]=德国
Name[zh_TW]=德國
