[Desktop Entry]
Name=Lebanon
Name[bg]=Ливан
Name[bs]=Liban
Name[ca]=Líban
Name[ca@valencia]=Líban
Name[cs]=Libanon
Name[da]=Libanon
Name[de]=Libanon
Name[el]=Λίβανος
Name[en_GB]=Lebanon
Name[eo]=Libano
Name[es]=Líbano
Name[et]=Liibanon
Name[eu]=Libano
Name[fi]=Libanon
Name[fr]=Liban
Name[ga]=An Liobáin
Name[gl]=Líbano
Name[he]=לבנון
Name[hsb]=Libanon
Name[hu]=Libanon
Name[ia]=Libano
Name[it]=Libano
Name[ja]=レバノン
Name[ka]=ლიბანი
Name[kk]=Ливан
Name[ko]=레바논
Name[lt]=Libanas
Name[lv]=Libāna
Name[mr]=लेबनॉन
Name[nb]=Libanon
Name[nds]=Libanon
Name[nl]=Libanon
Name[pl]=Liban
Name[pt]=Líbano
Name[pt_BR]=Líbano
Name[ru]=Ливан
Name[se]=Libanon
Name[sk]=Libanon
Name[sl]=Libanon
Name[sv]=Libanon
Name[tr]=Lübnan
Name[ug]=لىۋان
Name[uk]=Ліван
Name[x-test]=xxLebanonxx
Name[zh_CN]=黎巴嫩
Name[zh_TW]=黎巴嫩
