[Desktop Entry]
Name=Peru
Name[bg]=Перу
Name[bs]=Peru
Name[ca]=Perú
Name[ca@valencia]=Perú
Name[cs]=Peru
Name[da]=Peru
Name[de]=Peru
Name[el]=Περού
Name[en_GB]=Peru
Name[eo]=Peruo
Name[es]=Perú
Name[et]=Peruu
Name[eu]=Peru
Name[fi]=Peru
Name[fr]=Pérou
Name[ga]=Peiriú
Name[gl]=Perú
Name[he]=פרו
Name[hsb]=Peru
Name[hu]=Peru
Name[ia]=Peru
Name[it]=Peru
Name[ja]=ペルー
Name[ka]=პერუ
Name[kk]=Перу
Name[ko]=페루
Name[lt]=Peru
Name[lv]=Peru
Name[mr]=पेरू
Name[nb]=Peru
Name[nds]=Peru
Name[nl]=Peru
Name[pl]=Peru
Name[pt]=Peru
Name[pt_BR]=Peru
Name[ru]=Перу
Name[se]=Peru
Name[sk]=Peru
Name[sl]=Peru
Name[sv]=Peru
Name[tr]=Peru
Name[ug]=پېرۇ
Name[uk]=Перу
Name[x-test]=xxPeruxx
Name[zh_CN]=秘鲁
Name[zh_TW]=秘魯
