[Desktop Entry]
Name=Vertical Slope
Name[ca]=Desnivell vertical
Name[ca@valencia]=Desnivell vertical
Name[el]=Κάθετη κλίση
Name[es]=Rampa vertical
Name[et]=Vertikaalne kallak
Name[fi]=Pystysuora luiska
Name[hu]=Függőleges lejtő
Name[it]=Pendio verticale
Name[kk]=Тік еңіс
Name[nb]=Loddrett skråning
Name[nl]=Verticale helling
Name[pl]=Pionowa pochyłość
Name[pt]=Rampa Vertical
Name[pt_BR]=Rampa vertical
Name[ru]=Вертикальный склон
Name[sk]=Zvislý svah
Name[sv]=Vertikal backe
Name[uk]=Вертикальний ухил
Name[x-test]=xxVertical Slopexx
Name[zh_TW]=垂直坡
