[Desktop Entry]
Name=Calligra Flowchart & Diagram Editing Component
Name[ca@valencia]=Component d'edició de diagrames de fluxos i diagrames del Calligra
X-KDE-Library=flowpart
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.visio;
Type=Service
X-KDE-ServiceTypes=CalligraPart
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.graphics
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.graphics
X-KDE-ExtraNativeMimeTypes=application/vnd.oasis.opendocument.graphics-template
Categories=Qt;KDE;Office;
GenericName=Flowchart & Diagram
GenericName[ca@valencia]=Editor de diagrames de fluxos i diagrames
Icon=kivio
