[Desktop Entry]
X-KDE-ServiceTypes=Plan/SchedulerPlugin
Type=Service
X-KDE-Library=plantjscheduler

Name=TJ Scheduler
Name[ca@valencia]=Planificador TJ
Comment=The TaskJuggler scheduler
Comment[ca@valencia]=El planificador TakJuggler
