[Desktop Entry]
Type=Link
URL=.source/MenuPlan.kst
Name=Menu Plan
Name[bg]=Меню-лист
Name[ca]=Pla de menú
Name[ca@valencia]=Pla de menú
Name[cs]=Jídelníček
Name[cy]=Cynllun Bwydlen
Name[da]=Menuplan
Name[de]=Menüplan
Name[el]=Σχέδιο μενού
Name[en_GB]=Menu Plan
Name[eo]=Menuplano
Name[es]=Plan de menú
Name[et]=Menüü
Name[eu]=Menu-plana
Name[fa]=طرح گزینگان
Name[fi]=Ruokalistan suunnitelma
Name[fr]=Plan du menu
Name[fy]=Menuplan
Name[gl]=Plano de Comidas
Name[hi]=मेन्यू प्लान
Name[hne]=मेन्यू प्लान
Name[hu]=Menüterv
Name[is]=Matlisti
Name[it]=Menu
Name[ja]=献立表
Name[kk]=Мәзір тізімі
Name[lt]=Meniu planas
Name[ms]=Pelan Menu
Name[nb]=Menyplan
Name[nds]=Spieskoort
Name[ne]=मेनु योजना
Name[nl]=Menuplan
Name[pl]=Plan menu
Name[pt]=Plano de Menu
Name[pt_BR]=Plano de Menu
Name[ru]=Меню
Name[se]=Fálloplána
Name[sk]=Plán menu
Name[sl]=Seznam za meni
Name[sv]=Menyplanering
Name[ta]=பட்டியல் திட்டம்
Name[tg]=Тартиби меню
Name[tr]=Menü Yerleşimi
Name[uk]=План меню
Name[uz]=Taomlar roʻyxati
Name[uz@cyrillic]=Таомлар рўйхати
Name[wa]=Plan del dressêye
Name[x-test]=xxMenu Planxx
Name[zh_CN]=菜单计划
Name[zh_TW]=菜單計畫
Icon=template_menuplan
