[Desktop Entry]
Name=Compose Layer plugin
Name[ca@valencia]=Connector de composició de capa
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritalayercompose
X-Krita-Version=5
