[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Karbon SVGZ Import Filter
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=image/svg+xml-compressed
X-KDE-Weight=1
X-KDE-Library=libkarbonsvgimport
ServiceTypes=KOfficeFilter
