[Desktop Entry]
Name=Terminator
Name[nl]=Terminator
Name[pt]=Terminação
Name[pt_BR]=Terminador
Name[sv]=Avslutning
Name[uk]=Завершення
Name[x-test]=xxTerminatorxx
