[Desktop Entry]
Encoding=UTF-8
Name=Illustration Document...
Name[bg]=Илюстрация...
Name[ca]=Document de dibuixos...
Name[cs]=Ilustrace
Name[cy]=Dogfen Ddarluniad...
Name[da]=Illustrationsdokument...
Name[de]=Illustrations-Dokument ...
Name[el]=Έγγραφο σελιδοποίησης...
Name[es]=Documento de ilustración...
Name[et]=Illustratsioon...
Name[eu]=Irudi-dokumentua...
Name[fi]=Illustrator-asiakirja
Name[fr]=Document d'illustration...
Name[he]=מסמך איור...
Name[hi]=इलस्ट्रेशन दस्तावेज़...
Name[hr]=Ilustracijski dokument...
Name[hu]=KIllustrator-dokumentum...
Name[is]=Illustration skjal...
Name[it]=Illustrazioni...
Name[ja]=Illustration ドキュメント...
Name[km]=ឯកសារ​រូបភាព​លម្អ...
Name[lv]=Ilustrācijas dokuments...
Name[ms]=Dokumen Ilustrasi...
Name[nb]=Illustrasjon ...
Name[nl]=Illustratiedocument...
Name[nn]=Illustrasjon ...
Name[pl]=Ilustracja...
Name[pt]=Documento de Ilustração....
Name[pt_BR]=Documento de Ilustração...
Name[ru]=Векторный рисунок...
Name[se]=Illustrašuvdna …
Name[sk]=Ilustrácia Karbon14...
Name[sl]=Ilustracijski dokument ...
Name[sr]=Илустрациони документ...
Name[sr@Latn]=Ilustracioni dokument...
Name[sv]=Illustrationsdokument...
Name[ta]=விளக்க ஆவணம்
Name[tg]=Ҳуҷҷати тасвирӣ...
Name[tr]=Resim Belgesi...
Name[uk]=Докувент ілюстрації...
Name[wa]=Documint Illustration...
Name[zh_CN]=Illustrator 文档...
Name[zh_TW]=Illustration 文件...
Comment=New Karbon14 document:
Comment[ar]=مُستند Karbon14 جديد:
Comment[bg]=Нов документ на Karbon14:
Comment[br]=Teul Karbon14 nevez :
Comment[ca]=Nou document Karbon14
Comment[cs]=Nový dokument Karbon14:
Comment[cy]=Dogfen newydd Karbon14:
Comment[da]=Nyt Karbon14-dokument:
Comment[de]=Neues Karbon14-Dokument
Comment[el]=Νέο έγγραφο Karbon14:
Comment[es]=Nuevo documento de Karbon14:
Comment[et]=Uus Karbon14 dokument:
Comment[eu]=Karbon14 dokumentu berria:
Comment[fa]=Karbon14 سند جدید:
Comment[fi]=Uusi Karbon14-asiakirja:
Comment[fr]=Nouveau document Karbon14 :
Comment[ga]=Cáipéis nua Karbon14:
Comment[he]=מסמך Karbon14 חדש
Comment[hi]=नया कार्बन14 दस्तावेज:
Comment[hr]=Novi Karbon14 dokument:
Comment[hu]=Új Karbon14-dokumentum:
Comment[is]=Nýtt Karbon14 skjal:
Comment[it]=Nuovo documento Karbon14:
Comment[ja]=Karbon14 ドキュメント
Comment[km]=ឯកសារ Karbon14 ថ្មី ៖
Comment[lv]=Jauns Karbon14 dokuments:
Comment[ms]=Dokumen Karbon 14 Baru:
Comment[nb]=Nytt Karbon14-dokument:
Comment[nl]=Nieuw Karbon14-document:
Comment[nn]=Nytt Karbon14-dokument:
Comment[pl]=Nowy dokument Karbon14:
Comment[pt]=Novo documento do Karbon14:
Comment[pt_BR]=Novo documento do Karbon14
Comment[ru]=Новый рисунок Karbon14:
Comment[se]=Ođđa Karbon14-dokumeanta:
Comment[sk]=Nový dokument Karbon14:
Comment[sl]=Nov dokument za Karbon14
Comment[sr]=Нови Karbon14 документ:
Comment[sr@Latn]=Novi Karbon14 dokument:
Comment[sv]=Nytt Karbon 14-dokument
Comment[ta]=புதிய Karbon14 ஆவணம்
Comment[tg]=Ҳуҷҷати Нав Karbon14:
Comment[tr]=Yeni Karbon14 Belgesi
Comment[uk]=Новий документ Karbon14:
Comment[uz]=Янги Karbon14 ҳужжати:
Comment[wa]=Novea documint Karbon14:
Comment[zh_CN]=新建 Karbon14 文档：
Comment[zh_TW]=新增 Karbon14 文件:
Type=Link
URL=.source/Illustration.karbon
Icon=karbon_karbon
