[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/msword;application/rtf;text/plain;application/x-mswrite;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-works;application/vnd.wordperfect;

Actions=Print;

[Desktop Action Print]
Name=Print with Calligra Words...
Name[bs]=Štampanje sa Calligra Words...
Name[ca]=Imprimeix amb el Calligra Words...
Name[ca@valencia]=Imprimix amb Calligra Words…
Name[cs]=Tisknout pomocí Calligra Words...
Name[da]=Udskriv med Calligra Words...
Name[de]=Drucken mit Calligra Words ...
Name[el]=Εκτύπωση με το Calligra Words...
Name[en_GB]=Print with Calligra Words...
Name[eo]=Presi per Calligra Words...
Name[es]=Imprimir con Calligra Words...
Name[et]=Trükkimine Calligra Wordsiga...
Name[eu]=Calligra Words-en bidez inprimatu...
Name[fi]=Tulosta Calligra Wordsillä…
Name[fr]=Imprimer avec Calligra Words...
Name[gl]=Imprimir con Calligra Words…
Name[he]=הדפסה עם Calligra מילים…
Name[hu]=Nyomtatás a Calligra Words-szel…
Name[ia]=Imprime con Calligra Words...
Name[it]=Stampa con Calligra Words...
Name[ja]=Calligra Words で印刷...
Name[ka]=Calligra Words-ით დაბეჭდვა...
Name[kk]=Calligra Words-пен басып шығару
Name[ko]=Calligra Words로 인쇄...
Name[lv]=Drukāt ar „Calligra Words“...
Name[nb]=Skriv ut med Calligra Words …
Name[nl]=Met Calligra Words afdrukken
Name[nn]=Skriv ut med Calligra Words …
Name[pl]=Drukuj ze Słowami Calligra...
Name[pt]=Imprimir com o Calligra Words...
Name[pt_BR]=Imprimir com o Calligra Words...
Name[ru]=Печать в Calligra Words...
Name[sk]=Tlačiť pomocou Calligra Words...
Name[sl]=Natisni s Calligra Words ...
Name[sv]=Skriv ut med Calligra Words...
Name[tr]=Calligra Sözcükler ile Yazdır...
Name[uk]=Надрукувати за допомогою Calligra Words…
Name[x-test]=xxPrint with Calligra Words...xx
Name[zh_CN]=使用 Calligra Words 打印...
Name[zh_TW]=用 Calligra Words 列印…

Exec=calligrawords --print %U
Icon=document-print
