[Desktop Entry]
Name=aircooler
Name[bs]=hladnjak zraka
Name[ca]=refrigerador d'aire
Name[ca@valencia]=refrigerador d'aire
Name[da]=luftkøler
Name[de]=Kühlschlange
Name[el]=aircooler
Name[en_GB]=aircooler
Name[eo]=aermalvarmigilo
Name[es]=refrigerador por aire
Name[et]=Õhujahuti
Name[eu]=aire-hozkailua
Name[fr]=Ventirad
Name[gl]=Refrixerador
Name[hu]=léghűtő
Name[it]=raffreddamento-ad-aria
Name[ja]=空気冷却器
Name[ka]=ჰაერის ვენტილატორი
Name[kk]=Ауа салқындатқышы
Name[ko]=aircooler
Name[lv]=gaisa dzesētājs
Name[nb]=luftkjøler
Name[nl]=luchtkoeler
Name[pl]=chłodnica powietrza
Name[pt]=arrefecimento
Name[pt_BR]=arrefecimento
Name[ru]=Воздушный вентилятор
Name[sk]=vzduchový chladič
Name[sl]=hladilnikzraka
Name[sv]=luftkylare
Name[tr]=havatazeleyici
Name[uk]=Охолоджувач повітря
Name[x-test]=xxaircoolerxx
Name[zh_TW]=aircooler
