[Desktop Entry]
Name=compr
Name[bs]=compr
Name[ca]=compr
Name[ca@valencia]=compr
Name[da]=kompressor
Name[de]=Kompressor
Name[el]=compr
Name[en_GB]=compr
Name[eo]=kompr
Name[es]=compresor
Name[et]=Kompressor
Name[eu]=konpresorea
Name[fr]=compr
Name[gl]=Compresor
Name[it]=compr
Name[ka]=კომპრესორი
Name[kk]=Компрессор
Name[ko]=compr
Name[lv]=kompresors
Name[nb]=kompr
Name[nl]=compr
Name[pl]=compr
Name[pt]=compr
Name[pt_BR]=compressor
Name[ru]=Компрессор
Name[sk]=compr
Name[sl]=kompr
Name[sv]=kompressor
Name[tr]=kompresör
Name[uk]=Компресор або турбіна
Name[x-test]=xxcomprxx
Name[zh_TW]=compr
