[Desktop Entry]
Name=fluidcont
Name[bs]=nastavak tekućine
Name[ca]=fluid continu
Name[ca@valencia]=fluid continu
Name[da]=væskebeholder
Name[de]=Flüssigkeits-Kontaktbehälter
Name[el]=fluidcont
Name[en_GB]=fluidcont
Name[eo]=fluidcont
Name[es]=contenedor de fluidos
Name[et]=Vedelikumahuti
Name[eu]=fluido-edukiontzia
Name[fr]=fluidcont
Name[gl]=Vaso de contacto de fluídos
Name[it]=fluidcont
Name[ja]=流体
Name[ka]=უბრალო ჭურჭელი სითხისთვის
Name[kk]=Сұйыққойма
Name[ko]=fluidcont
Name[lv]=šķidruma tvertne
Name[nb]=væskebeholder
Name[nl]=vloeistofvat
Name[pl]=kontener na płyn
Name[pt]=contentor-fluido
Name[pt_BR]=contentor de fluido
Name[ru]=Сосуд для жидкости, простой
Name[sk]=fluidcont
Name[sl]=tekočavseb
Name[sv]=vätskebehållare
Name[tr]=sıvı teması tankı
Name[uk]=Проста посудина для рідини
Name[x-test]=xxfluidcontxx
Name[zh_TW]=fluidcont
