[Desktop Entry]
Name=recipr
Name[bs]=recipr
Name[ca]=recipr
Name[ca@valencia]=recipr
Name[da]=recipr
Name[de]=Kolbenkompressor
Name[el]=recipr
Name[en_GB]=recipr
Name[eo]=recepto
Name[es]=recíproco
Name[et]=Kolbpump
Name[eu]=pistoizkoa
Name[fr]=recipr
Name[gl]=Compresor recíproco
Name[it]=recipr
Name[ka]=ურთიერთი
Name[kk]=Мікбасты сорғыш
Name[ko]=recipr
Name[lv]=reciproks
Name[nb]=stempl
Name[nl]=recipr
Name[pl]=recipr
Name[pt]=recipr
Name[pt_BR]=recipr
Name[ru]=Взаимный
Name[sk]=recipr
Name[sl]=recipročen
Name[sv]=kolv
Name[tr]=pistonlu komprasör
Name[uk]=Поршневий компресор або насос
Name[x-test]=xxreciprxx
Name[zh_TW]=recipr
