[Desktop Entry]
Name=val
Name[bs]=val
Name[ca]=val
Name[ca@valencia]=val
Name[da]=val
Name[de]=Ventil
Name[el]=val
Name[en_GB]=val
Name[eo]=val
Name[es]=válvula
Name[et]=Ventiil
Name[eu]=balbula
Name[fr]=val
Name[gl]=Válvula horizontal
Name[it]=val
Name[ka]=სარქველი
Name[kk]=Шұра
Name[ko]=val
Name[lv]=vārsts
Name[nb]=ventil
Name[nl]=val
Name[pl]=val
Name[pt]=val
Name[pt_BR]=val
Name[ru]=Клапан
Name[sk]=val
Name[sl]=vred
Name[sv]=ventil
Name[tr]=valf
Name[uk]=Клапан
Name[x-test]=xxvalxx
Name[zh_CN]=val
Name[zh_TW]=val
