[Desktop Entry]
Name=Color Filters
Name[ca@valencia]=Filtres de color
Comment=Color filters
Comment[ca@valencia]=Filtres de color
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritacolorsfilters
X-Krita-Version=5
