[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Krita PNG Export Filter
Name[bg]=Филтър за експорт от Krita в PNG
Name[br]=Sil ezporzh PNG evit Krita
Name[ca]=Filtre d'exportació PNG per a Krita
Name[da]=Krita PNG-eksportfilter
Name[de]=Krita PNG-Exportfilter
Name[es]=Filtro de exportación a PNG de Krita
Name[et]=Krita PNG ekspordifilter
Name[ga]=Scagaire Easpórtála PNG Krita
Name[is]=Krita PNG útflutningssía
Name[it]=Filtro di esportazione PNG per Krita
Name[ja]=Krita PNG エクスポートフィルター
Name[nl]=Krita PNG Exportfilter
Name[pt]=Filtro de Exportação de PNG para o Krita
Name[pt_BR]=Filtro de Exportação de PNG para o Krita
Name[sr]=Krita-ин филтер за извоз у PNG
Name[sr@Latn]=Krita-in filter za izvoz u PNG
Name[sv]=Krita PNG-exportfilter
Name[uk]=Фільтр експорту PNG для Krita
Name[xx]=xxKrita PNG Export Filterxx
Name[zh_CN]=Krita PNG 导出过滤器
ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/jpeg
X-KDE-Import=application/x-krita
X-KDE-Library=libkritajpegexport
X-KDE-Weight=1
