[Desktop Entry]
Type=Service
Name=KSpread Document Encryption Layer
Name[af]=KSPREAD DOKUMENT ENKRIPSIE LAAG
Name[az]=KSpread Sənəd Şifrləmə Layı
Name[bg]=Слой за шифроване на документа на KSpread
Name[cs]=Šifrovací vrstva dokumentu KSpread
Name[da]=KSpread Dokument Krypterings Lag
Name[de]=KSpread-Dokument-Verschlüsselung
Name[eo]=Dokumentĉifrilo por Tabelkalkulilo
Name[es]=Capa de encriptación de documentos de KSpread
Name[et]=KSpreadi dokumendi krüpteerimine
Name[fi]=KSpread dokumentin salauskerros
Name[fr]=Module de cryptage de document de kSpread
Name[he]=KSpread יכמסמ תנפצה תבכש
Name[hu]=KSpread dokumentumtitkosítási réteg
Name[is]=Dulkóðunareining KSpread skjala
Name[it]=Layer per la cifratura dei documenti di KSpread
Name[ja]=KSpread ドキュメント暗号化レイヤー
Name[lt]=KSpread dokumentų užšifravimo sluoksnis
Name[lv]=KSpread Dokumenta Šifrēšanas Slānis
Name[mt]=Strat ta' Ċifrazzjoni ta' Dokumenti KSpread
Name[nl]=KSpread Document Encryptie Laag
Name[no_NY]=Krypteringslag for KSpread-dokument
Name[pl]=Warstwa kodująca dokumentu KSpreada
Name[pt_BR]=Camada de Cifra de Documentos do KSpread
Name[pt]=Camada de Cifra de Documentos do KSpread
Name[ru]=Слой шифрования документа KSpread
Name[sk]=Šifrovacia vrstva dokumentu KSpread
Name[sl]=Raven kriptiranja dokumentov za KSpread
Name[sv]=Krypteringslager för Kspread-dokument
Name[tr]=KSpread Belge Şifreleme Katmanı
Name[uk]=Шар кодування документу KSpread
Name[vi]=Tầng mã khoá các văn bản KSpread 
Name[zh_CN.GB2312]=KSpread 文档加密层
Export=application/x-kspread-crypt
Import=application/x-kspread
Implemented=file
X-KDE-Library=libkocryptexport
ServiceTypes=KOfficeFilter
