[Desktop Entry]
Name=Organisation Unit
Name[ca]=Unitat d'organització
Name[ca@valencia]=Unitat d'organització
Name[el]=Μονάδα οργανισμού
Name[es]=Unidad de organización
Name[et]=Organisatsiooniüksus
Name[fr]=Unité d'organisation
Name[it]=Unità organizzativa
Name[kk]=Ұйым бірлігі
Name[nb]=Organisasjonsenhet
Name[nl]=Organisatie-eenheid
Name[pl]=Jednostka organizacyjna
Name[pt]=Unidade Organizacional
Name[pt_BR]=Unidade organizacional
Name[ru]=Организационный блок
Name[sk]=Organizačná jednotka
Name[sv]=Organisationsenhet
Name[uk]=Модуль впорядкування
Name[x-test]=xxOrganisation Unitxx
Name[zh_TW]=組織單位
