[Desktop Entry]
Name=XOR Operator
Name[ca]=Operador XOR
Name[de]=XOR-Operator
Name[el]=Τελεστής XOR
Name[it]=Operatore XOR
Name[nb]=XOR-operator
Name[nl]=Operator XOR
Name[pl]=Operator XOR
Name[pt]=Operador XOR
Name[pt_BR]=Operador XOR
Name[sv]=XOR-operator
Name[uk]=Оператор виключного «АБО»
Name[x-test]=xxXOR Operatorxx
Name[zh_TW]=XOR 操作元
