[Desktop Entry]
Name=Calligra Formula Component
Name[ca@valencia]=Component de fórmules del Calligra
X-KDE-Library=kformulapart
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.formula-template;application/x-kformula;text/mathml;
Type=Service
X-KDE-ServiceTypes=CalligraPart
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.formula
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.formula
X-KDE-ExtraNativeMimeTypes=application/x-kformula,application/vnd.oasis.opendocument.formula-template,text/mathml
GenericName=Formula Editor
GenericName[ca@valencia]=Editor de fórmules
Icon=kformula
