[Desktop Entry]
Name=Location server
Name[bs]=Mjesni server
Name[ca]=Servidor de localització
Name[ca@valencia]=Servidor d'ubicació
Name[da]=Location server
Name[de]=Vorort-Server
Name[el]=Εξυπηρετητής τοποθεσίας
Name[en_GB]=Location server
Name[eo]=Loka servilo
Name[es]=Servidor de comunicaciones
Name[et]=Asukohaserver
Name[eu]=Kokaleku-zerbitzaria
Name[fr]=Emplacement du serveur
Name[gl]=Servidor de localización
Name[hu]=Hely-kiszolgáló
Name[it]=Location server
Name[ja]=ロケーションサーバ
Name[ka]=მდებარეობის სერვერი
Name[kk]=Орналасу сервері
Name[ko]=위치 서버
Name[lt]=Adresavimo serveris
Name[lv]=Atrašanās vietas serveris
Name[nb]=Lokasjonstjener
Name[nl]=Locatieserver
Name[pl]=Serwer położenia
Name[pt]=Servidor de localização
Name[pt_BR]=Servidor de localização
Name[ru]=Сервер расположения
Name[sk]=Server umiestnenia
Name[sl]=Krajevni strežnik
Name[sv]=Platsserver
Name[tr]=Konum sunucusu
Name[uk]=Сервер розташування
Name[x-test]=xxLocation serverxx
Name[zh_CN]=位置服务器
Name[zh_TW]=位置伺服器
