[Desktop Entry]
Name=Router with Firewall
Name[bg]=Маршрутизатор със защитна стена
Name[bs]=Ruter sa Firewall-om
Name[ca]=Encaminador amb tallafoc
Name[ca@valencia]=Encaminador amb tallafoc
Name[cs]=Router s firewallem
Name[da]=Router med firewall
Name[de]=Router mit Firewall
Name[el]=Δρομολογητής με τείχος προστασίας
Name[en_GB]=Router with Firewall
Name[eo]=Enkursigilo kun fajroŝirmilo
Name[es]=Enrutador con cortafuegos
Name[et]=Tulemüüriga ruuter
Name[eu]=Bideratzaile suebakiduna
Name[fi]=Reititin palomuurilla
Name[fr]=Routeur avec pare-feu
Name[gl]=Encamiñador con devasa
Name[hu]=Router tűzfallal
Name[it]=Router con firewall
Name[ja]=ルータとファイアウォール
Name[ka]=რაუტერი ბრანდმაუერით
Name[kk]=Маршруттауыш желіаралық қалқанымен
Name[ko]=라우터(방화벽 포함)
Name[lt]=Maršrutizatorius su ugniasiene
Name[lv]=Maršrutētājs ar ugunsmūri
Name[nb]=Ruter med brannmur
Name[nds]=Nettweger mit Nettdiek
Name[nl]=Router met firewall
Name[pl]=Router z zaporą ogniową
Name[pt]=Encaminhador com 'Firewall'
Name[pt_BR]=Roteador com Firewall
Name[ru]=Маршрутизатор с защитным сетевым экраном
Name[sk]=Router s firewallom
Name[sl]=Usmerjevalnik s požarnim zidom
Name[sv]=Router med brandvägg
Name[tr]=Güvenlik Duvarlı Yönlendirici
Name[uk]=Маршрутизатор з брандмауером
Name[x-test]=xxRouter with Firewallxx
Name[zh_CN]=带防火墙的路由器
Name[zh_TW]=含防火牆的路由器
