[Desktop Entry]
Name=Router subdued
Name[bs]=Podčinjeni ruter
Name[ca]=Encaminador suavitzat
Name[ca@valencia]=Encaminador suavitzat
Name[da]=Router nedtonet
Name[de]=Router (inaktiv)
Name[el]=Δρομολογητής υποτονικός
Name[en_GB]=Router subdued
Name[eo]=Enkursigilo subigita
Name[es]=Enrutador poco activo
Name[et]=Toonita marsruuter
Name[eu]=Bideratzaile argia
Name[fr]=Routeur modéré
Name[gl]=Encamiñador controlado
Name[it]=Router attenuato
Name[ja]=ルータ(灰色)
Name[ka]=რაუტერი დაწოლილი
Name[kk]=Басыңқы маршруттауыш
Name[ko]=저채도 라우터
Name[lt]=Maršrutizatorius (blankus)
Name[lv]=Maršrutētājs, pakļauts
Name[nb]=Ruter dempet
Name[nl]=Ondergeschikte router
Name[pl]=Router podległy
Name[pt]=Encaminhador ultrapassado
Name[pt_BR]=Roteador ultrapassado
Name[ru]=Маршрутизатор приглушённый
Name[sk]=Router tlmený
Name[sl]=Usmerjevalnik, nepoudarjen
Name[sv]=Router diskret
Name[tr]=Yönlendirici bastırılmış
Name[uk]=Маршрутизатор (притлумлено)
Name[x-test]=xxRouter subduedxx
Name[zh_CN]=路由器(柔和)
Name[zh_TW]=Router subdued
