[Desktop Entry]
Name=Running man subdued
Name[bs]=Podčinjeni čovjek koji trči
Name[ca]=Home corrent suavitzat
Name[ca@valencia]=Home corrent suavitzat
Name[da]=Løbende mand nedtonet
Name[de]=Laufender Mann (inaktiv)
Name[el]=Running man subdued
Name[en_GB]=Running man subdued
Name[eo]=Kuranta viro subigita
Name[es]=Hombre corriendo poco activo
Name[et]=Toonita jooksev mees
Name[eu]=Gizon argia korrika
Name[fr]=Homme courant modéré
Name[gl]=Home correndo controlado
Name[it]=Uomo che corre attenuato
Name[ja]=走っている男性(灰色)
Name[ka]=მორბენალი კაცი, დაწოლილი
Name[kk]=Басыңқы жүгіруші
Name[ko]=저채도 뛰는 남성
Name[lt]=Bėgantis žmogus (blankus)
Name[lv]=Skrienošs vīrietis, pakļauts
Name[nb]=Løpende mann dempet
Name[nl]=Rennende man ondergeschikt
Name[pl]=Uruchomiony mężczyzna podległy
Name[pt]=Homem a correr ultrapassado
Name[pt_BR]=Homem correndo ultrapassado
Name[ru]=Бегущий человек приглушённый
Name[sk]=Bežiaci človek tlmený
Name[sl]=Tekač, neizrazit
Name[sv]=Springande man diskret
Name[tr]=Bastırılmış koşan adam
Name[uk]=Жінка, що біжить (притлумлено)
Name[x-test]=xxRunning man subduedxx
Name[zh_CN]=奔跑的男性(柔和)
Name[zh_TW]=Running man subdued
