[Desktop Entry]
Name=Running man
Name[bg]=Тичащ мъж
Name[bs]=Čovjek koji trči
Name[ca]=Home corrent
Name[ca@valencia]=Home corrent
Name[da]=Løbende mand
Name[de]=Laufender Mann
Name[el]=Running man
Name[en_GB]=Running man
Name[eo]=Kuranta viro
Name[es]=Hombre corriendo
Name[et]=Jooksev mees
Name[eu]=Gizona korrika
Name[fr]=Homme courant
Name[gl]=Home correndo
Name[hu]=Futó ember
Name[it]=Uomo che corre
Name[ja]=走っている男性
Name[ka]=მორბენალი კაცი
Name[kk]=Жүгіруші
Name[ko]=뛰는 남성
Name[lt]=Bėgantis žmogus
Name[lv]=Skrienošs vīrietis
Name[nb]=Løpende mann
Name[nds]=Lopen Mann
Name[nl]=Rennende man
Name[pl]=Uruchomiony mężczyzna
Name[pt]=Homem a correr
Name[pt_BR]=Homem correndo
Name[ru]=Бегущий человек
Name[sk]=Bežiaci muž
Name[sl]=Moški, ki teče
Name[sv]=Springande man
Name[tr]=Koşan adam
Name[uk]=Чоловік, що біжить
Name[x-test]=xxRunning manxx
Name[zh_CN]=奔跑的男性
Name[zh_TW]=跑步的男人
