[Desktop Entry]
Name=Small hub
Name[bg]=Малък хъб
Name[bs]=Malo središte
Name[ca]=Petit concentrador
Name[ca@valencia]=Xicotet concentrador
Name[da]=Lille hub
Name[de]=Kleiner Hub
Name[el]=Μικρός αναμεταδότης
Name[en_GB]=Small hub
Name[eo]=Malgranda nabo
Name[es]=Concentrador pequeño
Name[et]=Väike jaotur
Name[eu]=Kontzentragailu txikia
Name[fi]=Pieni keskitin
Name[fr]=Petit concentrateur
Name[gl]=Hub pequeno
Name[hu]=Kis méretű hub
Name[it]=Hub piccolo
Name[ja]=スモールハブ
Name[ka]=პატარა კონცენტრატორი
Name[kk]=Кіші хаб
Name[lt]=Nedidelis šakotuvas
Name[lv]=Mazs centrmezgls
Name[nb]=Lite nettnav
Name[nds]=Lütt Nettknütt
Name[nl]=Kleine hub
Name[pl]=Mały hub
Name[pt]=Concentrador pequeno
Name[pt_BR]=Concentrador pequeno
Name[ru]=Маленький повторитель
Name[sk]=Malý hub
Name[sl]=Majhno vozlišče
Name[sv]=Litet nätnav
Name[tr]=Küçük hub
Name[uk]=Маленький концентратор
Name[x-test]=xxSmall hubxx
Name[zh_CN]=小集线器
Name[zh_TW]=小型集線器
