[Desktop Entry]
Name=TDM router
Name[bg]=Маршрутизатор TDM
Name[bs]=TDM ruter
Name[ca]=Encaminador TDM
Name[ca@valencia]=Encaminador TDM
Name[cs]=TDM router
Name[da]=TDM-router
Name[de]=TDM-Router
Name[el]=Δρομολογητής TDM
Name[en_GB]=TDM router
Name[eo]=TDM-enkursigilo
Name[es]=Encaminador TDM
Name[et]=TDM ruuter
Name[eu]=TDM bideratzailea
Name[fi]=TDM-reititin
Name[fr]=Routeur TDM
Name[gl]=Encamiñador TDM
Name[hu]=TDM router
Name[it]=Router TDM
Name[ka]=TDM რაუტერი
Name[kk]=TDM маршруттауышы
Name[ko]=TDM 라우터
Name[lt]=TDM maršrutizatorius
Name[lv]=TDM maršrutētājs
Name[nb]=TDM-ruter
Name[nds]=TDM-Nettweger
Name[nl]=TDM router:
Name[pl]=Router TDM
Name[pt]=Encaminhador TDM
Name[pt_BR]=Roteador TDM
Name[ru]=Маршрутизатор TDM
Name[sk]=TDM router
Name[sl]=Usmerjevalnik TDM
Name[sv]=Tidsdelningsmultiplexrouter
Name[tr]=TDM yönlendirici
Name[uk]=Маршрутизатор TDM
Name[x-test]=xxTDM routerxx
Name[zh_CN]=TDM 路由器
Name[zh_TW]=TDM 路由器
