[Desktop Entry]
Name=Telecommuter house
Name[bg]=Отдалечено работно място
Name[bs]=Kuća telekomjutera
Name[ca]=Estació del telecommutador
Name[ca@valencia]=Estació del telecommutador
Name[da]=Hjemmearbejder
Name[de]=Telearbeiter-Haus
Name[el]=Telecommuter house
Name[en_GB]=Telecommuter house
Name[eo]=Telecommutant domo
Name[es]=Casa de teleconmutación
Name[et]=Telekommunikatsioonihoone
Name[eu]=Telekommutadore-etxea
Name[fi]=Etätyöntekijän talo
Name[fr]=Plateau de télétravail
Name[gl]=Casa do traballador desde casa
Name[hu]=Telecommuter-ház
Name[it]=Telecommutatore casa
Name[ka]=კურიერის სახლი
Name[kk]=Үйдегі компьютер
Name[lt]=Nutolusio darbuotojo namas
Name[lv]=Tāldarbinieka māja
Name[nb]=Telependler-hus
Name[nds]=Telewerker-Huus
Name[nl]=Telewerker thuis
Name[pl]=Dom pracownika zdalnego
Name[pt]=Alojamento Tele-comutador
Name[pt_BR]=Casa de telecomutador
Name[ru]=Телекоммуникационное здание
Name[sk]=Telekomunikačná budova
Name[sl]=Hiša delavca na daljavo
Name[sv]=Telependlarhus
Name[tr]=Telefonla çalışan evi
Name[uk]=Будинок надомника
Name[x-test]=xxTelecommuter housexx
Name[zh_CN]=远程工作者之家
Name[zh_TW]=電子通勤族房子
