# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kudesigner
Icon=kudesigner
DocPath=kugar/index.html
Terminal=0
Name=Kugar Designer
Name[af]=kugar ontwerper
Name[de]=Kugar-Designer
Name[es]=Diseñador Kugar
Name[ja]=Kugar デザイナー
Name[sl]=Snovalnik Kugar
Name[sv]=Kugar designer
Name[uk]=Дизайнер Kugar
Name[zh_TW]=Kugar 設計家
Comment=Report Designer
Comment[af]=raporteer ontwerper
Comment[bs]=Dizajner izvještaja
Comment[cs]=Návrhář reportů
Comment[da]=Rapportdesigner
Comment[de]=Report-Designer
Comment[es]=Diseñador de informes
Comment[fi]=Raporttisuunittelija
Comment[he]=מעצב דו"חות
Comment[hu]=jelentéskészítő
Comment[it]=Progettazione di rapporti
Comment[ja]=レポートデザイナー
Comment[pt]=Desenhador de Relatórios
Comment[pt_BR]=Gerador de Relatórios
Comment[sl]=Snovalnik poročil
Comment[sv]=Rapportdesign
Comment[th]=ตัวออกแบบรายงาน
Comment[uk]=Генератор звітів
Comment[zh_TW]=簡報設計家
MimeType=application/x-kudesigner
X-KDE-NativeMimeType=application/x-kudesigner
