# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kudesigner %u
Icon=kudesigner
DocPath=kugar/index.html
Terminal=false
Name=Kugar Designer
Name[el]=Σχεδιαστής Kugar
Name[fr]=Concepteur Kugar
Name[ja]=Kugar デザイナー
Name[x-test]=xxKugar Designerxx
GenericName=Report Template
GenericName[el]=Πρότυπο αναφοράς
GenericName[fr]=Modèle de rapport
GenericName[ja]=レポート テンプレート
GenericName[x-test]=xxReport Templatexx
Comment=Report Designer
Comment[el]=Σχεδιαστής αναφορών
Comment[fr]=Générateur de rapports
Comment[ja]=レポートデザイナー
Comment[x-test]=xxReport Designerxx
MimeType=application/x-kudesigner
X-KDE-NativeMimeType=application/x-kudesigner
X-KDE-Library=libkudesignerpart
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart

Categories=Qt;KDE;Office;X-KDE-More;
