[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-sqlite2
Icon=
Patterns=
Comment=SQLite2 Database File
Comment[da]=SQLite2 databasefil
Comment[el]=Αρχείο βάσης δεδομένων SQLite2
Comment[es]=Archivo de base de datos SQLite2
Comment[et]=SQLite2 andmebaasi fail
Comment[fr]=Fichier de base de données SQLite2
Comment[hu]=SQLite2-adatbázisfájl
Comment[it]=File di banca dati SQLite2
Comment[sv]=SQLite2-databasfil
Comment[zh_CN]=SQLite2 数据库文件
