[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Krita TIFF Import Filter
Name[fr]=Filtre d'importation TIFF de Krita
Name[x-test]=xxKrita TIFF Import Filterxx
ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/tiff
X-KDE-Library=libkritatiffimport
X-KDE-Weight=1
