[Desktop Entry]
Encoding=UTF-8
Comment=OpenOffice.org Spreadsheet
Comment[bg]=Таблица на OpenOffice.org
Comment[ca]=Full de càlcul OpenOffice.org
Comment[cs]=Tabulka OpenOffice.org
Comment[da]=OpenOffice.org-regneark
Comment[de]=OpenOffice.org-Kalkulationstabelle
Comment[el]=Λογιστικό φύλλο του OpenOffice.org
Comment[es]=Hoja de cálculo de OpenOffice.org
Comment[et]=OpenOffice.org tabelarvutus
Comment[fa]=OpenOffice.org صفحه گسترده برای
Comment[fi]=OpenOffice.org taulukkolaskenta-asiakirja
Comment[fr]=Tableur OpenOffice.org
Comment[hu]=OpenOffice.org munkafüzet
Comment[it]=Foglio di calcolo OpenOffice.org
Comment[nb]=OpenOffice.org-regneark
Comment[nl]=OpenOffice.org-spreadsheet
Comment[nn]=OpenOffice.org-rekneark
Comment[pt]=Folha de Cálculo do OpenOffice.org
Comment[pt_BR]=Planilha OpenOffice.org
Comment[ru]=Электронная таблица OpenOffice.org
Comment[se]=OpenOffice.org rehkenastinárka
Comment[sk]=Tabuľka OpenOffice.org
Comment[sl]=Preglednica za OpenOffice.org
Comment[sr]=OpenOffice.org прорачунски лист
Comment[sv]=Openoffice.org kalkylark
Comment[tg]=Варақи Масофати OpenOffice.org
Comment[tr]=Openoffice.org Hesap Tablosu
Comment[uz]=OpenOffice.org электрон жадвали
Comment[zh_CN]=OpenOffice.org 工作簿
Icon=004_spreadsheet_document.xpm
Type=MimeType
Patterns=*.sxc;*.SXC;
MimeType=application/vnd.sun.xml.calc
[Property::X-KDE-NativeExtension]
Type=QString
Value=.sxc
