[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-magicpoint
Patterns=*.mgp;*.MGP;
Comment=Magicpoint Presentation
Comment[bg]=Презентация на Magicpoint
Comment[da]=Magicpoint-præsentation
Comment[es]=Presentación de Magicpoint
Comment[et]=Magicpointi presentatsioon
Comment[fr]=Présentation Magicpoint
Comment[hu]=Magicpoint bemutató
Comment[it]=Presentazione Magicpoint
Comment[nb]=Magicpoint-presentasjon
Comment[pl]=Prezentacja Magicpointa
Comment[pt]=Apresentação do Magicpoint
Comment[pt_BR]=Apresentação Magicpoint
Comment[ru]=Презентация Magicpoint
Comment[sk]=Magicpoint prezentácia
Comment[sr]=Magicpoint prezentacije
Comment[sv]=Magicpoint presentation
Comment[xh]=Isiboniso se Magicpoint
Comment[zh_CN]=Magicpoint 展示
