[Desktop Entry]
Name=General Monitor (With Stand)
Name[bg]=Обикновен монитор (със стойка)
Name[bs]=Opći Monitor (sa postoljem)
Name[ca]=Monitor general (amb Stand)
Name[ca@valencia]=Monitor general (amb Stand)
Name[da]=Generel monitor (med fod)
Name[de]=Monitor (mit Ständer)
Name[el]=Οθόνη γενικής χρήσης (με βάση)
Name[en_GB]=General Monitor (With Stand)
Name[eo]=Ĝenerala Monitoro (Kun Stando)
Name[es]=Monitor general (con base de apoyo)
Name[et]=Tavaline monitor (jalaga)
Name[eu]=Monitorea (euskarriduna)
Name[fi]=Yleinen näyttö (jalustalla)
Name[fr]=Moniteur standard (Avec pied)
Name[gl]=Monitor xeral (cun pé)
Name[hu]=Általános monitor (állvánnyal)
Name[it]=Monitor generico (con base)
Name[ka]=ჩვეულებრივი მონიტორი (სტენდით)
Name[kk]=Жалпы монитор (тұғырда)
Name[ko]=일반 모니터(스탠드 있음)
Name[lv]=Vispārīgs monitors (ar stendu)
Name[nb]=Generell skjerm (med stativ)
Name[nl]=Algemene monitor (met standaard)
Name[pl]=Ogólny Monitor (Ze stojakiem)
Name[pt]=Monitor Geral (com Pé)
Name[pt_BR]=Monitor genérico (com pé)
Name[ru]=Монитор с подставкой
Name[sk]=Všeobecný monitor (so stojanom)
Name[sl]=Splošni zaslon (s podstavkom)
Name[sv]=Allmän bildskärm (med fot)
Name[tr]=Genel Monitör (Ayaklı)
Name[uk]=Типовий монітор (з підставкою)
Name[x-test]=xxGeneral Monitor (With Stand)xx
Name[zh_TW]=一般監視器（含架）
