[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KWord MS Word Import Filter
Name[ar]=مِرْشَح استيراد MS Word لدى KWord
Name[bg]=Филтър за импорт от MS Word в KWord
Name[br]=Sil enporzh MS Word evit KWord
Name[ca]=Filtre d'importació MS Word per a KWord
Name[cs]=Importní filtr formátu MS Word pro KWord
Name[cy]=Hidlen Fewnforio MS Word KWord 
Name[da]=KWord MS-Word-importfilter
Name[de]=KWord Microsoft Word-Importfilter
Name[el]=Φίλτρο εισαγωγής MS Word του KWord
Name[es]=Filtro de importación a MS Word de KWord
Name[et]=KWordi MS Word'i impordifilter
Name[eu]=KWord-en MS Word inportaziorako iragazkia
Name[fa]=KWord برای MS Word صافی صدور
Name[fi]=KWord MS Word -tuontisuodin
Name[fr]=Filtre d'importation MS Word de KWord
Name[ga]=Scagaire Iompórtála MS Word le haghaidh KWord
Name[he]=מסנן ייבוא מ־MS Word ל־KWord
Name[hi]=के-वर्ड एमएस वर्ड आयात छननी
Name[hu]=KWord MS Word importszűrő
Name[is]=KWord MS Word innflutningssía
Name[it]=Filtro di importazione MS Word per KWord
Name[ja]=KWord MS Word インポートフィルタ
Name[km]=តម្រង​នាំចូល MS Word សម្រាប់ KWord
Name[lo]= ຕົວຕອງການນຳເຂົ້າ AbiWord ຂອງເອກະສານຂໍ້ຄວາມ K
Name[lv]=KWord MS Word importa filtrs
Name[ms]=Penapis Import KWord MS Word
Name[nb]=MSWord-importfilter for KWord
Name[nl]=KWord MS Word Importfilter
Name[nn]=MS Word-importfilter for KWord
Name[pl]=Filtr importu z formatu MS Word do KWord
Name[pt]=Filtro de Importação de MS Word para o KWord
Name[pt_BR]=Filtro de Importação MS Word para o KWord
Name[ru]=Фильтр импорта документов MS Word в KWord
Name[se]=KWord:a MS Word-sisafievrridansilli
Name[sk]=MS Word filter pre import do KWord-u
Name[sl]=Uvozni filter MS Word za KWord
Name[sr]=KWord-ов филтер за увоз из MS Word-а
Name[sr@Latn]=KWord-ov filter za uvoz iz MS Word-a
Name[sv]=Kword-importfilter för MS Word
Name[ta]=KWord MS word இறக்குமதி வடிகட்டி
Name[tg]=Филтри Воридоти KWord MS Word
Name[tr]=KWord MS Word Alma Filtresi
Name[uk]=Фільтр імпорту MS Word для KWord
Name[uz]=KWord MS Word импорт филтери
Name[wa]=Passete MS-Word d' intrêye po KWord
Name[xh]=Isihluzi Sokurhweba se KWord AbiWord
Name[zh_CN]=KWord MS Word 导入过滤器
Name[zh_TW]=KWord MS Word 匯入過濾程式
X-KDE-Export=application/x-kword
X-KDE-Import=application/msword
X-KDE-Weight=1
X-KDE-Library=libmswordimport
ServiceTypes=KOfficeFilter
