[Desktop Entry]
Encoding=UTF-8
Name=KOffice Spreadsheet Component
Name[x-test]=xxKOffice Spreadsheet Componentxx
X-KDE-Library=libkspreadpart
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;application/x-kspread;application/msexcel;text/x-csv;application/x-quattropro
Type=Service
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.spreadsheet
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.spreadsheet
X-KDE-ExtraNativeMimeTypes=application/vnd.oasis.opendocument.spreadsheet-template,application/x-kspread
GenericName=Spreadsheets
GenericName[x-test]=xxSpreadsheetsxx
Icon=kspread
