[Desktop Entry]
Name=Diagonal Inductor
Name[bs]=Dijagonalna zavojnica
Name[ca]=Diagonal Inductor
Name[ca@valencia]=Diagonal Inductor
Name[da]=Diagonal induktor
Name[de]=Diagonale Drosselspule
Name[el]=Διαγώνιο πηνίο
Name[en_GB]=Diagonal Inductor
Name[eo]=Diagonala Induktilo
Name[es]=Inductor diagonal
Name[et]=Diagonaalne induktor
Name[eu]=Induktore diagonala
Name[fr]=Inducteur en diagonale
Name[gl]=Bobina diagonal
Name[hu]=Átlós induktor
Name[it]=Induttore diagonale
Name[ka]=დიაგონალური ინდუქციური კოჭა
Name[kk]=Диагональдық индуктор
Name[ko]=대각선 인덕터
Name[lv]=Diagonāls induktors
Name[nb]=Diagonal spole
Name[nds]=Dwars Spool
Name[nl]=Diagonale spoel
Name[pl]=Diagonalna cewka
Name[pt]=Bobina Diagonal
Name[pt_BR]=Indutor diagonal
Name[ru]=Диагональная катушка индуктивности
Name[sk]=Diagonálna cievka
Name[sl]=Diagonalni induktor
Name[sv]=Diagonal induktans
Name[tr]=Diyagonal Endüktör
Name[uk]=Індуктивна котушка (діагонально)
Name[x-test]=xxDiagonal Inductorxx
Name[zh_TW]=對角導體
