[Desktop Entry]
Name=Scenegraph
Name[nb]=Scenegraph
Name[pt]=Cenografia
Name[pt_BR]=Cenografia
Name[uk]=Сценічна графіка
Name[x-test]=xxScenegraphxx
X-KDE-DirType=odg-collection
