[Desktop Entry]
Name=property
Name[et]=omadus
Name[pt]=propriedade
Name[pt_BR]=propriedade
Name[sv]=egenskap
Name[uk]=Властивість
Name[x-test]=xxpropertyxx
Name[zh_CN]=属性
