[Desktop Entry]
Name=soselection
Name[ca]=soselection
Name[ca@valencia]=soselection
Name[el]=soselection
Name[es]=selección so
Name[et]=SoSelection
Name[it]=soselection
Name[kk]=сахнатаңдау
Name[nb]=soselection
Name[nl]=so-selectie
Name[pl]=soselection
Name[pt]=selecção-so
Name[pt_BR]=seleção-so
Name[sk]=soselection
Name[sv]=soselection
Name[uk]=Вибір сцени
Name[x-test]=xxsoselectionxx
Name[zh_TW]=soselection
