[Desktop Entry]
Name=subgraph
Name[el]=υπο-γράφος
Name[nb]=under-graf
Name[pl]=pod-wykres
Name[pt]=sub-grafo
Name[pt_BR]=sub-grafo
Name[sv]=delgraf
Name[uk]=Елементи графічного оформлення
Name[x-test]=xxsubgraphxx
