[Desktop Entry]
Name=part ooio
Name[bg]=част ooio
Name[ca]=part ooio
Name[ca@valencia]=part ooio
Name[el]=part ooio
Name[es]=pieza ooio
Name[et]=Tükk ooio
Name[fi]=pala ooio
Name[it]=parte ooio
Name[kk]=ooio бөлігі
Name[nb]=uuiu-del
Name[nl]=deel ooio
Name[pl]=część ooio
Name[pt]=parte sses
Name[pt_BR]=paste sses
Name[ru]=часть ooio
Name[sk]=časť ooio
Name[sv]=uuiu-del
Name[uk]=Частинка ooio
Name[x-test]=xxpart ooioxx
Name[zh_TW]=part ooio
