[Desktop Entry]
Name=clamp-extra-large
Name[ca]=pinça extragran
Name[it]=morsetto-molto-grande
Name[nb]=klemme ekstra stor
Name[pl]=ekstra-duża-klamra
Name[pt]=grampo-extra-grande
Name[pt_BR]=grampo extra-grande
Name[ru]=Зажим (очень большой)
Name[sv]=klämmare-extrastor
Name[uk]=Дуже великий затискувач
Name[x-test]=xxclamp-extra-largexx
Name[zh_TW]=超大夾子
