[Desktop Entry]
Name=condenser-pale-blue
Name[ca]=condensador-blau-pàlid
Name[el]=condenser-pale-blue
Name[it]=condensatore-celeste
Name[nb]=kondensator-lys-blå
Name[nl]=condenser-bleekblauw
Name[pl]=chłodnica-blado-niebieska
Name[pt]=condensador-azul-claro
Name[pt_BR]=condensador azul-claro
Name[ru]=Конденсор (бледно-голубой)
Name[sv]=kylare-blekblå
Name[uk]=Холодильник (блідо-синій)
Name[x-test]=xxcondenser-pale-bluexx
Name[zh_TW]=冷凝器-淡藍
