[Desktop Entry]
Name=condenser-black
Name[el]=condenser-black
Name[nl]=condenser-zwart
Name[pt]=condensador-preto
Name[pt_BR]=condensador preto
Name[sv]=kylare-svart
Name[uk]=Холодильник (чорний)
Name[x-test]=xxcondenser-blackxx
