[Desktop Entry]
Name=condenser-liebig-vertical
Name[en_GB]=condenser-liebig-vertical
Name[fi]=kondensaattori-liebig-pystysuuntainen
Name[fr]=condenser-liebig-vertical
Name[nl]=condenser-liebig-verticaal
Name[x-test]=xxcondenser-liebig-verticalxx
