[Desktop Entry]
Name=ryan -Erlenmeyer Flask
Name[nl]=ryan -Erlenmeyerfles
Name[pt]=Frasco-Ryan-ErlenMeyer
Name[pt_BR]=Frasco-Ryan-ErlenMeyer
Name[uk]=Колба Ерленмеєра
Name[x-test]=xxryan -Erlenmeyer Flaskxx
