[Desktop Entry]
Name=sep-funnel-three-phases
Name[en_GB]=sep-funnel-three-phases
Name[fr]=sep-funnel-three-phases
Name[nl]=driefasenscheidingstrechter
Name[x-test]=xxsep-funnel-three-phasesxx
