[Desktop Entry]
Name=Rack36U
Name[bg]=Шкаф 36U
Name[bs]=Rack36U
Name[ca]=Rack36U
Name[ca@valencia]=Rack36U
Name[de]=Rack 36 HE
Name[el]=Rack36U
Name[es]=Rack 36U
Name[et]=Seadmekapp 36U
Name[fi]=Rack36U
Name[fr]=Rack36U
Name[gl]=Estante 36U
Name[hu]=Rack36U
Name[it]=Rack36U
Name[kk]=36U сөресі
Name[nb]=Rack36U
Name[nl]=Rack36U
Name[pl]=Rack36U
Name[pt]=Bastidor36U
Name[pt_BR]=Rack 36U
Name[ru]=Стойка 36U
Name[sk]=Rack36U
Name[sv]=Rack 36U
Name[uk]=Стійка 36 одиниць
Name[x-test]=xxRack36Uxx
Name[zh_CN]=Rack36U
Name[zh_TW]=機架 36U
