[Desktop Entry]
Name=OrganizerRack1U
Name[ca]=OrganizerRack1U
Name[ca@valencia]=OrganizerRack1U
Name[de]=OrganizerRack1U
Name[el]=OrganizerRack1U
Name[es]=Rack organizador 1U
Name[et]=OrganizerRack1U
Name[fr]=OrganizerRack1U
Name[gl]=Organizador de estantes 1U
Name[hu]=OrganizerRack1U
Name[it]=OrganizerRack1U
Name[kk]=1U кабель органайзері
Name[nb]=OrganizerRack1U
Name[nl]=OrganisatorRack1U
Name[pl]=OrganizerRack1U
Name[pt]=BastidorOrganizador1U
Name[pt_BR]=Rack Organizador 1U
Name[ru]=Кабельный органайзер 1U
Name[sk]=OrganizerRack1U
Name[sv]=Organiseringsrack 1U
Name[uk]=Стійка Organizer 1U
Name[x-test]=xxOrganizerRack1Uxx
Name[zh_TW]=OrganizerRack1U
