[Desktop Entry]
Name=OrganizadorRack2U
Name[en_GB]=OrganizadorRack2U
Name[fi]=OrganizadorRack2U
Name[fr]=OrganizadorRack2U
Name[nl]=OrganisatorRack2U
Name[x-test]=xxOrganizadorRack2Uxx
