[Desktop Entry]
Name=Router
Name[ca]=Encaminador
Name[ca@valencia]=Encaminador
Name[cs]=Router
Name[de]=Router
Name[el]=Δρομολογητής
Name[es]=Enrutador
Name[et]=Ruuter
Name[fi]=Reititin
Name[gl]=Router
Name[hu]=Router
Name[it]=Router
Name[kk]=Маршруттауыш
Name[nb]=Ruter
Name[nds]=Nettweger
Name[nl]=Router
Name[pl]=Router
Name[pt]=Encaminhador
Name[pt_BR]=Roteador
Name[ru]=Маршрутизатор
Name[sk]=Router
Name[sl]=Usmerjevalnik
Name[sv]=Router
Name[uk]=Маршрутизатор
Name[x-test]=xxRouterxx
Name[zh_CN]=路由器
Name[zh_TW]=路由器
