[Desktop Entry]
Name=ServerRack2U
Name[et]=ServerRack2U
Name[nl]=ServerRack2U
Name[pt]=BastidorServidor2U
Name[pt_BR]=Rack de servidor 2U
Name[sv]=Serverrack 2U
Name[uk]=Серверна стійка 2U
Name[x-test]=xxServerRack2Uxx
