[Desktop Entry]
Name=ServerRack5U
Name[et]=ServerRack5U
Name[pt]=BastidorServidor5U
Name[pt_BR]=Rack de servidor 5U
Name[sv]=Serverrack 5U
Name[uk]=Серверна стійка 5U
Name[x-test]=xxServerRack5Uxx
