[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KChart JPEG Export Filter
Name[da]=KChart JPEG-eksportfilter
Name[es]=Filtro de exportación a JPEG para KChart
Name[ga]=Scagaire Easpórtála JPEG KChart
Name[it]=Filtro di esportazione JPEG per KChart
Name[ja]=KChart JPEG エクスポートフィルター
Name[pt]=Filtro de Exportação de JPEG para o KChart
Name[pt_BR]=Filtro de Exportação de JPEG para o KChart
Name[sv]=Kchart JPEG-exportfilter
Name[xx]=xxKChart JPEG Export Filterxx
X-KDE-Import=application/x-kchart
X-KDE-Export=image/jpeg
X-KDE-Weight=1
X-KDE-Library=libkchartjpegexport
ServiceTypes=KOfficeFilter
