[Desktop Entry]
Name=Shape definition
Type=ServiceType
X-KDE-ServiceType=Calligra/Shape
Comment=Definition of a flake shape object
[PropertyDef::X-Flake-MinVersion]
Type=int
[PropertyDef::X-Flake-PluginVersion]
Type=int
[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString
