[Desktop Entry]
Name=Shape border definition
Name[ca@valencia]=Definició de forma de la vora
Type=ServiceType
X-KDE-ServiceType=Calligra/Border
Comment=Definition of a flake shape border
Comment[ca@valencia]=Definició d'una vora en forma de floc
[PropertyDef::X-Flake-Version]
Type=int
