[Desktop Entry]
Name=Shape border definition
Type=ServiceType
X-KDE-ServiceType=Calligra/Border
Comment=Definition of a flake shape border
[PropertyDef::X-Flake-PluginVersion]
Type=int
[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString
