[Desktop Entry]
Name=KGraph
Exec=kgraph
X-KDE-Library=libkgraph
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
Comment=KGraph - Graphs for Engineers
Comment[no]=KGraph - grafikk for ingeniører
MimeType=application/x-kgraph
Type=Application
Icon=exec
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/x-kgraph
