[Desktop Entry]
Encoding=UTF-8
X-KDE-Export=image/svg+xml
ExportDescription=SVG
Icon=
X-KDE-Import=application/x-kformula
X-KDE-Weight=1
ImportDescription=KFormula
Name=KFormula SVG Export Filter
Name[es]=Filtro de exportación a SVG de KFormula
Name[ga]=Scagaire Easpórtála SVG KFormula
Name[pt]=Filtro de Exportação de SVG para o KFormula
Name[pt_BR]=Filtro de Exportação de SVG para o KFormula
Name[sv]=Kformula SVG-exportfilter
ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=libkfosvgexport
