[Desktop Entry]
Name=Flow Dockers plugin
Name[ca]=Connector de Dockers per al Flow
Name[ca@valencia]=Connector de Dockers per al Flow
Name[da]=Dokker-plugin til Flow
Name[de]=Flow-Docker-Modul
Name[el]=Πρόσθετο προσάρτησης του Flow
Name[en_GB]=Flow Dockers plugin
Name[es]=Complemento de ventanas acoplables de Flow
Name[et]=Flow dokkide plugin
Name[fi]=Flow’n telakointiliitännäinen
Name[fr]=Module externe de panneaux
Name[gl]=Engadido Flow Dockers
Name[hu]=Flow dokkoló bővítmény
Name[it]=Estensione per i ganci di Flow
Name[ja]=Flow ドッキングパネル・プラグイン
Name[kk]=Flow докерлер плагині
Name[nb]=Flow Dockers programtillegg
Name[nds]=Andockmoduul för Flow
Name[nl]=Vastzetterplug-in voor Flow
Name[pl]=Wtyczka dokowań Flow
Name[pt]='Plugin' de Módulos Acopláveis do Flow
Name[pt_BR]=Plugin de módulos acopláveis do Flow
Name[ru]=Модуль панелей Flow
Name[sk]=Plugin dockerov Flow
Name[sv]=Flow dockningsinsticksprogram
Name[uk]=Додаток панелей Flow
Name[x-test]=xxFlow Dockers pluginxx
Name[zh_CN]=Flow 停靠插件
Name[zh_TW]=Flow 嵌入外掛程式
X-KDE-ServiceTypes=Flow/Dock
Type=Service
X-KDE-Library=flowdockersplugin
X-Flake-MinVersion=4
X-Flake-PluginVersion=4
