[Desktop Entry]
Name=Pneumatic
Name[bs]=Pneumatski
Name[ca]=Pneumàtic
Name[ca@valencia]=Pneumàtic
Name[cs]=Pneumatický
Name[da]=Pneumatic
Name[de]=Pneumatik
Name[el]=Pneumatic
Name[en_GB]=Pneumatic
Name[eo]=Pneŭmatiko
Name[es]=Neumático
Name[et]=Pneumaatika
Name[eu]=Pneumatika
Name[fr]=Pneumatique
Name[gl]=Pneumática
Name[hu]=Pneumatikus
Name[it]=Pneumatico
Name[ja]=気圧
Name[ka]=პნევმატური
Name[kk]=Пневматика
Name[ko]=공압
Name[lt]=Pneumatinis
Name[lv]=Pneimatisks
Name[nb]=Trykkluft
Name[nl]=Pneumatisch
Name[pl]=Pneumatyka
Name[pt]=Pneumático
Name[pt_BR]=Pneumático
Name[ru]=Пневматический
Name[sk]=Pneumatické
Name[sl]=Pnevmatika
Name[sv]=Pneumatik
Name[tr]=Havalı
Name[uk]=Пневматика
Name[x-test]=xxPneumaticxx
Name[zh_TW]=充氣裝置
X-KDE-DirType=odg-collection
