[Desktop Entry]
Name=Misc
Name[bg]=Разни
Name[ca]=Miscel·lània
Name[ca@valencia]=Miscel·lània
Name[cs]=Různé
Name[de]=Diverses
Name[el]=Διάφορα
Name[es]=Miscelánea
Name[et]=Muu
Name[fi]=Sekalaista 2
Name[ga]=Éagsúil
Name[hu]=Egyéb
Name[it]=Varie
Name[kk]=Түрлі басқа
Name[nb]=Div
Name[nl]=Diversen
Name[pl]=Różne
Name[pt]=Diversos
Name[pt_BR]=Diversos
Name[ru]=Разное
Name[sk]=Rôzne
Name[sl]=Razno
Name[sv]=Diverse
Name[ug]=ئارىلاش
Name[uk]=Різне
Name[x-test]=xxMiscxx
Name[zh_CN]=杂项
Name[zh_TW]=其他
X-KDE-DirType=odg-collection
