[Desktop Entry]
Name=Karbon Tools
Name[ca@valencia]=Eines del Karbon
X-KDE-ServiceTypes=Calligra/Tool
Type=Service
X-KDE-Library=karbontools
X-Flake-MinVersion=4
X-Flake-PluginVersion=4
