[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/CreditCardTracker.kst
Name=Credit Card Tracker
Name[bg]=Кредитна карта
Name[ca]=Rastrejador de targetes de crèdit
Name[cs]=Sledování kreditky
Name[cy]=Dilynnydd Cerdyn Credyd
Name[da]=Kreditkortsfølger
Name[de]=Kreditkarten-Programm
Name[el]=Εποπτεία πιστωτικών καρτών
Name[es]=Rastreador de tarjetas de crédito
Name[et]=Krediitkaardi jälgija
Name[eu]=Kreditu-txartelaren aztarnaria
Name[fi]=Luottokorttitapahtumien seuranta
Name[fr]=Traqueur de carte de crédit
Name[hi]=क्रेडिट कार्ड ट्रेकर
Name[hr]=Pratioc kreditnih kartica 
Name[hu]=Névjegykártya-követő
Name[is]=Kreditkorts yfirlit
Name[it]=Carta di credito
Name[ja]=クレジットカード管理表
Name[km]=ឧបករណ៍​តាមដាន​កាត​ឥណទាន
Name[ms]=Pengesan Kad Kredit
Name[nb]=Kredittkortbruk
Name[nl]=Creditkaart-programma
Name[nn]=Kredittkortbruk
Name[pl]=Zestawienie transakcji kartą kredytową
Name[pt]=Gestão do Cartão de Crédito
Name[pt_BR]=Verificador de Cartão de Crédito
Name[ru]=Кредитная карточка
Name[se]=Vealggásgoartageavaheapmi
Name[sk]=Sledovanie kreditných kariet
Name[sl]=Sledilnik kreditnim karticam
Name[sr]=Пратилац кредитне картице
Name[sr@Latn]=Pratilac kreditne kartice
Name[sv]=Kreditkortsöversikt
Name[tg]=Моили Варақаи Қарз
Name[tr]=Kredi Kartı Takipçisi
Name[uk]=Використання кредитної картки
Name[zh_CN]=信用卡流水账
Name[zh_TW]=信用卡紀錄
Icon=template_creditcardtracker
