[Desktop Entry]
Name=conn
Name[ca]=conn
Name[el]=conn
Name[it]=conn
Name[nb]=tilkobling
Name[nl]=conn
Name[pl]=połączenie
Name[pt]=ligação
Name[pt_BR]=conexão
Name[sv]=anslutning
Name[uk]=З’єднання
Name[x-test]=xxconnxx
Name[zh_TW]=conn
