[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Karbon/CoreModule
Comment=Core functionality module for Karbon
Comment[ca]=Mòdul principal de funcionabilitat per a Karbon
Comment[cy]=Modiwl swyddogaeth craidd ar gyfer Karbon
Comment[da]=Kernefunktionalitetsmodul for Karbon
Comment[de]=Kernmodul für Karbon
Comment[el]=Άρθρωμα βασικών λειτουργιών για το  Karbon
Comment[es]=Módulo de funcionalidad principal para Karbon
Comment[et]=Karboni tuumikfunktsioonide moodul
Comment[fi]=Karbonin perustoiminnallisuusmoduuli
Comment[fr]=Module de fonctionnalités centrales de Karbon
Comment[he]=ליבת המודולים של Karbon
Comment[hu]=Karbon alapmodul
Comment[is]=Grunnvirkni eining fyrir Karbon
Comment[it]=Modulo di funzionalità fondamentale per Karbon
Comment[ja]=Karbonの中核的な機能モジュール
Comment[km]=ម៉ូឌុល​មុខងារ​ស្នូល​សម្រាប់ Karbon
Comment[lv]=Pamatfunkcionalitātes modulis priekš Karbon
Comment[nl]=Kernfunctionaliteitmodule voor Karbon
Comment[pl]=Moduł podstawowej funkcjonalności dla Karbon
Comment[pt]=Módulo de funcionalidade de base para o Karbon
Comment[pt_BR]=Módulo de funcionalidade básica para o Karbon
Comment[ru]=Базовый модуль Karbon
Comment[sk]=Základný funkčný modul pre Karbon
Comment[sl]=Modul za osnovne zmožnosti Karbona
Comment[sr]=Модул основне функционалности за Karbon
Comment[sr@Latn]=Modul osnovne funkcionalnosti za Karbon
Comment[sv]=Modul med kärnfunktioner för Karbon
Comment[uk]=Модуль базової функціональності Karbon
Comment[zh_CN]=Karbon 的核心功能模块
Comment[zh_TW]=Karbon 的核心功能模組
