[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/Connection8.atf
Name=Connection 08
Name[af]=verbinding 08
Name[ar]=الإتصال 08
Name[az]=8. Bağlantı
Name[bg]=Връзка 08
Name[bs]=Veza 08
Name[cs]=Spoj 08
Name[da]=Forbindelse 08
Name[de]=Verbindung 08
Name[el]=Σύνδεση 08
Name[eo]=Konektilo 08
Name[es]=Conexión 08
Name[et]=Ühendus 08
Name[fi]=Yhteys 08
Name[fo]=Sambinding 08
Name[fr]=Connexion 08
Name[he]=חיבור 08
Name[hr]=Veza 08
Name[hu]=8. kapcsolat
Name[id]=Hubungan 08
Name[is]=Tenging 08
Name[it]=Connessione 08
Name[ja]=接続 08
Name[lt]=Prisijungimas 08
Name[lv]=Savienojums 08
Name[mt]=Konnessjoni 08
Name[nb]=Kobling 08
Name[nl]=Verbinding 08
Name[nn]=Samband 08
Name[pl]=Połączenie 08
Name[pt]=Ligação 08
Name[pt_BR]=Conexão 08
Name[ro]=Conexiunea 08
Name[ru]=Соединение 08
Name[sk]=Spojenie 08
Name[sl]=Povezava 08
Name[sr]=Veza 08
Name[sv]=Anslutning 08
Name[ta]=­¨½ôÒ 08
Name[th]=การเชื่อมต่อที่ 08
Name[uk]=З'єднання 08
Name[ven]=Vhukwamani ha 08
Name[wa]=Raloyaedje 08
Name[xh]=Udibaniso 08
Name[xx]=xx
Name[zh_CN]=连接 08
Name[zh_TW]=連接 08
Name[zu]=Uxhumaniso lwesishagalombili 08
Icon=.icon/Connection8.png
