[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/Connection7.atf
Name=Connection 07
Name[af]=Verbinding 07
Name[ar]=إتصال 07
Name[az]=7. Bağlantı
Name[bg]=Връзка 07
Name[br]=Kevreadur 07
Name[bs]=Veza 07
Name[ca]=Connexió 07
Name[cs]=Spoj 07
Name[cy]=Cysylltiad 07
Name[da]=Forbindelse 07
Name[de]=Verbindung 07
Name[el]=Σύνδεση 07
Name[eo]=Konekto 07
Name[es]=Conexión 07
Name[et]=Ühendus 07
Name[eu]=Konexioa 07
Name[fa]=ارتباط ۰۷
Name[fi]=Yhteys 07
Name[fo]=Sambinding 07
Name[fr]=Connexion 07
Name[ga]=Nasc 07
Name[gl]=Conexón 07
Name[he]=חיבור 07
Name[hr]=Veza 07
Name[hu]=7. kapcsolat
Name[id]=Hubungan 07
Name[is]=Tenging 07
Name[it]=Connessione 07
Name[ja]=接続 07
Name[lo]=ການເຊື່ອມຕໍ່ທີ 07
Name[lt]=Prisijungimas 07
Name[lv]=Savienojums 07
Name[mt]=Konnessjoni 07
Name[nb]=Kobling 07
Name[nl]=Verbinding 07
Name[nn]=Samband 07
Name[pl]=Połączenie 07
Name[pt]=Ligação 07
Name[pt_BR]=Conexão 07
Name[ro]=Conexiunea 07
Name[ru]=Соединение 07
Name[se]=Oktavuohta 07
Name[sk]=Spojenie 07
Name[sl]=Povezava 07
Name[sr]=Веза 07
Name[sr@Latn]=Veza 07
Name[sv]=Anslutning 07
Name[ta]=இணைப்பு 07
Name[tg]=Алоқа 07
Name[th]=การเชื่อมต่อที่ 07
Name[tr]=07. Bağlantı
Name[uk]=З'єднання 07
Name[uz]=Уланиш 07
Name[ven]=Vhukwamani ha 07
Name[wa]=Raloyaedje 07
Name[xh]=Unxulumano 07
Name[xx]=xxConnection 07xx
Name[zh_CN]=连接 07
Name[zh_TW]=連接 07
Name[zu]=Uxhumaniso lwesikhombisa 07
Icon=.icon/Connection7.png
