[Desktop Entry]
Name=b-sens
Name[bs]=b-sens
Name[ca]=b-sens
Name[ca@valencia]=b-sens
Name[da]=b-sens
Name[de]=Sensor - unten
Name[el]=b-sens
Name[en_GB]=b-sens
Name[eo]=b-sens
Name[es]=sensor b
Name[et]=Alumine sensor
Name[eu]=b-sens
Name[fr]=b-sens
Name[gl]=Sensor B
Name[it]=b-sens
Name[ka]=სენსორი (ქვემოდან)
Name[kk]=b-sens
Name[lv]=b-sens
Name[nb]=b-sens
Name[nl]=b-sens
Name[pl]=b-sens
Name[pt]=b-sensor
Name[pt_BR]=b-sensor
Name[ru]=b-sens
Name[sk]=b-sens
Name[sl]=b-sens
Name[sv]=b-sensor
Name[tr]=sensör-aşağı
Name[uk]=Датчик (знизу)
Name[x-test]=xxb-sensxx
Name[zh_TW]=b-sens
