[Desktop Entry]
Name=Container
Name[es]=Contenedor
Name[et]=Konteiner
Name[pt]=Contentor
Name[pt_BR]=Contentor
Name[sv]=Behållare
Name[uk]=Контейнер
Name[x-test]=xxContainerxx
Name[zh_CN]=容器
