[Desktop Entry]
Name=Horizontal Valve
Name[et]=Horisontaalne siiber
Name[pt]=Válvula Horizontal
Name[sv]=Horisontell ventil
Name[uk]=Горизонтальний клапан
Name[x-test]=xxHorizontal Valvexx
