[Desktop Entry]
Name=Rotor
Name[bg]=Ротор
Name[ca]=Rotor
Name[de]=Rotor
Name[el]=Στροφέας
Name[et]=Rootor
Name[it]=Rotore
Name[nb]=Rotor
Name[nds]=Rotor
Name[nl]=Rotor
Name[pl]=Wirnik
Name[pt]=Rotor
Name[pt_BR]=Rotor
Name[sv]=Rotor
Name[uk]=Ротор
Name[x-test]=xxRotorxx
Name[zh_TW]=轉動部件
