[Desktop Entry]
Name=Horizontal Compressor
Name[el]=Οριζόντιος συμπιεστής
Name[et]=Horisontaalne kompressor
Name[pt]=Compressor Horizontal
Name[pt_BR]=Compressor horizontal
Name[sv]=Horisontell kompressor
Name[uk]=Горизонтальний компресор
Name[x-test]=xxHorizontal Compressorxx
