[Desktop Entry]
Name=Horizontal Compressor
Name[et]=Horisontaalne kompressor
Name[pt]=Compressor Horizontal
Name[uk]=Горизонтальний компресор
Name[x-test]=xxHorizontal Compressorxx
