[Desktop Entry]
Name=Horizontal Compressor
Name[bg]=Хоризонтален компресор
Name[el]=Οριζόντιος συμπιεστής
Name[et]=Horisontaalne kompressor
Name[nb]=Vannrett kompressor
Name[nds]=Kimmrecht Kompressor
Name[nl]=Horizontale compressor
Name[pt]=Compressor Horizontal
Name[pt_BR]=Compressor horizontal
Name[sv]=Horisontell kompressor
Name[uk]=Горизонтальний компресор
Name[x-test]=xxHorizontal Compressorxx
Name[zh_TW]=水平壓縮機
