[Desktop Entry]
Name=Water Level
Name[bg]=Ниво на водата
Name[de]=Wasserspiegel
Name[el]=Επίπεδο ύδατος
Name[et]=Veetase
Name[it]=Livello dell'acqua
Name[nb]=Vannstand
Name[nds]=Waterstand
Name[nl]=Waterpas
Name[pl]=Poziom wody
Name[pt]=Nível Água
Name[pt_BR]=Nível da água
Name[sv]=Vattennivå
Name[uk]=Рівень води
Name[x-test]=xxWater Levelxx
Name[zh_TW]=水平等級
