[Desktop Entry]
Name=Looping-Collapsed-Sub-Process
Name[bs]=Ponavljajući prošireni subproces
Name[ca]=Bucle-Subprocés-Col·lapsat
Name[ca@valencia]=Bucle-Subprocés-Col·lapsat
Name[da]=Looping-Collapsed-Sub-Process
Name[de]=Schleife - Zugeklappter Teilprozess
Name[el]=Βρόχος-υπο-διεργασίας-σε-κατάρρευση
Name[en_GB]=Looping-Collapsed-Sub-Process
Name[eo]=Looping-kolapsis-Sub-Procezo
Name[es]=Ciclo de subproceso colapsado
Name[et]=Korduv suletud alamprotsess
Name[eu]=Errepikapena-Azpiprozesu tolestua
Name[fr]=Sous-processus de boucle en échec
Name[gl]=Subproceso recollido nun bucle
Name[it]=Sottoprocesso-di-Looping-Compresso
Name[ka]=ციკლური-ჩაკეცილი-ქვეპროცესი
Name[kk]=Циклді бүктелген ішкі процесі
Name[ko]=Looping-Collapsed-Sub-Process
Name[lv]=Ciklo sakļautu apakšprocesu
Name[nb]=Sløyfe-sammenfoldet-underprosess
Name[nl]=Rondgaan-ingevouwen-subproces
Name[pl]=Zapętlanie-Zwiniętego-Pod-Procesu
Name[pt]=Sub-Processo-Recolhido-Ciclo
Name[pt_BR]=Subprocesso recolhido de ciclo
Name[ru]=Циклический свёрнутый подпроцесс
Name[sk]=Looping-Collapsed-Sub-Process
Name[sl]=Zankanje-strnjeno-pod-proces
Name[sv]=Upprepad-sammanslagen-delprocess
Name[tr]=Döngü Çöken Alt Süreç
Name[uk]=Циклічно згорнутий підпроцес
Name[x-test]=xxLooping-Collapsed-Sub-Processxx
Name[zh_CN]=循环-折叠子进程
Name[zh_TW]=循環─折疊─子行程
