[Desktop Entry]
Name=Start-Event-Link
Name[bs]=Veza početnog događaja
Name[ca]=Inicia-Esdeveniment-Enllaç
Name[ca@valencia]=Inicia-Esdeveniment-Enllaç
Name[da]=Start-Event-Link
Name[de]=Startereignis - Link
Name[el]=Σύνδεσμος-γεγονότος-εκκίνησης
Name[en_GB]=Start-Event-Link
Name[eo]=Komenco-Evento-Ligilo
Name[es]=Enlace al evento inicial
Name[et]=Algussündmuse link
Name[eu]=Hasierako gertaera-Esteka
Name[fr]=Démarrage de lien d'évènement
Name[gl]=Evento inicial de ligazón
Name[hu]=Indítás-Esemény-Hivatkozás
Name[it]=Evento-iniziale-Collegamento
Name[ka]=დაწყების-მოვლენა-ბმული
Name[kk]=Бастау-оқиға-сілтеме
Name[ko]=시작-이벤트-링크
Name[lv]=Sākuma notikums saite
Name[nb]=Start-hendelse-lenke
Name[nl]=Begin-gebeurtenis-koppeling
Name[pl]=Odnośnik-Zdarzenia-Rozpoczynającego
Name[pt]=Evento-Inicial-Ligação
Name[pt_BR]=Link do evento inicial
Name[ru]=Начальное событие - связь
Name[sk]=Start-Event-Link
Name[sl]=Začetek dogodka - povezava
Name[sv]=Starthändelse-länk
Name[tr]=Başlat Etkinlik Bağlantı
Name[uk]=Посилання на початкову подію
Name[x-test]=xxStart-Event-Linkxx
Name[zh_CN]=开始事件-连接
Name[zh_TW]=開始─事件─連結
