[Desktop Entry]
Encoding=UTF-8
Icon=template_bluebreezesingle
Name=Blue Breeze Single
Name[x-test]=xxBlue Breeze Singlexx
Comment=A peaceful presentation with a title and single large text area
Comment[x-test]=xxA peaceful presentation with a title and single large text areaxx
Type=Link
URL=.source/BlueBreezeSingle.kpt
X-KDE-Hidden=false
