[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/kde.kpt
Name=KDE
Name[af]=Kde
Name[bg]=КДЕ
Name[xx]=xxKDExx
Comment=A presentation with original KDE theming
Comment[eo]=Prezento kun originala temo de KDE
Comment[es]=Una presentación con el tema original de KDE
Comment[pt]=Uma apresentação com o tema original do KDE
Comment[pt_BR]=Uma apresentação com o tema original do KDE
Comment[sv]=En presentation med KDE-originaltema
Comment[xx]=xxA presentation with original KDE themingxx
Icon=template_kde
