[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KWord WinWord 97 Filter
Name[af]=kword winword 97 filter
Name[ar]=استيراد من وورد 97 الى KWaord
Name[az]=KWord WinWord 97 Süzgəci
Name[bg]=Филтър от WinWord97 в KWord
Name[ca]=Filtre WinWord 97 per a KWord
Name[cs]=Filtr WinWord 97 pro KWord
Name[da]=KWord Winword97-filter
Name[de]=KWord-Filter für MS WinWord 97
Name[el]=Φίλτρο WinWord 97 του KWord
Name[eo]=Verkilo-Vinvorto 97-filtrilo
Name[es]=Filtro Word 97 para Windows de KWord
Name[et]=KWordi WinWord97 filter
Name[fi]=KWord MS WinWord97 -suodin
Name[fr]=Filtre WinWord 97 de KWord
Name[he]=מסנן WinWord 97 ל-KWord
Name[hu]=KWord WinWord 97 szűrő
Name[id]=Filter WinWord KWord
Name[is]=Word97-sía f. KWord
Name[it]=Filtro WinWord 97 per KWord
Name[ja]=KWord WinWord 97 フィルター
Name[lt]=KWord WinWord 97 filtras
Name[lv]=KWord WinWord 97 Filtrs
Name[mk]=KWord WinWord 97 филтер
Name[mt]=Filtru Word 97 għal KWord
Name[nb]=KWord WinWord 97-filter
Name[nl]=KWord's WinWord97-filter
Name[nn]=WinWord 97-filter for KWord
Name[pl]=Filtr KWord do formatu MS Word97
Name[pt]=Filtro de WinWord 97 do KWord
Name[pt_BR]=Filtro WinWord 97 do KWord
Name[ro]=Filtru KWord pentru WinWord 97
Name[ru]=Фильтр из WinWord97 в KWord
Name[sk]=Winword97 Filter pre KWord
Name[sl]=Filter za WinWord 97 v KWord
Name[sr]=KWord WinWord 97 filter
Name[sv]=Kword Winword 97-filter
Name[ta]=KWord WinWord 97 ÅÊ¸ðÊ
Name[th]=ตัวกรอง WinWord 97 ของเอกสารข้อความ K
Name[uk]=Фільтр MS WinWord 97 для KSpreadComment
Name[ven]=Fhungo la K WinWord 97 Filithara
Name[wa]=Passete WinWord 97 po KWord
Name[xh]=KWord WinWord 97 Icebo lokucoca ulwelo
Name[xx]=xx
Name[zh_CN]=KWord WinWord 97 过滤程序
Name[zh_TW]=KWord WinWord 97 過濾程式
Name[zu]=KWord WinWord 97 Icebo lokuhlaziya ifayela
X-KDE-Export=application/x-kword
X-KDE-Import=application/msword
X-KDE-Weight=1
X-KDE-Library=libolefilter
ServiceTypes=KOfficeFilter
