[Desktop Entry]
X-KDE-Library=libkivioconnectortool
Name=ConnectorTool for Kivio
Name[af]=KONNEKTEER GEREEDSKAP VIR KIVIO
Name[az]=Kivio üçün bağlantı vasitəsi
Name[bg]=ConnectorTool за Kivio
Name[ca]=Eina connectora per a Kivio
Name[cs]=Spojovací nástroj pro Kivio
Name[da]=Connector værktøj for Kivio
Name[de]=Verbindungs-Programm für Kivio
Name[el]=ConnectorTool για Kivio
Name[eo]=Konektilo por Kivio
Name[es]=Herramienta Conector para Kivio
Name[et]=Kivio ühenduste loomise tööriist
Name[fi]=Yhdistystyökalu Kivioon
Name[fr]=Outil de connexion de Kivio
Name[he]=Kivio רובע רוביח ילכ
Name[hu]=Összekapcsoló eszköz a Kivio-hoz
Name[is]=Tengingatól Kivio
Name[it]=StrumentoConnessione per Kivio
Name[ja]=Kivio コネクタツール
Name[lt]=ConnectorTool skirtas Kivio
Name[lv]=Savienotāju Rīks priekš Kivio
Name[mt]=Għodda tal-Konnessjoni għall-Kivio
Name[nl]=Verbindingsgereedschap voor Kivio
Name[no]=Koblingsverktøy for Kivio
Name[no_NY]=Sambandsverktøy for Kivio
Name[pl]=Narzędzie łącznika dla Kivio
Name[pt_BR]=Ferramenta de conexão para o Kivio
Name[pt]=ConnectorTool para o Kivio
Name[ru]=ConnectorTool для Kivio
Name[sk]=Spojovací nástroj pre Kivio
Name[sl]=Priključno orodje za Kivio
Name[sr]=Alat za spajanje za Kivio
Name[sv]=Kopplingsverktyg för Kivio
Name[ta]=Kivio ­¨½ôÒì¸ÕÅ¢
Name[tr]=Kivio için bağlantı aracı
Name[uk]=Засіб з'єднання для Kivio
Name[vi]=Trình nối cho Kivio 
Name[zh_CN.GB2312]=Kivio 连接件工具
Name[zh_TW.Big5]=Kivio 的連結工具
Type=Service
ServiceTypes=KPlugin
