[Desktop Entry]
Name=Decision
Name[es]=Decisión
Name[et]=Otsus
Name[nb]=Avgjørelse
Name[nl]=Beslissing
Name[pt]=Decisão
Name[pt_BR]=Decisão
Name[sv]=Beslut
Name[uk]=Рішення
Name[x-test]=xxDecisionxx
