[Desktop Entry]
Name=Return
Name[bg]=Връщане
Name[bs]=Odgovor
Name[ca]=Retorna
Name[ca@valencia]=Retorna
Name[da]=Return
Name[el]=Επιστροφή
Name[es]=Volver
Name[et]=Tagastus
Name[fi]=Palauta
Name[fr]=Retour
Name[gl]=Retorno
Name[hu]=Return
Name[it]=Ritorno
Name[kk]=Қайтарылу
Name[nb]=Returner
Name[nl]=Return
Name[pl]=Zwróć
Name[pt]=Retorno
Name[pt_BR]=Retorno
Name[ru]=Возврат
Name[sk]=Vrátiť
Name[sl]=Vrni
Name[sv]=Retur
Name[ug]=Return
Name[uk]=Повернення
Name[x-test]=xxReturnxx
Name[zh_CN]=返回
Name[zh_TW]=傳回
