[Desktop Entry]
Name=Save
Name[bg]=Запазване
Name[ca]=Desa
Name[ca@valencia]=Alça
Name[cs]=Uložit
Name[de]=Speichern
Name[el]=Αποθήκευση
Name[es]=Guardar
Name[et]=Salvestamine
Name[fi]=Tallenna
Name[fr]=Enregistrer
Name[hu]=Mentés
Name[it]=Salva
Name[kk]=Сақтау
Name[nb]=Lagre
Name[nds]=Sekern
Name[nl]=Opslaan
Name[pl]=Zapisz
Name[pt]=Gravação
Name[pt_BR]=Gravação
Name[ru]=Сохранить
Name[sk]=Uložiť
Name[sl]=Shrani
Name[sv]=Spara
Name[ug]=ساقلا
Name[uk]=Збереження
Name[x-test]=xxSavexx
Name[zh_CN]=保存
Name[zh_TW]=儲存
