[Desktop Entry]
Name=Service
Name[el]=Υπηρεσία
Name[es]=Servicio
Name[et]=Teenus
Name[nb]=Tjeneste
Name[pt]=Serviço
Name[pt_BR]=Serviço
Name[sv]=Tjänst
Name[ug]=مۇلازىمەت
Name[uk]=Служба
Name[x-test]=xxServicexx
Name[zh_CN]=服务
