[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Karbon Kontour Import Filter
Name[cs]=Importní filtr Kontour pro Karbon14
Name[da]=Karbon Kontour-importfilter
Name[de]=Karbon14-Import für Kontour-Dateien
Name[el]=Φίλτρο εισαγωγής Kontour του Karbon
Name[eo]=Karbon-Konturilo-importfiltrilo
Name[es]=Filtro de importación a Kontour de Karbon
Name[et]=Karbon14 Kontouri importfilter
Name[fr]=Filtre d'importation Kontour de Karbon
Name[he]=מסנן ייבוא מ-Kontour ל-Karbon
Name[hu]=Karbon Kontour importszűrő
Name[it]=Filtro di importazione Kontour per Karbon
Name[ja]=Karbon Kontour インポートフィルター
Name[lv]=Karbon Kontour Importa Filtrs
Name[mt]=Filtru għall-importazzjoni ta' Kontour ġo Karbon14
Name[nb]=Karbon Kontour importfilter
Name[nl]=Karbon 14 Kontour Importfilter
Name[nn]=Kontour-importfilter for Karbon
Name[pl]=Filtr importu formatu Kontour do Karbon14
Name[pt]=Filtro de Importação do Kontour do Karbon
Name[pt_BR]=Filtro de importação do Karbon Kontour
Name[ru]=Фильтр импорта рисунков Kontour в Karbon
Name[sk]=Karbon filter pre import pre Kontour
Name[sl]=Uvozni filter Kontour za Karbonr
Name[sv]=Karbon Kontour-importfilter
Name[th]=ตัวกรองการนำเข้าภาพวาด K ของคาร์บอน14
Name[uk]=Фільтр імпорту файлів Kontour для Karbon
Name[zh_TW]=Kontour Kontour 匯入過濾程式
X-KDE-Export=application/x-karbon
X-KDE-Import=application/x-kontour
X-KDE-Weight=1
X-KDE-Library=libkarbonkontourimport
ServiceTypes=KOfficeFilter
