[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/fax.kwt
Name=Fax Template
Name[af]=faks werkvoorbeeld
Name[bs]=Predložak za fax
Name[cs]=Šablona faxu
Name[da]=Fax-skabelon
Name[de]=Faxvorlage
Name[el]=Πρότυπο φαξ
Name[eo]=Fakso-Ŝablono
Name[es]=Plantilla de fax
Name[et]=Faxi mall
Name[fi]=Faksipohja
Name[fr]=Modèle de fax
Name[he]=תבנית פקס
Name[hu]=Faxsablon
Name[it]=Modello fax
Name[ja]=Fax テンプレート
Name[lv]=Faksa Šabloni
Name[mt]=Mudell ta' faks
Name[nb]=Faksmal
Name[nl]=Faxsjabloon
Name[nn]=Faksmal
Name[pl]=Szablon faksu
Name[pt]=Modelo de Fax
Name[pt_BR]=Modelo de Fax
Name[ru]=Шаблон факса
Name[sk]=Šablóna faxu
Name[sl]=Predloga za faks
Name[sv]=Faxmall
Name[th]=ต้นแบบโทรสาร
Name[uk]=Шаблон факсу
Name[zh_TW]=傳真樣板
Icon=.icon/fax.png
