[Desktop Entry]
Type=Link
URL=.source/Test.kwt
Name=Test
Name[ca]=Prova
Name[el]=Τεστ
Name[eo]=Testo
Name[fi]=Kokeilu
Name[gl]=Proba
Name[he]=ןויסינ
Name[hr]=Proba
Name[hu]=Próba
Name[is]=Prufa
Name[ja]=テスト
Name[mk]=Проба
Name[pt]=Teste
Name[pt_BR]=Teste
Name[ru]=Тест
Name[sk]=Testovať
Name[sl]=Preizkus
Name[ta]=§º¡¾¨É
Name[tr]=Deneme
Name[uk]=Тест
Name[zh_CN.GB2312]=测试
Icon=.icon/Test.png
